[2022-07-06 16:45] fedepaol commented on #1476
@jtcarnes mind having a look here?

[2022-07-06 17:32] werwolfby commented on #1476
The same issue, with the same response or `raspbian` `arm64`.
Doesn't work on `v0.13.2` but works on `v0.12.1` with the same output.

[2022-07-06 17:44] TamCore commented on #1473
Please provide a parameter, to pass address-pools along through Helm values and throw an error if `configInline` is set (to prevent destroying existing deployments).

[2022-07-06 17:45] fedepaol commented on #1473
Yep, we were discussing with @gclawes about that. Not sure we can intercept `configInline` though

[2022-07-06 17:51] TamCore commented on #1473
What about
[code]
? Just with a more descriptive error?

[2022-07-06 17:56] jtcarnes commented on #1476
Issue was they were pegged to arm v6 when built. MR to fix it should be out. I invite those having an issue to build and ensure its working as expected. I've tested locally but want to make sure

[2022-07-06 17:57] TamCore commented on #1473
And at least for `IPAddressPool` objects I'd like to leave this one here. Saves me from having to open a PR :) That could at least be an easy fix, and make breaking changes "less breaking" :)
[code]
Works with values like
[code]
(tested in my homelab)

[2022-07-06 17:59] jr0dd commented on #1473
Everything went smooth for the most part. Just had to make some adjustments for Flux to not deploy the CR's before the chart is deployed. It did take a couple attempts to get the CR's loaded in the cluster.

[code]

[code]

[2022-07-06 18:14] jtcarnes commented on #1474
@fedepaol do we want to make the images have the leading v or not moving forward? I can make this a quick change

[2022-07-06 18:44] jr0dd commented on #1473
hmm definitely getting spammed with alerts every time flux reconciles my git repo because of that validating webhook.

[2022-07-06 18:48] fedepaol commented on #1473
Can you expand a bit? Are you getting the errors only after the initial metallb deployment (while the webhooks are being set up) or also after that? If the latter, would you mind filing a separate issue?

[2022-07-06 19:17] jr0dd commented on #1473
yeah it's after. i'll open a new issue regarding that.

[2022-07-06 19:18] fedepaol commented on #1473
Thanks! It would help to have the logs of the controller raised as debug via the -loglevel flag

[2022-07-06 19:33] druesendieb commented on #1473
First of all, thank you for your work in metallb, I am really happy to see progress here! 💯

I have mixed feelings about this issue and wanted to give feedback:

### Versioning

This release introduces breaking changes, but it's only a minor release.
One could argue, that due to this breaking change and according to semver a major version bump should've been done.

Especially with the use of depen

[2022-07-06 20:16] jr0dd opened #1481 "webhook 500 errors"
## environment

MetalLB `v0.13.2`
Kubernetes `v1.24.2`
CNI `cilium v1.11.6`
kube-proxy `not deployed`

## The bug itself, as detailed as you can.

After the initial install it took multiple attempts to apply the CR's to the cluster. The validating webhook was returning error 500 on the attempts and then finally accepted them. This greatly affects clusters managed through GitOps as reconciliations

[2022-07-06 20:20] fedepaol commented on #1481
Just to make sure (you kind of said that in https://github.com/metallb/metallb/issues/1473#issuecomment-1176517952 ), you are deploying via the helm chart right?

[2022-07-06 20:23] Walternrg4u commented on #5
We use a router with BGPD as a external router + Kubernetes cluster +
metallb. All they on Debian GNU/Linux.

On Fri, Jan 14, 2022 at 2:44 PM Kendall Tauser ***@***.***>
wrote:

[2022-07-06 20:38] fedepaol commented on #1473
There has been a pretty long discussion together with the previous (now retired) maintainers (@rata, @johananl and @gclawes).

MetalLB is respecting semantic versioning.
A "0" major version implies a non stable api by nature (see https://semver.org/), so any breaking changes between a 0.x and the next one may be breaking. Raising the major version would've meant to call the API and metallb stable,

[2022-07-06 20:45] jr0dd commented on #1481
Correct. It doesn't even look like  it's getting past the webhook to reach the controller the more I watch this. Ofc I could get around this by doing a patch delete with kustomize, but something is off. At least one other guy in the k8s@home discord had the same experience.

[2022-07-06 20:58] fedepaol commented on #1481
Another thing that could help are the logs of the apiserver, hoping it says a bit more than just "500"

[2022-07-06 20:59] fedepaol commented on #1481
also also (and then I'll go to bed), can you try a quick fix where you add the controller watch permisisons here https://github.com/metallb/metallb/blob/1fc030d4541eb5299025dbd5e8b8773e1b7b6570/charts/metallb/templates/rbac.yaml#L127 ?

[2022-07-06 21:11] druesendieb commented on #1473
Thanks for clarifying.

Don't get me wrong - just pointing out what I've obsevered.
As my initial message stated, I am very grateful for the hard work that is flowing into this project.

[2022-07-06 21:30] fedepaol commented on #1481
I am pretty sure the community error is not relevant to the webhook, but you never know..

[2022-07-06 21:36] krohrsb commented on #1476
Will the fix be retroactive, or shall we be waiting for a 0.13.3?

[2022-07-06 21:43] fedepaol commented on #1476
We'll publish a 0.13.3, probably tomorrow my morning (in 8 hours), because we don't want to recreate images with the same tag but different shas.

[2022-07-07 02:56] jr0dd commented on #1481
that got rid of the community spam, but not webhook errors

[2022-07-07 06:46] #1474 closed

[2022-07-07 06:46] markussiebert commented on #1481
I use the helm chart and have the same issue since yesterday. And metallb stoped working (not assigning L2 IP anymore)

[2022-07-07 07:30] werwolfby commented on #1476
@fedepaol I've checked on my pi:
[code]

Looks like this tag exactly works. Thank you.

[2022-07-07 07:32] fedepaol commented on #1476
Thanks @werwolfb! We need to wait a couple of prs to get in and we'll do a new release.

[2022-07-07 07:38] werwolfby commented on #1476
Will try full installation on clean PIs cluster in the morning (in ~8 hours).

Will let you know, thank you!

[2022-07-07 07:48] nick-oconnor commented on #1481
@fedepaol unsure if this is related, but the webook service is also missing selectors, i.e. https://github.com/metallb/metallb/blob/2f62620c2b9218f63901f5aaab4d59440f9c2622/charts/metallb/templates/webhooks.yaml#L159 appears to be missing `metallb.selectorLabels`. If users happen to have other pods deployed to the same namespace with the label `app.kubernetes.io/component: controller`, they'll be

[2022-07-07 08:14] fedepaol commented on #1481
Oh, that might be one cause. So depending on how the request to the service gets balanced, it might go to the right pod (metallb's controller) or to another one that is not able to serve the request.

 And @jr0dd 's namespace is "networking", so it _might_ be the case. I am gonna fix it anyway, but @jr0dd would you mind checking if you have other pods than the metallb's controller under `networkin

[2022-07-07 08:16] fedepaol commented on #1481
@markussiebert  were you getting the same 500 errors when applying resources? If so, can you check what I asked in https://github.com/metallb/metallb/issues/1481#issuecomment-1177234621 ?
Thanks!

[2022-07-07 08:29] nick-oconnor commented on #1481
should be fine as a guideline, however I do appreciate it when charts play nicely together in the same namespace (sometimes it's easier architecturally due to dependencies on common resources).

[2022-07-07 09:40] githubcdr opened #1488 "arm64 docker image does not work for 0.13.2"
[code]

Does not work on arm64 hosts, the wrong manifest gets pulled resulting in "exec /speaker: exec format error"

[2022-07-07 09:44] fedepaol commented on #1488
Thanks for the report, and sorry for the inconvenience. We are aware of the issue, and we are planning to craft a new release by the end of the day.
Closing as duplicate of https://github.com/metallb/metallb/issues/1476

[2022-07-07 09:44] #1488 closed

[2022-07-07 12:56] fedepaol commented on #1488
@githubcdr just released 0.13.3, which should fix arm support

[2022-07-07 14:53] claycooper opened #1489 "Links in docs are broken"
On https://metallb.universe.tf/configuration/ the 3rd, 4th, and 5th links under "Announce The Service IPs" lead to 404 errors.

[2022-07-07 15:09] #1481 closed, assigned to nobody

[2022-07-07 15:13] #1476 closed

[2022-07-07 16:00] werwolfby commented on #1476
I works.. but partially only.

Everything were installed successfully and running. But I can't add any metallb CRDs:

[code]

[2022-07-07 16:27] werwolfby commented on #1476
Right after installing the metallb (from `manifests`) I can't add CRDs.
All this is done as part of single `kustomize` script, where first is the manifest and the second is the new CRDs. As result:

[code]

And it is in that state for some time.
And then after an hour or so, I tried it again and it works now!

Should we create a new issues for this? Cause this is not allow my automation to spin ne

[2022-07-07 17:16] werwolfby commented on #1476
Hi @fedepaol, I've installed everything into separate namespace so I went through #1481 but everything in place. Roles has `watch` on all `apiGroups`. And the service has `matchLabels`.

And as I said this is some issue on initial startup only, after sometime (without any changes) apply new CRDs just works fine.

[2022-07-08 06:23] wibed commented on #1468
i have reverted to use manifest installation path which works fine.

the cluster had nothing running on itself at that time except metallb, so it might be replicatable using any basic setup.

[2022-07-08 06:23] #1468 closed

[2022-07-08 06:49] qingwusunny opened #1490 "Traking the progress of the new feature: announing LB IP from specified interface"
The issue is to track the coding progress of [this feature](https://github.com/metallb/metallb/pull/1359): announcing IP from specified interfaces for layer2

[2022-07-08 07:57] fedepaol commented on #1468
Just to make sure I understand, you think it's still replicable?
If so, can you tell me from which branch you ran ` kustomize build . --enable-helm --load-restrictor=LoadRestrictionsNone | kubectl apply -f-` and if that is the only command needed?

Thanks

[2022-07-08 08:04] fedepaol commented on #1476
Right, but it would be importnat to understand if "sometime" is a matter of minutes or hours.
If it's minutes, that's kind of expected. There are a few steps in order to satisfy the webhooks (pulling the right controller image, having the cert-controller to patch the webhooks).
Also, I'd like to understand if after it works, then it always works or it is intermittent (as per #1481)

[2022-07-08 12:00] wibed commented on #1468
its the main branch.
thats the only command issued. given you have the files in place

[2022-07-08 22:33] fedepaol commented on #1490
@qingwusunny if you want, I can create a milestone we can put issues under, so it's clearer how to split the work and how to track the progress.

[2022-07-09 00:57] gurolakman opened #1491 "side effect of 0.13.3 changes on another open-source software"
hello, i noticed that this change in 0.13.3 apparently broke the installation script of osm [open source mano] rel 10.1.x. until now, osm has been making use of a configmap file as follows:

cat /etc/osm/docker/metallb-config.yaml
configInline:
  address-pools:
   - name: default
     protocol: layer2
     addresses:
     - 10.34.24.8/32
configInline:
  address-pools:
   - name: default
     proto

[2022-07-09 01:01] gurolakman opened #1492 "side effect of 0.13.3 changes on another open-source software"
Thanks for filing an issue! A few things before we get started:

1. This is not the place to ask for troubleshooting. Unfortunately
   troubleshooting LB issues in k8s takes a lot of time and effort
   that we simply don't have. If your load-balancers aren't working,
   please don't file an issue unless you have identified a _specific_
   bug to fix. Otherwise, please ask for help in the `#metallb

[2022-07-09 01:02] #1492 closed

[2022-07-09 01:17] gurolakman commented on #1491
https://github.com/metallb/metallb/pull/1484#issuecomment-1179408736

@fedepaol  - thank you very much! my apologies for raising this issue in a different thread :(

[2022-07-09 01:17] #1491 closed

[2022-07-10 09:02] h4wkmoon opened #1493 "https://metallb.github.io/metallb - 404"
Hi,
I can't find the helm charts repo.
https://metallb.github.io/metallb gives a 404

Do you have move the charts elsewhere ? In that can't you should update the docs, plz.
Thx.

[2022-07-10 14:49] JunRamoneda commented on #5
Using it on my k3s cluster deployed to raspberry pi 4s. Very satisfied with metallb

[2022-07-10 15:37] jr0dd opened #1494 "change webhook name"
I just wanted to suggest changing the webhook name to something more descriptive.

[code]

[2022-07-10 19:31] jonwilliams84 opened #1495 "CR Converstion tool, failed to generate resources: invalid aggregation length 24"
Take this configmap:
[code]

When running it through the CM to CR conversion tool during upgrade of MetalLB 12.1 > 13.3, I get this error:

failed to generate resources: invalid aggregation length 24: prefix 26 in this pool is more specific than the aggregation length for addresses 10.0.8.1-10.0.8.254

Commenting out the /24 aggregation-length line the CR is generated:
[code]

Functionally, I real

[2022-07-10 20:04] fedepaol commented on #1493
The chart is still there, at metallb.github.io/metallb/index.yaml
metallb.github.io/metallb/ always gave 404.
See for example https://github.com/metallb/metallb/issues/1246

[2022-07-10 20:04] #1493 closed

[2022-07-10 20:12] fedepaol commented on #1495
I see what the problem is, still need to find the best way to address it.
Your `avoidBuggyIPs` is effectively translating the /24 pool to a pool that is `10.0.8.1-10.0.8.254`.
The cidrs corresponding to that range are _at most_ /26 so the engine (which is the same that validates the configuration in metallb) complains about the fact that it's advertising a cidr larger than the addresses avaliable.

[2022-07-10 20:13] fedepaol commented on #1494
Makes sense. As discussed previously, we did not think about a use case where metallb was mixed with other components in the namespace, so despite the name was generic it did not see a big issue.
We'll change it.

[2022-07-10 20:15] fedepaol commented on #1233
Closing the issue, missed this.

[2022-07-10 20:15] #1233 closed

[2022-07-10 20:16] jonwilliams84 commented on #1495
Of course...I understand. Do CRs allow CIDR denotation for IPAddresses or does it require a range? If it will take a CIDR then I'll adjust the IPAddresses CR to CIDR and add a new advertisement CR for the /24 aggregation manually.

[2022-07-10 21:37] jonwilliams84 commented on #1495
Ok....found another issue with the generated CR:
`Error from server (peer 10.32.100.1 has keepalive-time set on native bgp mode): error when creating "metallb-cr.yaml": admission webhook "bgppeersvalidationwebhook.metallb.io" denied the request: peer 10.32.100.1 has keepalive-time set on native bgp mode`

I have commented out the keepaliveTime field for now so here the latest CRs and all seems wel

[2022-07-11 01:58] jr0dd commented on #1494
Awesome! Actually, I just realized that `validatingwebhookconfigurations` are not namespaced anyways.

[2022-07-11 02:21] qingwusunny commented on #1490
ok

[2022-07-11 07:47] fedepaol commented on #1495
Right, that's another issue. The converter tool is using the validation function for the native bgp implementation (which doesn't support the keepalive time field). We'll make it configurable via a parameter.

[2022-07-11 08:06] fedepaol commented on #1494
Right, so that's even worse :/
Will change that

[2022-07-11 09:53] qingwusunny commented on #1490
backlog:
- Modify the data structure of L2Advertisement
- Build the mapping between LB IP and IP Pool
- Build the mapping between  IP Pool and local Node
- Handle the configuration(IPAddressPool and L2Advertisement) updates
- Announce IP from the specified interfaces

[2022-07-11 09:55] fedepaol commented on #1490
Added https://github.com/metallb/metallb/milestone/20 you can put issues under.

[2022-07-11 16:25] #1471 closed

[2022-07-12 03:08] qingwusunny commented on #1490
Do you expect me to modify L2Advertisement directly under v1beta1 or add L2Advertisement under v1beta2?

[2022-07-12 06:47] fedepaol commented on #1490
Right, it's a new field so it's totally fine to keep it under v1beta1 because it's gonna be backward compatible.
If you have doubt / questions, you can also join the `#metallb-dev` channel on k8s slack.

[2022-07-12 10:15] fr19k opened #1499 "IP Sharing, with externalTrafficPolicy: Local"
Hello,

Can I have shared external IP address (serviceType : LoadBalancer) with externalTrafficPolicy: Local, in multiple different kubernetes services?

Each service has unique port

When i set externalTrafficPolicy: Cluster, IP sharing works properly (Multiple services has the same externalIP).

MetalLB 0.11.0
Kubernetes 1.18/1.19

[2022-07-12 10:22] fedepaol commented on #1448
@cyclinder that'd be great!
Assigning it to you

[2022-07-12 20:14] junkiebev commented on #408
This was closed

[2022-07-12 20:14] #408 closed

[2022-07-12 21:14] junkiebev opened #1500 "[documentation] BGP Secret Reference Usage"
Requested in https://github.com/metallb/metallb/pull/1264

In the event that one uses a secret ref for BGP password in a BGPPeer CRD:

* I'd presume that that secret is required to be in the same namespace as the MetalLB deployment, but the docs don't mention that - it does look like you can call out the namespace in the CRD, but if I'm reading the RBAC roles/clusterroles correctly, it won't work

[2022-07-12 21:20] fedepaol commented on #1500
Thanks for filing this!

[2022-07-13 15:39] nayrnet commented on #1494
found this issue the hard way when I tried to install MetaLB into a cluster that had RabbitMQ, which also decided to use the name `validating-webhook-configuration`

looks like they recently changed that behavior too: https://github.com/rabbitmq/messaging-topology-operator/commit/f56f89b293e5453f7f5c7272a0b08fc3af723372

[2022-07-14 01:38] Octogonapus commented on #1476
I am experiencing the same issue as https://github.com/metallb/metallb/issues/1476#issuecomment-1177849142 running a fresh deployment of metallb v0.13.3.
[code]

I haven't seen it stabilize after some startup period like @werwolfby states. After some time, the controller and all speaker nodes enter crash loop backoff state and eventually continue crashing.

[2022-07-14 09:08] fedepaol commented on #1476
Would you mind filing a new issue (adding how you deployed metallb and the output of `kubectl get crds -A | grep metallb` ? Thanks!

[2022-07-14 09:09] optix2000 opened #1501 "Deleting CRD results in `could not list instances: unable to find a custom resource client for addresspools.metallb.io: unable to load root certificates: unable to parse bytes as PEM block`"
I'm getting the following error when trying to delete the `addresspools` or `bgppeers` CRDs.

[code]

Installed MetalLB using the metallb Helm chart `v0.13.3` from https://metallb.github.io/metallb.
I then deleted the helm install shortly after when I realized it was installed to the wrong namespace.
Running k3s: `v1.23.8+k3s2`
Using Cilium `v1.11.6`

Presumably, this is because I deleted the cont

[2022-07-14 09:12] fedepaol commented on #1501
Understood, thanks for the report

[2022-07-14 09:13] #1494 closed

[2022-07-14 12:14] adeniyistephen opened #1502 "Version v0.13.3 not yet stable."
Thanks for filing an issue! A few things before we get started:

1. This is not the place to ask for troubleshooting. Unfortunately
   troubleshooting LB issues in k8s takes a lot of time and effort
   that we simply don't have. If your load-balancers aren't working,
   please don't file an issue unless you have identified a _specific_
   bug to fix. Otherwise, please ask for help in the `#metallb

[2022-07-14 12:16] fedepaol commented on #1502
Sorry, could you add more details and maybe help to reproduce it? I see the error is dns related, while metallb doesn't have anything to do with dns.

[2022-07-14 12:28] #1502 closed

[2022-07-14 13:32] Octogonapus commented on #1476
I made a fresh k3s cluster and installed metallb on it to make a short MWE for this issue, but now it's not happening :shrug:
Will open an issue if I can reproduce it consistently

[2022-07-14 13:34] fedepaol commented on #1476
Thanks! Please file the issue even if you spot it :-)
Also, can you confirm your deployment method?

[2022-07-14 13:37] Octogonapus commented on #1476
- k3s HA with 3 nodes on v1.23.8+k3s2
- metallb v0.13.3
- [helm chart](https://pastebin.com/6g8v0SPp)
- [metallb configuration](https://pastebin.com/wgHHhVdF)
- deploy cmd: `helm install --create-namespace --namespace metallb metallb metallb/metallb -f metallb-values.yml`

[2022-07-15 08:45] fedepaol opened #1507 "L2 failing with ipv4 only nodes"
As discussed on slack https://kubernetes.slack.com/archives/C8FSTGU56/p1657841839403239 , l2 is failing (or may fail) if the nodes are v4 only

Relevant error:
[code]

[2022-07-15 09:35] fedepaol opened #1508 "CI: kind with ipv4 only nodes"
Despite running tests in single stack, we have nodes getting both v4 and v6 addresses.
That prevented us to catch the regression in https://github.com/metallb/metallb/issues/1507

We should see if there's a way to have a lane which is v4 only on nodes

[2022-07-15 10:16] #1507 closed

[2022-07-15 13:58] Jc2k opened #1511 "Suspected regression caused by #1347"
Was preparing to upgrade to 0.13.2 (Yay for CR!) but #1347 has me worried.

I actually have some interfaces (type=vlan) where I don't want the host itself to consume an IP (due to size of allocation but also because its needless attack surface area), but where I do use MetalLB to manage floating IP's that are on those interfaces. This works on the prior release, and has done for a couple of years.

[2022-07-15 14:01] fedepaol commented on #1511
Oh, makes sense and we didn't think about this use case.
I guess we could have this as a property of l2 advertisement, with the current behaviour being the default.
Would it make sense @Jc2k ?
cc @pperiyasamy

[2022-07-15 14:04] fedepaol commented on #1511
Or, let me have a look at the codebase and come up with the right solution.
In any case @Jc2k you are right, as it stands that use case wouldn't work anymore :/

[2022-07-15 14:13] fedepaol commented on #1511
Yep, we'll find a solution.
Let me think about it a bit and not to rush to any conclusion. Sorry about the regression

[2022-07-15 18:53] kfox1111 opened #1512 "initContainers"
Trying to migrate from the bitnami chart to this one. I'm using the initContainers feature of the bitnami chart to work around:
https://github.com/metallb/metallb/issues/277

with something like:
[code]

This chart needs support for this.

[2022-07-16 11:33] nobiit opened #1513 "BGPAdvertisement with avoid-buggy-ips"
Description:
I'm wanting to configure it to use`BGAdvertisement` instead of `L2Advertisement`. But it seems with`BGAdvertisement` it won't accept `avoid-buggy-ips`, and IP assignment will go bad

Reality:
I cannot configure BGAdvertisement if IPAddressPool is an IP range of the form (x.x.x.1-x.x.x.254)
[code]

Expected:
I can configure BGAdvertisement using the IP range avoid-buggy-ips (x.x.x.1-x.

[2022-07-17 10:37] oribon commented on #1513
hey, thanks for reporting!
closing this as it looks like https://github.com/metallb/metallb/issues/1495 and would be solved in https://github.com/metallb/metallb/pull/1503.
feel free to re-open this if I got it wrong :)

[2022-07-17 10:37] #1513 closed

[2022-07-17 21:06] kub3let commented on #1473
I had a very simple setup using helm that stopped working with v 0.13.x

The error I get is ` Starting from v0.13.0 configInline is no longer supported. Please see https://metallb.universe.tf/#backward-compatibility`

My ansible setup is the following:
[code]

When I try the converter tool all I get is a empty resources.yaml e.g.

[code]

Can someone help me with translating the address pool to he

[2022-07-18 11:59] fedepaol commented on #1511
Filed https://github.com/metallb/metallb/pull/1516

[2022-07-18 12:48] fedepaol opened #1517 "Validating webhooks: make sure the crs are created in the metallb namespace"
Currently, there's nothing preventing the CRs to be deployed in a namespace different from the one metallb is deployed to.
We should validate that they are being created in the same ns, to prevent human errors.

[2022-07-18 14:09] fedepaol opened #1520 "Auto generate the CRDs under charts"
The crds under config are generated by controller-gen when we run inv generatemanifests.
Having a way to translate them in manifests under the chart will reduce the risk of manual error.

[2022-07-19 05:47] seumasdunlop commented on #932
Hi @fedepaol,  I believe I'm seeing the same issue and would appreciate some clarifcation on whether it is expected behaviour.

In my case I can only access the virtual IP from within the cluster from pods running on the same node as the active listener.  All the nodes have the virtual IP configured on them so ping from a pod never has to leave the node and always works.  However, only the active

[2022-07-19 07:16] #1489 closed

[2022-07-19 07:52] cyclinder opened #1521 "Failed to list *v1beta1.AddressPool”: Internal error occurred: error resolving resource"
Hi teams!

I have a problem with `metallb`, I installed `metallb` via helm,  and then `metallb` is running.
But I look up the log of controller and speaker , Both reports “failed to list *v1beta1.AddressPool”：

[code]
*speaker*:

[code]

And I look up the `AddressPoo`l  via `kubectl`:

[code]

After every period of time metallb will restart, after four restarts, the state of pod will change to Cra

[2022-07-19 09:13] fedepaol commented on #1521
I have the suspect that the apiserver doesn't like the fake ca we are adding here https://github.com/metallb/metallb/blob/6c1bd7d2b1d6ceeedbc4cb162bb7e24ca1e50244/charts/metallb/charts/crds/templates/crds.yaml#L23

Seems similar to what we had in https://github.com/metallb/metallb/issues/1501 (although there it stabilizes if we let the controller run).
Would you mind coming on the #metallb slack c

[2022-07-19 12:29] ehlesp opened #1524 "Problem with Kustomize installation resource for Metallb 0.13.z native bgp implementation"
While trying to deploy Metallb **0.13.3** (native bgp implementation) with kustomize, I've met the following error:

`Error: accumulating resources: accumulation err='accumulating resources from 'github.com/metallb/metallb/config/native?ref=0.13.0': evalsymlink failure on '/home/user/WS/k8sprjs/metallb/github.com/metallb/metallb/config/native?ref=0.13.0' : lstat /home/user/WS/k8sprjs/metallb/githu

[2022-07-19 12:47] fedepaol commented on #1524
It's a doc issue referencing the wrong tags.
The right ones are:
  - github.com/metallb/metallb/config/native?ref=v0.13.3

and
  - github.com/metallb/metallb/config/frr?ref=v0.13.3

[2022-07-19 12:49] ehlesp commented on #1524
That was fast! Many thanks, @fedepaol .

[2022-07-19 12:49] #1524 closed

[2022-07-19 15:55] #1501 closed

[2022-07-19 15:55] #1521 closed

[2022-07-19 17:03] Pseudow commented on #5
Im using metallb on a debian-node cluster!

[2022-07-19 17:07] Pseudow opened #1525 "Metallb installation Helm - values.yml: configInline is no longer supported"
# Problem
Hello, I found out that I could install **Metallb** on my cluster using **Helm**, however it is specified on the doc that I should add a `values.yml` files. But I couldn't find an example of it.

![image](https://user-images.githubusercontent.com/64150196/179808530-e72fd75e-5b5e-4743-937b-243d1f56df5e.png)

I followed a **tutorial** and created this:
[code]

However I am getting this fol

[2022-07-19 19:26] #1525 closed

[2022-07-19 19:45] Pseudow opened #1526 "LoadBalancer stays in pending state for ExternalIp"
# Problem
I am having my load balancer generated by `nginx` that stays stuck pending to be assigned an **ExternalIp**:
[code]

# Logs
## Logs of metallb controller
[code]

# CR
## IPAddressPool
[code]

  ## L2Advertisement
[code]

[2022-07-19 20:48] Pseudow commented on #1526
# Fixed
I don't really know why it didn't work I just put metallb pods on the same namespace as the CR and everything then worked

[2022-07-19 20:48] #1526 closed

[2022-07-20 00:11] jr0dd commented on #1473
That's because that's not a valid configmap. That's just the section in the values.yaml that generates the actual configmap. k get from the cluster.

[2022-07-20 07:29] fedepaol commented on #1526
We are going to enforce that via validating webhooks https://github.com/metallb/metallb/pull/1523

[2022-07-20 07:34] tamcore opened #1527 "configmaptocrs: allow it to run in k8s and work only with the data part of the configMap"
The described way to run the configmaptocrs image isn't ideal, as it requires to have Docker installed and the exported configMap available locally.

I thought about an approach like
[code]
as that would make it much easier. But that brings a few issues:
- the tool forces the output file to be in /var/input as well (which would be R/O, if the configMap is mounted there)
- the tool expects the enti

[2022-07-20 07:40] fedepaol commented on #1527
We had a discussion about shipping the binary itself vs shipping the docker image, and we thought the latter would've benefits in terms of portability / shipping. We could think about shipping the binaries, but I am not sure it's worth the effort.

Both the suggestions sound doable, and your approach is also smart, I'll consider adding it to the docs.

[2022-07-20 07:43] #1495 closed

[2022-07-20 07:45] #1500 closed

[2022-07-20 09:54] Pseudow opened #1528 "Metallb crashing my master node"
# Situation
Hello, I recently installed `metallb` for my `nginx ingress controller`. However I found out that some minutes after setting un my ingress it happens that my machine was **crashing then booting**, and before the next crashing I had like **3seconds**. During this time I uninstalled helm metallb chart and everything then **worked**. I tried to reinstall it to be sure it was from that and

[2022-07-20 10:01] fedepaol commented on #1528
The only reason I can think of is, you choose the same ip of your master node. Can you check if that's not the case?
Metallb doesn't much in terms of messing up with the underlying host, if not answering on behalf of its nics to arp requests.
Another thing that may be useful are the logs of the metallb pods running on that host (not sure if you have only the speaker or also the controller).

[2022-07-20 10:04] Pseudow commented on #1528
Well I didn't see anywhere that I shouldn't use the master ip as the load balancer ip, so how can I do if I wanted to access to the loadbalancer using master ip?

[2022-07-20 10:06] fedepaol commented on #1528
You must use ips that are free on your local network, otherwise both the service (that can live on any node) and the real node will appear as holding that ip.

[2022-07-20 10:48] Pseudow commented on #1528
Does that mean I will have to setup a Node port to access the LoadBalancer services? Since they can be directly listening at the master node?

[2022-07-20 10:52] fedepaol commented on #1528
I suggest reading the docs here
https://metallb.universe.tf/concepts/#external-announcement
and here https://metallb.universe.tf/concepts/layer2/
to understand what metallb does and how, and coming to the #metallb slack channel to get help from other users.

Closing this issue for now, since it's a misconfiguration.

[2022-07-20 10:52] #1528 closed

[2022-07-21 09:12] fedepaol commented on #1511
Closing as #1516 is merged

[2022-07-21 09:12] #1511 closed

[2022-07-21 09:13] fedepaol commented on #1512
Hi @kfox1111 , would you mind adding a reference to the bitnami chart and how the template look like?
cc @gclawes

[2022-07-21 09:13] fedepaol commented on #1508
Closing this, the issue turned out to be more cornery than just ipv4 nodes.

[2022-07-21 09:13] #1508 closed

[2022-07-21 15:46] kfox1111 commented on #1512
Chart:
https://github.com/bitnami/charts/tree/master/bitnami/metallb
template section:
https://github.com/bitnami/charts/blob/master/bitnami/metallb/templates/speaker/daemonset.yaml#L63-L65

[2022-07-22 09:41] fedepaol opened #1532 "Remove the "experimental" from FRR mode"
MetalLB with FRR support was released with v0.12.0, adding this issue to track the removal of the experimental warning.
To add more information, the Openshift version of metallb is using FRR by default and was GA-ed around the same time.

[2022-07-22 16:07] alphabet5 opened #1533 "Metallb drops traffic to services periodically Failed to resolve : lookup : no such host"
This seems related to #1507 perhaps? I was seeing the same thing on 0.13.3 except a lot more frequent disconnects.

Metallb is installed via Flux/Helm

[code]

Metallb operator manifests installed from github (double checked it was up to date yesterday.)

Metallb crds

[code]

[code]

3. If you're reporting a bug, please specify all of the following:
     - The bug itself, as detailed as you can.

[2022-07-26 08:37] fedepaol opened #1535 "Dev-env -p bgp / l2 fails the webhook validation"
When running dev-env with a prefixed configuration (-p bgp for example) we don't wait for the controller to be in place, so the creation of the configuration fails because the backend of the webhook is not running yet.

[2022-07-26 11:57] karampok commented on #1535
A simple sleep
[code]
seems to work consistently but maybe something more like checking a health endpoint or re-trying some times before fail would be better approach.

[2022-07-26 12:30] fedepaol commented on #1535
yep, either waiting for the pods to be running (I think we have that check somewhere before running the e2e tests) or retrying applying the configuration for some time should work

[2022-07-27 09:03] cyclinder opened #1537 "FRR BGP: service’s routes are always deleted and then created in a continuous loop"
When `BGPPeer.spec.ebgpMultiHop=true`, The service’s routes are always deleted and then created, in a continuous loop.
and then `ebgpMultiHop=false`，It works but service routes only have one nexthop.

Configration:

[code]
BGP Router(frr):
[code]

log:
[code]

- Version of MetalLB: v0.13.4
- Version of Kubernetes: v1.23.7
- Name and version of network addon (e.g. Calico, Weave...): calico
- Whethe

[2022-07-27 09:07] cyclinder commented on #1537
Service:
[code]

routes in BGP Router(BGPPeer.spec.ebgpMultiHop=true):
[code]

[2022-07-27 10:45] Jeroen0494 opened #1538 "MetalLB bgpadvertisementvalidationwebhook always reports pool prefix is more specific than aggregation length"
Hi,

I'm facing the problem that no matter what subnet I set for my pools, and what aggregation length I set for BGP, the validation webhook always rejects my configuration.

MetalLB version 0.13.4
Kubernetes version 1.21.6

All values are testing values, actual working BGP is not required. I'm just testing resource creation.

Ansible setup:
[code]

Pool creation
[code]

layer2 configuration
[code

[2022-07-27 10:49] fedepaol commented on #1538
Thanks for reporting this, I'll try to reproduce and publish a fix

[2022-07-27 10:53] romulus-ai opened #1539 "Speaker seems to need additional ports not only 7946 and 179"
Running in RKE1 K8S Version 1.23.7 and calico 3.22.0. Metallb Version is 0.13.4. I've configured kube-proxy in IPVS Mode.

As described in the docs, I allowed port 7946 TCP and UDP on all K8S Hosts via Calico GlobalNetworkPolicy as ingress destination ports. Additionally I allowed Port 179 TCP and UDP as well, since I know, Bird needs it.

When I deploy MetalLB via the Manifest for your Docs or vi

[2022-07-27 10:57] fedepaol commented on #1538
Also, this is totally weird because the pool it's referring to is pool1 (172.18.113.180/30) whose bgpadvertisement (peer1-external) doesn't have any aggregation length specified.

Can you add here also the metallb resources present on the cluster (if any)?
k get ipaddresspool -A -o yaml
k get bgpadvertisement -A -o yaml

[2022-07-27 11:00] fedepaol commented on #1539
Hi @romulus-ai , that's the port used by the memberlist election for choosing the leader of l2 services.
If you use the helm charts, you can tweak the port via this value https://github.com/metallb/metallb/blob/710125677d2b443d8ea79f155241127a2269a28d/charts/metallb/values.yaml#L194

[2022-07-27 11:02] romulus-ai commented on #1539
Hi @fedepaol thanks for your reply. This port is definitly not blocked. And via Helmchart I do not change it.

[2022-07-27 11:03] fedepaol commented on #1539
Oh, sorry I think I misunderstood the question.
If the error you posted never goes away, then it might be the cause. Otherwise there might be other causes. Havign the full log of the speaker with loglevel set to debug would ease the analysis

[2022-07-27 11:04] fedepaol commented on #1539
That error states that it's not able to reach that host / port, which may be because of something on the network is blocking it, or because the other end is not listening. I don't recall that error causing the speaker to shutdown, so it might be a red herring

[2022-07-27 11:23] romulus-ai commented on #1539
Here we go, a nice debug log of one of the speakers.

[speaker.log](https://github.com/metallb/metallb/files/9197992/speaker.log)

It seems something is blocked which is needed by Speaker, however it is not Port 7946 since its definitly free and the other speaker is also listening. What I am wondering is what else is blocked here?

[2022-07-27 12:06] Jeroen0494 commented on #1538
Hi,
Thank you for looking into this. It should be in the output above, but I can get you the output of those commands tomorrow.
I'm guessing there is some hard coded value in de validation webhook set to 24. I've also had this exact error message with pool1 when my BGP peer1-external does have the aggregation length set, no matter what value.

[2022-07-27 12:24] fedepaol commented on #1539
So this log
[code]
is coming from here https://github.com/metallb/metallb/blob/9fce695d5b5b7ed1bc7e865f8122ffc7f5c5945d/speaker/main.go#L114
Which means that the process received one of
syscall.SIGINT, syscall.SIGQUIT, syscall.SIGTERM

Can you check the events? Maybe the pod was killed due to memory or some other constraint

[2022-07-27 12:25] fedepaol commented on #1538
Yup, that was the first thing I checked, and I couldn't find any hardcoded value. I'll try to reproduce it myself too

[2022-07-27 12:33] romulus-ai commented on #1539
Hmm, may this event comes from the controller, because the pod is not coming up. I mean, it has a healthcheck that is failing as long as it cannot connect to the other speaker.

[2022-07-27 12:36] fedepaol commented on #1539
Can you run a describe on the pod? Should tell us why the container is terminated I think

[2022-07-27 12:56] romulus-ai commented on #1539
So, these are the events:

20s         Normal    Pulled      pod/metallb-speaker-4zjbj   Container image "quay.io/metallb/speaker:v0.13.4" already present on machine
20s         Normal    Created     pod/metallb-speaker-4zjbj   Created container speaker
20s         Normal    Started     pod/metallb-speaker-4zjbj   Started container speaker
1s          Warning   Unhealthy   pod/metallb-speaker-4zjb

[2022-07-27 13:02] fedepaol commented on #1539
Ok, so that's the reason why it's going down.
Can you give us the output of kubectl get pods -o yaml on that speaker?

[2022-07-27 13:09] romulus-ai commented on #1539
Here it is, of just one Speaker Pod, this way it is not this much yaml.

[code]

[2022-07-27 13:29] fedepaol commented on #1539
Weird, the port is there, and looking at the logs I think it started listening. Can you try to remove the probe from the pod definition, jump on the pod and try to curl that endpoint to see if it responds?

[2022-07-27 14:13] MykolaBordakov commented on #1481
Good day.
I have the same issue.
I tried to install MetalLB by Helm and by Manifest.
I use this guide : https://kubernetes.github.io/ingress-nginx/deploy/baremetal/#a-pure-software-solution-metallb
I`m useing kube-flannel as a network fabric.
Maybe there are some specific settings of web-hooks certs or for some other thing ??

[2022-07-27 14:20] fedepaol commented on #1481
@MykolaBordakov what issue are you facing? Intermittent webhooks?
Can you file a separate issue and give us the logs of the controller pod (and possibly, of the api server) ?

[2022-07-27 14:58] MykolaBordakov commented on #1481
@fedepaol Thank you for fast response. Full error text is:
Error from server (InternalError): error when creating "kude_fiels/metaLB_conf.yaml": Internal error occurred: failed calling webhook "ipaddresspoolvalidationwebhook.metallb.io": failed to call webhook: Post "https://webhook-service.metallb-system.svc:443/validate-metallb-io-v1beta1-ipaddresspool?timeout=10s": dial tcp 10.103.140.223:443:

[2022-07-27 16:25] MykolaBordakov commented on #1481
@fedepaol Also, i used this command for installetion:
kubectl apply -f https://raw.githubusercontent.com/metallb/metallb/v0.13.4/config/manifests/metallb-native.yaml

[2022-07-27 16:28] fedepaol commented on #1481
Please file a separate issue with the information I asked in https://github.com/metallb/metallb/issues/1481#issuecomment-1196825067
Add the whole controller log, not only a part, look for errors in the apiserver.
Finally, try to narrow it to a single cr that you are applying and send the logs only after you manage to generate the failure.

Also, is the webhook always failing or just intermittent?

[2022-07-27 17:03] MykolaBordakov opened #1540 "InternalError (failed calling webhook "ipaddresspoolvalidationwebhook.metallb.io")"
Good day. I create a new issue
As I asid, when i try to config IPAddressPool and L2Advertisement system give me an error. Errors full text :
Error from server (InternalError): error when creating "kuber-fiels/confi_metalLB.yaml": Internal error occurred: failed calling webhook "l2advertisementvalidationwebhook.metallb.io": failed to call webhook: Post "https://webhook-service.metallb-system.svc:44

[2022-07-28 01:10] lrosenman opened #1541 "configsamples URL is 404"
on the readme / install page, it links to this URL:
[code]
but that URL is 404.

[2022-07-28 01:12] lrosenman commented on #1541
the pointer is (at least) at:
[code]

[2022-07-28 07:08] Jeroen0494 commented on #1538
Here is the output:
[code]

[2022-07-28 07:26] fedepaol commented on #1541
Hi, thanks for the report. We have https://github.com/metallb/metallb/pull/1531 open that should address that

[2022-07-28 07:30] fedepaol commented on #1541
Merged, closing this

[2022-07-28 07:30] #1541 closed

[2022-07-28 14:31] lrosenman commented on #1541
still 404 :(

[2022-07-28 14:33] fedepaol commented on #1541
The fix is in, but to see it we need to cut a new release and update the docs with that.

[2022-07-28 14:37] lrosenman commented on #1541
Ah -- sorry for the noise :)

[2022-07-28 19:42] euchch opened #1543 "Metallb having issues assigning IP address to a new service"
Full configuration links:
Metallb: https://github.com/euchch/pooserver/tree/main/3.metallb
Nginx/ingress: https://github.com/euchch/pooserver/tree/main/4.nginx-ingress

Env:
NAME       STATUS   ROLES                       AGE     VERSION
poo3s-m1   Ready    control-plane,etcd,master   5d18h   v1.24.3+k3s1
poo3s-w1   Ready    <none>                      5d18h   v1.24.3+k3s1
poo3s-w2   Ready    <non

[2022-07-28 20:51] euchch commented on #1543
I think I figured it out...
On my update spree I forgot to disable load balancer (flag `--disable servicelb` on k3s install script) and the 2 LBs didn't play nicely together

For those that gets this one - try to run this command on your master node (with the right flags naturally)
`curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="server --cluster-init --write-kubeconfig-mode 644 —-disable service

[2022-07-28 20:51] #1543 closed

[2022-07-29 02:10] m2acgi opened #1544 "Error: secret "memberlist" not found"
MetalLB Version: v0.13.4
Kubernetes Version: v1.24.2 (k0s)
network addon: kube-router v1.4.0 iptables mode

After execute the command `kubectl apply -f https://raw.githubusercontent.com/metallb/metallb/v0.13.4/config/manifests/metallb-native.yaml`, then check the speaker pod show
[code]

[code]

But the metallb pod status is ready:
[code]

[2022-07-29 07:23] fedepaol commented on #1544
The error is temporary, as it gets created by the controller pod.
The first time, when all the pods start together, the speaker doesn't find it for a short time. My understanding is that, even in your case, the speaker went running after a bit.
Closing this issue based on that, feel free to reopen in case MetalLB is still not working.

[2022-07-29 07:23] #1544 closed

[2022-07-29 08:16] fedepaol commented on #1532
Just to add more color to the "experimental" notice, that was always meant to be "less battle tested" than the native BGP implementation.
We have running CI covering both native and FRR mode, and we have all the interest in fixing bugs related to the FRR mode as soon or later it is going to be the only BGP mode (as per https://github.com/metallb/metallb/blob/main/design/0001-frr.md )

I understand

[2022-07-29 08:22] emaante commented on #1532
Hello,
we've been using MetalLB in production over here at Deutsche Telekom TDI for awhile. Having BFD support (provided by FRR mode) would be nice, but due to telco requirements, "experimental" naming does not fly very well with customers, even if tested (upstream and locally).
Thanks for clarifications @fedepaol , removing this would be very helpful.

[2022-07-29 10:55] web-engineer commented on #1540
I've the same issue - using v13.

[code]

Note the other issue (#1481) is using BGP i think, I'm  attempting to configure Layer 2 in this instance.

I've taken the default yaml and appended my changes -

[code]

I've exhausted everything I can find online atm - going to try the previous version next.

[2022-07-29 11:26] web-engineer commented on #1540
Im my case It's definitely these CRD's failing to call the API endpoints - I'm not sure why and cant inspect the logs of the controller since its stuck in a reboot loop.

However - removing these, the controller hits a warning state, the speakers are fine ( dont forget to set your memberlist secret ).

I was under the assumption that the reason for the error in the controler was the missing CRD's

[2022-07-29 11:41] web-engineer commented on #1540
I'm feeling a bit lost now... did notice that in the secrets there is a certificate definition but this appears to be missing a certificate...  could this be the issue?

[code]

This is generated when the manifest is applied initially, I'm moving onto something else for a bit - may try regressing to the previous release soon - any pointers appreciated.

[2022-07-29 15:48] MykolaBordakov commented on #1540
Good day.
@web-engineer thank you for idea.
I checked ConfigMap and Secret. So, in my case ca.crt is different. Is it normal?

[2022-07-29 15:55] web-engineer commented on #1540
Making them match didn't work for me, i've torn down the install and starting fresh  - this time with 0.12 but I'm now stuck with the controller restarting / stuck in pending state... I suspect this is a symptom of something I'm missing to trying to debug this presently as hoping whatever config is needed/missing will fix things or highlight what to fix in current version.

[2022-07-29 16:01] fedepaol commented on #1540
@web-engineer can you confirm that the data field of `webhook-server-cert` is empty?
I think that's the key.
The way it works is, we have this component in the controller that keeps that secret up to date with the certificate signed via the cluster's CA, and used to patch the webhooks.
Another check to be done is to see if the clientConfig part of the validatingwebhookconfiguration contains the ce

[2022-07-29 16:03] fedepaol commented on #1540
Also, despite the symptoms being the same, it may be a different issue. Can you set the logs of the controller to debug (-loglevel debug) and send them over?

[2022-07-29 16:04] web-engineer commented on #1540
I'm just going to move back to this latest release as regressing isn't helping... will try get back to where i was and get those logs for you...

[2022-07-29 16:05] fedepaol commented on #1540
In @MykolaBordakov 's logs I see
[code]

[2022-07-29 16:11] web-engineer commented on #1540
The config value in the secrets *webhook-server-cert* has the value of data:{} as above.

I've just reverted the stack and I'm just trying  to elevate the logging to debug...

[2022-07-29 16:12] MykolaBordakov commented on #1540
@fedepaol You mean, that controller works well.
So, if controller ok, maybe problem is on ca-cert?

[2022-07-29 16:12] fedepaol commented on #1540
can you also check the validatingwebhookconfiguration content?
k get validatingwebhookconfiguration -o yaml

[2022-07-29 16:15] web-engineer commented on #1540
[code]
Logs dont seem to get that far...

[code]

[2022-07-29 16:17] MykolaBordakov commented on #1540
@fedepaol I load validatingwebhookconfiguration content. Here it:
[validation_control.txt](https://github.com/metallb/metallb/files/9221589/validation_control.txt)

[2022-07-29 16:34] web-engineer commented on #1540
I think my issue maybe network presently, I'm going to look at the KVM setup and reset things and try again as I feel like I've gone backwards rather than forwards... @MykolaBordakov seems to have certs showing in that configuration content - thinking that this maybe an inter node communication issue on my setup so will check that over and try again.

[2022-07-29 20:08] fedepaol commented on #1540
Yep, they seem to be two different issues. In @web-engineer it seems the controller is not able to reach the api server, which is preventing it to patch the webhook. The webhook issue is just a side effect of that.

[2022-07-29 20:10] fedepaol commented on #1540
@MykolaBordakov just triple checking, because I am finishing ideas.
Do you get the error even after minutes you deployed metallb? Just checking if you got the error only during the bootstrap phase.

[2022-07-30 08:16] web-engineer commented on #1540
Yep - after completely rebooting everything and trying a few options with the network config but ultimately reverting - upon restart everything has come up. So suspect in my case the problem was the connectivity between nodes preventing the services from starting up.

[2022-07-30 15:43] MykolaBordakov commented on #1540
@fedepaol I got an error no matter in what time I apply setting for layer two.
So, let use try to fix my problem. If  controller ok it means  service works well. But, we can reach to it thru 443 port and some IP adress.
Does kubernetes have policy for webhooks services?
Maybe something wrong with setting of internal comunication in cluster...

[2022-07-30 16:09] MykolaBordakov commented on #1540
Also, i fond than controller hase satrange IP:
controller-5bd9496b89-qtqkz   1/1     Running   0          24h   172.17.0.2     worker2envserv   <none>           <none>
speaker-7gnq2                           1/1     Running   0          24h   10.209.10.95   worker2envserv   <none>           <none>
speaker-kgrp2                            1/1     Running   0          24h   10.209.10.93   mssterenvs

[2022-07-30 23:26] yzarca commented on #888
I got the issue on a cluster made on Ubuntu 22.04 LTS OS with Kubernetes v1.24.3 and using Cilium for networking.
In my case i got the problem just because I tried to install Metallb before adding the worker nodes.

Best Regards,
Yzarca

[2022-07-31 14:40] liornoy commented on #1527
Hello @tamcore thanks for the great suggestions I am working on it!

[2022-07-31 17:10] cagataygurturk commented on #888
Same here. Why is this a problem to install metallb before workers?

[2022-08-01 12:08] B1ue-W01f commented on #1540
If anyone is using ArgoCD with resource exclusions for ValidatingWebhookConfiguration, that may be connected to your issue. disabling the exclusions resolved my issue.

[2022-08-01 15:06] Ariantrom commented on #1540
I have exactly the same problem with webhooks. My kubernetes cluster uses wave. Metallb installed using the manifest. The IPAddressPool and L2Advertisement entities are not created. @MykolaBordakov Have you solved this problem?

[2022-08-01 15:10] fedepaol commented on #1540
can you share the logs of the contorller pod?

[2022-08-01 15:21] MykolaBordakov commented on #1540
@Ariantrom  Not yet. I found that problem comes not only with MetalLb. Here link:
https://github.com/kubernetes/ingress-nginx/issues/5401
Now i`m checking it...

[2022-08-01 15:25] Ariantrom commented on #1540
control2go@ugok-k3s-m01:~/metallb$ cat ipaddresspool.yaml
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default
spec:
  addresses:
  - 10.100.4.100-10.100.4.105
  autoAssign: true

[2022-08-01 15:30] fedepaol commented on #1540
To both: Can I get the output of

kubectl get svc -n metallb-system
kubectl get pods -n metallb-system

?

[2022-08-01 15:38] Ariantrom commented on #1540
https://ps.tmpc.ru/e46fc703bca5

[2022-08-01 15:39] fedepaol commented on #1540
Seems good. Can you also paste the logs of the apiserver (in case it tells more than @MykolaBordakov 's one)?

[2022-08-01 15:54] Ariantrom commented on #1540
https://pastebin.com/dwGNGTqW

[2022-08-01 16:03] fedepaol commented on #1540
Can you try to kill the controller and retry when the new one comes up?

[2022-08-01 16:13] Ariantrom commented on #1540
Yes, but I've already done that.
https://pastebin.com/smxURDHy

[2022-08-01 16:31] fedepaol commented on #1540
I need to dig more into this. If you are able to provide a reproducer with something like vagrant, I'd be happy to debug it
In the meanwhile, setting failurePolicy=Ignore should make the apiserver ignore the webhook failure.

[2022-08-01 16:33] MykolaBordakov commented on #1540
One of working solution : find ValidatingWebhookConfiguration. Dell and rule  for matalLb.
Original solution here:
https://programmerah.com/solved-kubernetes-ingress-srv-error-failed-calling-webhook-validate-nginx-ingress-kubernetes-io-51118/

It should works when you have error with : connection refused !!

[2022-08-01 16:45] MykolaBordakov commented on #1540
But solution in my previous comment is bad practice !!
We should dig more deeper....

[2022-08-02 00:07] alphabet5 commented on #1533
I'm seeing the same thing on a brand new cluster, same specs as before with 0.13.4.

[code]

[2022-08-02 07:38] fedepaol commented on #1533
This
```2022-07-21T23:19:43.014632045Z {"caller":"memberlist.go:268","component":"Memberlist","level":"warn","msg":"memberlist: Failed to resolve : lookup : no such host","ts":"2022-07-21T23:19:43Z"}```

is pretty strange, because it should get an ip. The list of neighbors is built using status.podip of the speakers:
https://github.com/metallb/metallb/blob/c792677f195f7d9253d550eac963c4b53d9dc6a9/

[2022-08-02 13:15] romulus-ai commented on #1539
Hell, got the problem. At some place in the docs, I found, that MetalLB needs port 7946 TCP and UDP for the Speakers to find each other.

However it seems you also need to allow 7472/TCP (Metrics) on a host basis, for the liveness and readiness checks to be successful.

I only had a Policy to allow all traffic from 127.0.0.1 for the Liveness and Readinesschecks, however it seems that this is not e

[2022-08-02 13:15] #1539 closed

[2022-08-02 14:42] MykolaBordakov commented on #1540
Good day. I found the solution.
So, for solve it i needed to create new cluster.
First of all, when i use:
 kubeadm init --pod-network-cidr=10.244.0.0/16 i had an eror. That system can`t find --cri-socket. Problem fixed by adding
--cri-socket=unix:///var/run/cri-dockerd.sock .
When i create cluster, as explained above i had this issue. But note: connect: connection refused it means that host refus

[2022-08-02 14:45] fedepaol commented on #1540
So to make sure I understood, now the webhook is working fine without changing the failurePolicy right?

[2022-08-02 14:49] MykolaBordakov commented on #1540
@fedepaol Yap. If use unix:///var/run/containerd/containerd.sock you don`t need to change failurePolicy.

[2022-08-02 14:54] fedepaol commented on #1540
Ok, so it leaves with @Ariantrom 's issue. Are you able to reproduce it in a virtualized environment?

[2022-08-02 20:00] alphabet5 commented on #1533
@fedepaol So I think I just figured this out. I was installing metallb with helm, as well as applying the operator manifest… so that’s what was breaking things. Testing for 15m now and it's been fine.

I haven't figured out exactly what was changing or why it was breaking, but I don't think it really matters.

Trying to enable debug logging and it wasn't getting enabled then I discovered it was ge

[2022-08-02 20:00] #1533 closed

[2022-08-02 21:16] fedepaol commented on #1533
Oh, that's great to hear. Thanks for letting me know!

[2022-08-02 21:17] #1517 closed

[2022-08-02 21:38] BloodyIron commented on #5
Using MetalLB in Layer 2 mode on RKE1 k8s cluster, managed by Rancher (2.6.x+). It makes it so I don't have to reconfigure the LAN but still get rapid and automatic fail-over for a single inbound LAN IP. It's great! (once I wrapped my head around it)

[2022-08-04 09:11] thinkmap opened #1547 "Internal error occurred: failed calling webhook "ipaddresspoolvalidationwebhook.metallb.io""
MetalLB can be configured using CRDs.
- MetalLB 0.13.4

- Kubernetes v1.19.3

cat meta-l2-pool.yaml
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: lb-pools
  namespace: metallb-system
spec:
  addresses:
  - 10.126.144.196-10.126.144.199

kubectl apply -f meta-l2-pool.yaml
Error from server (InternalError): error when creating "meta-l2-pool.yaml": Internal error occurred: fail

[2022-08-04 09:12] thinkmap commented on #1547
问题

[2022-08-04 10:50] fedepaol commented on #1547
Can you paste the logs of the controller pod (possibly with loglevel=debug) ?

[2022-08-04 14:58] MykolaBordakov opened #1549 "Cant connect to service via Public IP."
Good day.
I`m use three nodes on-premice cluster:
![image](https://user-images.githubusercontent.com/52531852/182869117-aa1a7eb3-5b59-437c-8b00-070cf45b09dd.png)
On one of nodes I have an access to 80 and 443 ports on public IP.

Kubadm version :1.20
MetalLB version 0.13.4

MetalLB installation was success:
![image](https://user-images.githubusercontent.com/52531852/182869853-9720f4f2-751c-49a7-94

[2022-08-04 15:06] MykolaBordakov commented on #1547
@thinkmap Good day.
Did you sow information on #1540 ?
Maybe you will find useful information there.

[2022-08-05 06:00] thinkmap commented on #1547
<html>
<body>

"level":"error","ts":1659679108.8488934,"logger":"cert-rotation","msg":"secret is not well-formed, cannot update webhook configurations","error":"Cert secret is not well-formed, missing ca.crt","errorVerbose":"Cert secret is not well-formed, missing ca.crt\ngithub.com/open-policy-agent/cert-controller/pkg/rotator.buildArtifactsFromSecret\n\t/go/pkg/mod/github.com/open-policy-agent/c

[2022-08-05 07:46] fedepaol commented on #1547
Can you add the whole log in text format?

[2022-08-05 08:56] thinkmap commented on #1547
![image](https://user-images.githubusercontent.com/37236741/183041654-952f7715-c3db-472e-9418-6b7c1c92f9ac.png)

[2022-08-05 16:19] MykolaBordakov commented on #1549
Sorry. Problem was in routers fierwall

[2022-08-05 16:19] #1549 closed

[2022-08-07 11:22] fernferret commented on #1473
Maybe we can have the migrate step describe that we need to pull the `config.yaml` out of kubernetes first? This bit me at first and might help others too!

The docs currently state:

...

In order to use the tool the container must be ran mapping the path with the source file `config.yaml` to `/var/input`, and it will generate a `resources.yaml` file containing the resources mapped to the yaml.

[2022-08-08 06:22] Manvir-nokia opened #1550 "CIS Benchmark and compliance for MetalLB community version 13.4"
As part of CIS security compliance check we have below observations from Metallb. Can you please check and suggest what could be remediated and what are the fixes to remediate the below clauses:

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta nam

[2022-08-08 16:14] liornoy commented on #1473
Hello @fernferret, thank you for the suggestion on improving the migration (configmaptocrs) description.
I will add it to the PR I am currently working on.

[2022-08-09 07:16] Jean-Daniel commented on #1
Now that metal switched to FRR, it may be implemented using weighted ECMP. This is an use case FRR is explicitly supporting:

http://docs.frrouting.org/en/stable-7.5/bgp.html#weighted-ecmp-using-bgp-link-bandwidth

[2022-08-10 10:42] Jean-Daniel commented on #1499
Unless you collocate your services, I don't see how it can really work. BGP works at the IP level, and so is port/protocol agnostic.

You can't annonce a route only for TCP/UDP packet bound to a single port, so they will always behave (at least partially) as if policy Cluster is defined.

I'm not sure how Local policy works with shared IP actually. Defining it as directing traffic to at all nodes

[2022-08-10 14:45] cyclinder opened #1553 "helm install: speaker failed to start due to failed to list resources"
Speaker  failed to start:

[code]

[code]
[code]
[code]

This is because the speaker was not given enough permissions，After giving speaker rbac permissions, this problem was solved

 - Version of MetalLB : v0.13.4
 - Version of Kubernetes: v1.24.2
 - Name and version of network addon (e.g. Calico, Weave...): calico
 - Whether you've configured kube-proxy for iptables or ipvs mode: iptables

[2022-08-11 04:55] #1553 closed

[2022-08-11 16:43] mohahmed13 commented on #1521
Just in case someone runs across this in the future, the issue here (and the subsequent fix in v0.13.4) resulted in Argo CD in getting a cluster connection and sync failure: `failed to sync cluster [https://10.43.0.1:443](https://10.43.0.1/): failed to load initial state of resource [BGPPeer.metallb.io](http://bgppeer.metallb.io/): Internal error occurred: error resolving resource`. This appeared

[2022-08-11 23:46] michael18781 commented on #1547
Hi, I appear to be having exactly the same issue (or the same signs of the issue) - been trying reboots, checked cluster networking (cross node pods can communicate, DNS etc.), uninstalling and re-installing yet can't get around this...

[2022-08-12 15:20] djryanj commented on #1473
May I suggest as an improvement to the controller to help people that logging be improved around the config.

I was only able to sort out that I was missing a config because of this line after enabling debugging: https://github.com/metallb/metallb/blob/main/controller/main.go#L64

Which pointed me in the right direction, but as far as I can tell that's the only place where any mention of a config

[2022-08-13 13:21] zulhfreelancer opened #1555 "PodSecurityPolicy is deprecated in v1.21+, unavailable in v1.25+"
- The bug:

  I'm seeing `Warning: policy/v1beta1 PodSecurityPolicy is deprecated in v1.21+, unavailable in v1.25+` when installing the latest (v0.13.4) version of MetalLB.

  I know it's just a warning - but, given that k8s v1.25 is going to be [released soon](https://www.kubernetes.dev/resources/release/#timeline), I think the [install manifest](https://raw.githubusercontent.com/metallb/metallb/

[2022-08-14 13:27] zrav commented on #1473
I converted my very simple 0.12.1 config with a single IP to 0.13.x, but it fails with:
[code]
The config:
[code]
Additionally, I noted that with 0.13.x a metallb-speaker pod is deployed on _all_ nodes instead of only worker nodes (how it works with the old version).

[2022-08-14 17:16] BloodyIron commented on #797
For those of us who do not want, nor have need, nor other justification, for BGP, things like Proxy Protocol (v1 & v2) support really is needed. I am currently trying to figure out a way to retain the true source-ip from traffic behind MetalLB Layer 2 (non BGP) and NGINX Ingress/others. I have looked into the Direct Server Return method and not really found any solutions, plus the also alternative

[2022-08-14 17:17] BloodyIron commented on #797
To be more explicit, the guide I linked fell on its face for me when I got to the part declaring "service.beta.kubernetes.io/ovh-loadbalancer-proxy-protocol" which clearly is an OVH-centric feature, not likely to work for me. Since... Metal LB does not implement Proxy Protocol (as per this thread).

Sadface.

[2022-08-15 08:39] fedepaol commented on #1555
Hi, thanks for raising the issue, we are aware of that. Closing as dupe of https://github.com/metallb/metallb/issues/1401
Once 1.25 goes out (and 1.22 is officially deprecated) we'll cut a new release and align our CI.

[2022-08-15 08:39] #1555 closed

[2022-08-15 14:11] BloodyIron commented on #797
So if there's any way we can get this topic revisited @champtar / @russellb , I think it would be appreciated, please!

[2022-08-15 18:41] alibo commented on #797
@BloodyIron have you tried Cilium with DSR-mode enabled?
https://docs.cilium.io/en/v1.12/gettingstarted/kubeproxy-free/#direct-server-return-dsr

We've migrated to Cilium and we have enabled the `hybrid` loadbalancer mode in production. In this mode, the client IP is preserved for TCP traffic. (we could also enable it for UDP traffic, but because of packet fragmentation, we've disabled it)

[2022-08-15 21:16] BloodyIron commented on #797
@alibo we're currently using Calico, can't remember this moment why I decided not to go with Cilium.

Are you using Metal LB in Layer 2 mode without BGP?

I appreciate you bringing this to my attention! I am not sure if this is a direction we want to head, as I will need to evaluate that, but yeah... I'll have to check :)

[2022-08-16 01:25] qingwusunny opened #1556 "Add a status to IPAddressPool CR indicting if it is active or not"
After update a IPAddressPool success, Controller will reload all IP pool config. If an allocated IP does not exist in the new IP pool, setPool will failed. So I think we can add a status to IPAddressPool CR indicting if it is effective or not.

[2022-08-16 04:54] timgriffiths commented on #1540
I just hit this today, although the issue I faced was the no_proxy config that was automatlicy picked up from my host didn't exclude the internal k8s traffic ie ".svc" so all we requests were getting pushed out to our internal proxy rather than internal to the cluster

https://github.com/kubernetes/kubeadm/issues/324

Hope that helps someone in the future

[2022-08-16 05:35] alibo commented on #797
@BloodyIron we're using Metal LB in L3, but the incoming packets are SNATed by kubeproxy/cni itself. So I don't see any blocker for your requirement. Also, Calico supports this as it works similarly:
https://www.tigera.io/blog/hands-on-with-calicos-ebpf-service-handling/

[2022-08-16 10:05] blieb commented on #248
Hope there is also a real solution for this issue, because disabling ipv6 is not an option for me.

[2022-08-16 11:21] samip5 opened #1557 "Unable to assign 3 IPs to a lb svc from two different pools"
I tried creating an IPv4, IPv4, IPv6 LB IPs due to needing an private v4, public v4 and v6 on bare-metal install so that I can use the private v4 to forward from my router to cluster. The public IP has a totally different routing policy.

Error:
[code]

Service annotation: `metallb.universe.tf/loadBalancerIPs: "192.168.10.54, 2001:67c:1104:<snip>:53::1"`

metallb config:
[code]

Kubernetes version

[2022-08-17 10:01] Jeroen0494 commented on #1538
@fedepaol have you had success replication this issue?

[2022-08-18 00:59] BenB196 opened #1558 "Publish CRDs as a release artifact"
It would be nice if the CRDs could be published as a release artifact, in a single yaml file.

Other projects like, Cert Manager, publish a single yaml artifact with all the CRDs as part of the release (example: https://github.com/cert-manager/cert-manager/releases/download/v1.9.1/cert-manager.crds.yaml). This makes it easier to patch/update CRDs if you're manually managing them (if you don't want

[2022-08-18 01:50] BenB196 commented on #1558
Going to close this, as a simpler way via metallb is:

[code]

Leveraging the kustomize file

[2022-08-18 01:50] #1558 closed

[2022-08-18 11:47] Trackhe commented on #1139
@jonwilliams84 for the UDM-Pro the multipath support get patched. But is that working noe without the modification of the kernel?

[2022-08-18 12:14] jonwilliams84 commented on #1139
I have no idea, I am still running patched kernel.  Where did you see that it had been patched?

[2022-08-18 12:29] Trackhe commented on #1139
Hm i don't find the release notes for that anymore, but i maintain a second UDM-Pro for my Parents, and they watch IPTV over Magenta, which needs the IGMP Proxy, and that needs the multipath support on the Kernel, since 5-12 month i can run this without a custom kernel (maybe from release 1.11 or somthing like that). And since a few days say released also IGMP Support but i wasnt able to test it a

[2022-08-18 12:33] Trackhe commented on #1139
I found it..

https://github.com/fabianishere/udm-iptv
https://community.ui.com/releases/UniFi-OS-Dream-Machines-1-11-0/eef95803-6976-499b-9169-bf6dfbbcc209

[2022-08-18 12:54] jonwilliams84 commented on #1139
Ah...yeah, multi-cast is working...multi path not so much then ;-)

[2022-08-18 13:21] Trackhe commented on #1139
With the newest version:
`2022/08/18 13:18:24 ZEBRA: [NNACN-54BDA][EC 4043309110] Disabling MPLS support (no kernel support).`
Not working with the official kernel confirmed

[2022-08-18 15:02] smartinj opened #1559 "MetalLB fails to check endpoints availability when using Multus in the pods"
Hello, we have a deployment were MetalLB is not able to know when and endpoint gets unavailable if the service is listening in a secondary interface configured with Multus.

New requests reaching MetalLB endpoint are forwarded to any endpoint regardless of its state, so the service consumer gets an error.

In this particular case the service behind MetalLB is a couple of Virtual Machines running i

[2022-08-19 16:44] alowe7 commented on #5
I'm using MetalLB in Layer 2 mode on rhel8 k8s bare metal dev cluster.  works great!

[2022-08-20 17:49] BloodyIron commented on #797
@alibo I'm reading through this, thanks! I'm uncertain though, can this be achieved without BGP? BGP is not in-scope nor in the environment, and this is on-prem in my case.

[2022-08-20 18:33] alibo commented on #797
I'm glad it was helpful for you.
I'm afraid, we haven't tested it, but in theory, as it uses eBPF for this, it should work.

[2022-08-20 19:35] BloodyIron commented on #797
@alibo I can't seem to clearly tell if eBPF with Calico can work without BGP in the way I'm doing this. But I'm trucking through it anyways! Early on in planning for this cluster I decided Calico was the CNI I would go with (as I had to make a decision in planning), and I guess it may pay off. Original idea was "I'll use Calico, and come back to it when I want to use those features, it will alread

[2022-08-20 20:52] BloodyIron commented on #797
@alibo I'm not really making "visible progress" with Calico's eBPF, and I found this thread : https://github.com/metallb/metallb/pull/796

In that thread, when digging deeper into this specific comment ( https://github.com/metallb/metallb/pull/796#issuecomment-754200248 )

It seems that kube-router might be a good alternative, and is listed as working with MetalLB (the only problem is BGP and I do

[2022-08-20 21:10] BloodyIron commented on #797
Okay so I dug more into kube-router, and RKE1 looks to "support" it, but I can only find that from this : https://github.com/rancher/rke/issues/312

None of the release notes from releases around the time it was merged (or not too long after) mention kube-router, so it's probably in the version of RKE1 I'm using... but I can't explicitly confirm that.

Furthermore, it seems that there's no "nice"

[2022-08-20 21:35] rgl commented on #1547
This is also happening here. It happens immediately after deploying metallb.

metallb is installed as:

[code]

Then, when deploying a CRD instance:

[code]

It fails with:

[code]

[2022-08-21 13:12] patikoija commented on #888
I have an installation that has 0.12.1 running just fine. I tried to upgrade to 0.13.4:

`Controlled By:  DaemonSet/speaker
Containers:
  speaker:
    Container ID:
    Image:         quay.io/metallb/speaker:v0.13.4
    Image ID:
    Ports:         7472/TCP, 7946/TCP, 7946/UDP
    Host Ports:    7472/TCP, 7946/TCP, 7946/UDP`

`  Warning  Failed     1s (x5 over 36s)  kubelet            Error: secre

[2022-08-22 07:15] nanomad opened #1560 "FRR Mode: Cannot use multiple RouterIDs with non-overlapping node selectors"
Hi,

on our infra we have a strict checking of RouterIDs in order to allow estabilishing BGP Session, so I've tried to replicate our "standard" setup on MetalLB / FRR at the best of my abilities.
Here's what I've done
1. Created BGPPeer A with
 - RouterID: 10.0.0.10
 - PeerAddress: 10.0.0.1
 - Node  selector based on the hostname of the machine so that it applies only on node "A"
 2. Created  BGPP

[2022-08-22 10:49] Manvir-nokia commented on #1154
@fedepaol - I'm seeing similar issues where the IP is getting allocated to services and the controller logs show the allocation of IP, whereas i'm unable to access the URL and even the speaker has no logs which shows IPs are announced.

Metallb version i'm using is v13.4

[2022-08-23 05:18] Manvir-nokia opened #1561 "MetalLB provides LB Services with IP Addresses but doesn't announce and ARP for the address"
Problem Statement: External IPs assigned by Metallb are getting assigned to Load balancer services but the Ips are not reachable.

Checked:
 - Controller logs: IP allocation success events are there.
 - Speaker Logs: IP announcement logs are not there
 - ipaddresspool: is created and working.
 - Tried ARPing to external IP from a different worker node not hosting speaker pods: ARPING has no respon

[2022-08-23 09:52] abrondijk opened #1562 "Endless stream of `node event - forcing sync` in v0.13.4"
## Setup

- Metallb version: 0.13.4
- Kubernetes API: 1.24.3
- Distribution: K3s
- Deployed with helm, no custom values
- kube-proxy: default of K3s (iptables mode)
- CNI: default of K3s (flannel with vxlan backend)
- metallb advertisement mode: layer-2

## Issue itself
I noticed that TCP connections through metallb kept failing after a short time (1-2 minutes).
Looking at the services events, I n

[2022-08-23 14:16] oribon commented on #1561
hey,
did you create l2advertisements for your ipaddresspool?
if so, can you specify what's the metallb/k8s version, attach the logs (after setting debug log level if possible) and a describe of the service?

[2022-08-24 05:07] #1561 closed

[2022-08-24 05:08] Manvir-nokia commented on #1561
yea, i figured this out yesterday that l2advertisements was missing. creating the l2advertisement resolved the issue. I refered this https://github.com/metallb/metallb/issues/1358 to resolve the issue. However, thanks a lot for checking.

[2022-08-24 09:18] sanzhar-rakhimkul opened #1563 "x509: certificate is valid for localhost, not webhook-service.metallb-system.svc"
MetalLB 0.13.4

Kubernetes v1.23.3

cat pool.yaml
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: first-pool
  namespace: metallb-system
spec:
  addresses:
  - 10.152.116.8-10.152.116.16
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: example
  namespace: metallb-system
spec:
  ipAddressPools:
  - first-pool

10.152.116.8-10.152.116.16
kubectl apply

[2022-08-24 15:10] mravvv opened #1565 "Problems caused by PSP removal"
Hello.

I've tried to install metallb on my new DEV environment and stacked with  such messages:
[code]

Kubernetes version: 1.25.0-0
MetalLB version: 0.13.4

PSP has been removed in kubernetes 1.25. So, I guess, some changes are required in metallb-*.yaml manifests and helm charts as well.

[2022-08-24 19:11] DerRockWolf commented on #1050
From what I could observe on one of my clusters this is indeed already supported and working with MetalLB.

[2022-08-26 11:38] rikirolly commented on #1565
Has someone found a solution for this?

[2022-08-26 11:40] rikirolly commented on #1555
Has someone found a solution for this?

[2022-08-26 11:44] rikirolly commented on #1401
Has someone found a solution for this?

[2022-08-27 09:27] fabricesemti80 commented on #1473
Hi,

I have some issue as well.

My original config for `metallb`:

[code]
1. Got the alert from `renovatebot` about the upgrade to `0.13.4`
2. Exported config map as per instructions

[code]
3. Converted to resources

[code]
4. Added them to kustomization

[code]
  5. Updated helm release from `0.12.1` -> `0.13.4`
  6. Helm failed to upgrade (mising CRD-s)
  7. Added CRD-s
  8. Resources created:

[2022-08-27 09:43] jbpratt commented on #1401
Hey @rikirolly, while it is really just a workaround, you can use kustomize patches to do something like this which worked for me (for numerous projects):

[code]

then `kubectl kustomize mydir/` to build the manifests

[2022-08-29 09:58] fedepaol commented on #1547
@michael18781 / @rgl are you able to reproduce this in a virtualized environment I can run locally?
What k8s distribution are you using?

[2022-08-29 10:30] fedepaol commented on #1154
@Manvir-nokia would you mind filing a new issue and providing the logs of the speakers and the configuration (and the result of the arping test?)

[2022-08-29 11:01] Manvir-nokia commented on #1154
I was able to resolve the issue. the IPs are getting announced. However, thanks for checking.

[2022-08-29 12:11] rgl commented on #1547
@fedepaol, I do have vagrant environments, using k0s and talos. Please take a look at https://github.com/rgl/k0s-vagrant/blob/e3372a8f5276d5ba7eb467c13781c5d26d8749fb/bootstrap-k0s.sh#L225-L244 and https://github.com/rgl/talos-vagrant/blob/7302fb12560ffcfb98fa391f661e047cea4704d1/provision-chart-metallb.sh#L49-L69. But please be aware, that sometimes, it works, but sometimes it fails with the ment

[2022-08-29 13:42] fedepaol commented on #1473
I am gonna close this issue.

@djryanj  / @zrav  / @fabricesemti80 would you mind filing new issues for your comments?

[2022-08-29 13:42] #1473 closed

[2022-08-29 13:43] fedepaol commented on #1401
Hi all, just got back to work!
We are gonna cut a new release in the next few days fixing this

[2022-08-29 14:30] djryanj opened #1568 "Improve logging around config status"
Opening issue as requested by @fedepaol .

May I suggest as an improvement to the controller to help people that logging be improved around the config.

I was only able to sort out that I was missing a config because of this line after enabling debugging: https://github.com/metallb/metallb/blob/main/controller/main.go#L64

Which pointed me in the right direction, but as far as I can tell that's th

[2022-08-29 15:00] #1550 closed

[2022-08-29 16:48] michael18781 commented on #1547
@fedepaol I have now managed to get this working. I was previously using Vagrant to provision my cluster VMs and that was when I had issues. I've now manually provisioned them and I have no issues with MetalLB. I'm unsure why this is the case but I'll proceed without vagrant. Thank you for any time spent looking into my comments

[2022-08-30 11:33] #1401 closed

[2022-08-30 14:05] Scubastooge commented on #1563
Had the same issue.
Can confirm rolling back to 0.13.3 fixed.

[2022-08-30 19:20] nacmonad commented on #1547
Hmm I'm running into identical issue kubernetes 1.24.2, cri-o 1.24.4...
Curious to know a resolution, however will simply revert to MetalLB 12.1

[2022-08-30 22:21] danielslab opened #1571 "IPv6 and DualStack services in native BGP-Mode"
Will ipv6 and dualstack services be implemented for native BGP mode in the future or will FRR mode and L2 mode remain the only modes that will support it?

[2022-08-31 06:42] zrav opened #1572 "IP allocated by controller not allowed by config"
As per request in #1473 I'm opening a new issue for a mentioned bug:

I converted my very simple 0.12.1 config with a single IP to 0.13.x, but it fails with:

[code]
The config:
[code]
Additionally, I noted that with 0.13.x a metallb-speaker pod is deployed on all nodes instead of only worker nodes (how it works with the old version).

- Kubernetes 1.24.3 installed via kubdeadm on Ubuntu 22.04.1,

[2022-08-31 06:57] roldancer opened #1573 "MetalLB and VMWare NSX-T"
Hi All,
    Is there any experience configuring MetalLB with NSX-T ? can someone share experiences and recommendations ?

Many thanks.

[2022-08-31 07:16] fedepaol commented on #1572
Regarding the nodes: did you deploy metallb via helm or via the manifests?

[2022-08-31 07:20] zrav commented on #1572
I installed 013.4 via helm, providing the edited metallb_values.yaml.

[2022-08-31 07:21] fedepaol commented on #1572
Ack, thanks! And thanks for taking the time to file the issue!

[2022-08-31 09:46] fedepaol commented on #1571
Hi, the native BGP mode is on "maintenance" only, so I don't expect ipv6 to be implemented for it.

[2022-08-31 09:46] #1571 closed

[2022-08-31 14:39] GannonTdW opened #1574 "MetallLB Helm chart down ?"
Hello,

I try to [install Metallb with helm](https://metallb.org/installation/#installation-with-helm) but I have the following issue:

[code]

and I have a 404 when I try to go https://metallb.github.io/metallb/
However, for example for prometheus it's works https://prometheus-community.github.io/helm-charts/

### Helm repo
[code]
### Namespace metallb-system
[code]

[2022-08-31 15:19] GannonTdW commented on #1574
well, I have always a 404 with the web site, but with the following command, I have the same error.
[code]

[2022-08-31 15:44] fedepaol commented on #1573
Hi @roldancer , I'd suggest trying to ask on the #metallb slack channel.
I know that @jayunit100 added antrea to the list of compatible CNIs recently (https://github.com/metallb/metallb/pull/1456) but I never heard of nsx-t

[2022-08-31 21:12] ViktorBarzin commented on #914
+1 on this issue. My CI/CD system is failing when trying to `tf apply` the `pod_security_policies`. Can we remove the definitions as a short term mitigation?

[2022-09-01 07:10] fedepaol commented on #914
Closing as duplicate of https://github.com/metallb/metallb/issues/1401
I am going to cut a release, probably today

[2022-09-01 07:10] #914 closed

[2022-09-01 11:40] fedepaol commented on #1499
Hi, the current requirement for ETP=local is to have the two services share the same backend selector:

https://github.com/metallb/metallb/blob/7fb3231966a0c2a6741122f4b81020abd3380011/internal/allocator/k8salloc/k8salloc.go#L31

[2022-09-01 11:40] #1499 closed

[2022-09-01 12:39] fedepaol commented on #1538
Sorry for the delay.
I _think_ I found the issue.
You already have an incompatible couple in your config:

[code]

and

[code]

and this ^^^ is where the /24 is coming from.
This should've been blocked by the webhook, but they were probably created with a sequence that escaped the webhooks (i.e. I see now that creating the advertisement BEFORE the pool would've make it pass).

Then, when we add a

[2022-09-01 12:39] #1538 closed

[2022-09-01 12:41] fedepaol opened #1577 "Webhook improvements"
Follow up of https://github.com/metallb/metallb/issues/1538

- Creating a bgpadvertisement first, and an incompatible (from aggregatino lenght point of view) addresspool will pass the validation, while the inversed order fails
- Whenever incompatibility between a peer and a pool is found, the error doesn't tell which are the two elements involved, making it a bit difficult to see what are the issu

[2022-09-01 13:09] #1527 closed

[2022-09-01 13:59] fedepaol commented on #888
@yzarca @cagataygurturk I guess that's because the controller pod doesn't have the master toleration, hence it won't run and it won't create the secret. I think it would self adjust when you add worker nodes, because the controller will be schedulable again, get created, create the secret that then is found by the speakers.

[2022-09-01 14:01] fedepaol commented on #888
@patikoija if I am not mistaken, the secret is required in 0.12.1 too.
How did you perform the upgrade? Would you mind filing a separate issue?

[2022-09-01 14:45] liornoy commented on #1572
@zrav can you please share the content of the metallb_values.yaml you used?

[2022-09-01 16:26] ssimeth commented on #1154
I'm facing the same issue, how did you fix it?

[2022-09-02 04:13] Manvir-nokia commented on #1154
I created  _l2advertisement_ kind after that the speakers started announcing the ips. you can also check if l2advertisement object exists in metallb-system namespace.

[2022-09-02 06:19] sanzhar-rakhimkul commented on #1563
I roll back to 0.13.2 and 0.12.1 both didn't work. Have same error. Previously I had metallb working but after cluster reset everything stop working. Using same yaml files.

[2022-09-02 07:20] ssams opened #1578 "Detection of availability of EndpointSlices may fail on k8s 1.25"
I'm running MetalLB on OpenShift / OKD and since the update to the latest version, which is based on k8s 1.24, I'm receiving warnings from OpenShift that an API which is deprecated in the next release (i.e. 1.25) is in use.

MetalLB apparently accesses the API _endpointslices.v1beta1.discovery.k8s.io_, as far as I can see this is used at least in the detection to check whether EndpointSlices are a

[2022-09-02 07:24] fedepaol commented on #1578
Thanks for raising the issue! Yes, we probably need to update. It won't make metallb stop working because it will fallback on endpoints, but it's better to update it.

[2022-09-02 08:02] fedepaol commented on #1563
@sanzhar-rakhimkul there's no crds nor webhooks in 0.12.x, how can  you have the same error?

[2022-09-02 09:38] fedepaol commented on #1050
Hi, sorry for the delay. This is supported by metallb.
I also filed a PR to validate it in our CI.
Closing the issue.

[2022-09-02 09:38] #1050 closed

[2022-09-02 09:43] fedepaol commented on #1559
Hi, the availability of the endpoint of a kubernetes service (and thus, the services exposed by metallb) is done by checking their endpoint condition (in the endpoint slices crd). This is given by kubernetes checking their readiness probe.
Multus and secondary interfaces doesn't get involved at all in metallb.

Closing the issue.

[2022-09-02 09:43] #1559 closed

[2022-09-02 10:10] fedepaol opened #1581 "Endless loop and crash"
Opening an upstream issue to track slack discussion.

Hello! I'm having an issue w/ MetalLB where a speaker pod on one of my nodes appears to be leaking memory until the node crashes (~1 GiB per hour).
While running, it seems to be working as intended. I'm able to access the services on the IP assigned by MetalLB.
I'm running  v0.13.4 of MetalLB using the operator on Kubernetes v1.22.7 (Rancher K3

[2022-09-02 10:19] fedepaol commented on #1581
The `nginx-ingress-ingress-nginx-controller` is bouncing between `172.21.0.11` and `172.20.80.1`.

[code]

MetalLB complains `172.20.80.1` is not an ip coming from its config:
[code]

So I suspect there's another loadbalancer controller around that is fighting with metallb in assigning the service an IP.
This is causing a lot of service updates, that may be triggering a memory leak (to be investig

[2022-09-02 12:43] Jeroen0494 commented on #1538
Ah, interesting. I'll perform a new test in the coming days to verify your findings.

[2022-09-02 14:18] carrodher opened #1582 "Pending 0.13.5 release"
Thanks for the new release! I just discovered that for this new version there are, as expected, two [tags](https://github.com/metallb/metallb/tags):
![Screenshot 2022-09-02 at 16 15 56](https://user-images.githubusercontent.com/13216600/188168850-8939ccf6-e0cb-45a3-b066-c162d8a744a4.png)

But there is only one [release](https://github.com/metallb/metallb/releases):
![Screenshot 2022-09-02 at 16 17

[2022-09-02 14:20] fedepaol commented on #1582
Apologies, I forgot to do that! I will do it right now.
Please note that the images and the charts are already available.

[2022-09-02 14:20] #1582 closed

[2022-09-02 14:33] fedepaol commented on #1581
Update: I found the leak.

Copying from the fixing PR:
In corner cases where we have a bouncing service, the number of updates requested to the reloader is higher than how fast the reloader is able to consume those requests. The requests are mutexed, so what happens is that we have a long (and growing) list of reloader child processes spun up by the sighup that we are not able to estinguish.
This

[2022-09-02 16:12] tebaly opened #1584 "ERROR: ip allocated by controller not allowed by config [Only version v0.11.0 works]"
Hello friends.

You can check? This is really a problem!
https://groups.google.com/g/metallb-users/c/4TGU39ZhLxQ

Weird errors like this. In the latest versions

Only version v0.11.0 works for me. The settings are identical, only the Helm Chart version is different (https://charts.bitnami.com/bitnami)

https://groups.google.com/g/metallb-users/c/4TGU39ZhLxQ/m/8pXujAqUAgAJ

[2022-09-03 08:34] zrav commented on #1572
I just tried with 0.13.5 on our production cluster, but the problem did not reappear.
As for the speakers running on control plane nodes, that is of course because the DaemonSet definition has tolerations for the CP taints. For us it makes zero sense to run speakers on CP nodes, so I edited out the tolerations. I believe this should be default.

[2022-09-03 08:34] #1572 closed

[2022-09-03 16:44] fedepaol commented on #1584
Hi, can you paste your configuration and the full error?
Also, the logs of the speaker pods?

[2022-09-03 20:59] simplysoft opened #1585 "Support Protocol: None / Speaker-less mode"
We are running kube-router with `--advertise-loadbalancer-ip`, so there is no need for metallb to advertise the ips via BGP or in layer 2. It would be great if the speaker-less mode would be "officially" supported by allowing to configure `protocol: none` as suggest in https://github.com/metallb/metallb/issues/114#issuecomment-858601259

[2022-09-05 02:25] KillMaster9 opened #1586 "LoadBalancer Service External-IP <pending> status"
ConfigMap File:

apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: config
data:
  config: |
    address-pools:
    - name: my-ip-space
      protocol: layer2
      addresses:
      - 192.168.1.240-192.168.1.250

the config.addresses only have 10 IPs.
1. Create 10 Loadbalancer service(svc1 ~ svc10)，All ip resources are used.
2. when create the svc11 LoadBalancer service,

[2022-09-05 08:11] fedepaol commented on #1586
Hi @KillMaster9 , what version of metallb are you using? Please be aware of https://github.com/metallb/metallb/issues/1473

[2022-09-05 08:17] fedepaol commented on #1585
Hi @simplysoft , with the current crd layout this is now possible.
Creating an instance of IPAddressPool will make the ip assigned to the service, but if you don't create any BGP / L2 advertisement instances, it won't be advertised.

[2022-09-05 08:17] #1585 closed

[2022-09-05 08:38] #1578 closed

[2022-09-05 08:44] fedepaol commented on #1557
Hi, as far as I know, the reason for the serviceips being a slice is to accomodate the dual stack feature.
I am not sure that, even if we allocate 3 externalIPs to the service, all teh rest would start working (and it might be totally CNI dependant). Even if it was possible, I am not sure it's worth the extra complexity in MetalLB, as a possible workaround is to instantiate two services sharing th

[2022-09-05 10:24] Manvir-nokia opened #1587 "kubernetes v.1.25.0 compatible APIs for metallb"
with the release of kubernetes v.1.25.0 what is the plan to have compatible APIs for metallb because the below api resources use apiversion: metallb.io/v1beta1

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta

[2022-09-05 10:43] fedepaol commented on #1587
That won't change the compatibility with 1.25
The beta1 is related to metallb crds, which are compatible with 1.25

[2022-09-05 10:43] #1587 closed

[2022-09-05 15:49] fedepaol commented on #1584
Hi @tebaly , can you make sure it's not related to https://github.com/metallb/metallb/issues/1473 too ?

[2022-09-05 15:58] fedepaol commented on #1562
Could you reproduce this and paste the full logs of the speakers running on the two nodes ceres-03 / eris-04 with debug logs enabled (just the full log as a file)?
Also, the service (name, ip) that is bouncing between the two nodes.
Thanks!

[2022-09-06 00:56] KillMaster9 commented on #1586
0.12，thanks

[2022-09-06 06:47] woodgear opened #1589 "feature-request: fallback to SingleStack when PreferDualStack"
metallb-version 0.13.4
k8s-version 1.23.8

https://github.com/metallb/metallb/blob/91b34a0a7b8d6fe3735a204c6b2c205133bb9d6a/internal/allocator/allocator.go#L262

is should be better if we could fallback to singleStack when preferDualStack.

[2022-09-06 07:29] fedepaol commented on #1589
I think this makes sense, thanks for raising it!

[2022-09-06 07:39] hongzhen-ma commented on #1589
The details about this issue：
1、The cluster  is dual-stack，and the para in kube-apiserver is `- --service-cluster-ip-range=10.4.0.0/16,fd00:10:96::/112`
2、The  ipaddresspools crd used for metallb, all the pools are IPv4 protocol:
# kubectl get ipaddresspools -A
NAMESPACE        NAME   AGE
metallb-system   ip     4h25m
metallb-system   test   4h36m
# kubectl get ipaddresspools -o yaml -n metallb-sy

[2022-09-06 07:50] #1581 closed

[2022-09-06 08:04] woodgear commented on #1589
a simple and small change  could be https://github.com/metallb/metallb/pull/1590

[2022-09-06 08:10] SihengCui opened #1591 "Reassignment Duplicate IP after deleting IP pool"
Hello! I have find a problem caused by IP reassignment after deleting IP pool.
k8s version: 1.25.0 metallb: 0.13.5
At first, I have two autoAssign ip pools.
`kubectl get ipaddresspools -n metallb-system -oyaml`
[code]
The services may be divided into ips in two different ip pools.
`kubectl get svc -A | grep Load`
[code]
Then I deleted the default1 ippool, restart controller, in my opinion, the rea

[2022-09-06 08:12] woodgear opened #1592 "ignore tentative dadfailed ipv6 address"
metallb-version 0.13.4
k8s-version 1.23.8

https://github.com/metallb/metallb/blob/8377501adec634ecfa7a215560daa2c81c31c025/internal/layer2/announcer.go#L115
it may report error like ' cannot assign requested address' when you try to bind a ipv6 address which is [tentative dadfailed](https://serverfault.com/a/829646/767524)

to fix it. i though we could just ignore address which have those flag.

[2022-09-06 08:13] woodgear commented on #1591
try restart metallb controller pod?

[2022-09-06 08:16] SihengCui commented on #1591
yes , If the controller is not restarted, the IP will not be reallocated.

[2022-09-06 08:31] SihengCui commented on #1591
these are some errors in controller
[code]

[2022-09-06 09:02] fedepaol commented on #1265
Closing this, is fixed

[2022-09-06 09:02] #1265 closed

[2022-09-06 09:10] abrondijk commented on #1562
Sure, though upon rolling back (forward?) from v0.12.1 to v0.13.4, the services don't seem to be bouncing between nodes anymore, they just get "redeployed" to the same node.

As for the service name and IP, it's not just one particular service that has this issue, it is all the services with `type` as `LoadBalancer`. As an example though, `traefik` with IP `10.0.20.250`. The logs (about 15 minutes

[2022-09-06 11:55] liornoy commented on #1572
@zrav are you sure that MetalLB deployed the speakers only on the worker nodes on older versions?
as you can see in this [ref](https://github.com/metallb/metallb/blob/v0.12/charts/metallb/values.yaml#L186) the default
was to deploy on the master nodes prior to 0.13.x

[2022-09-06 12:13] zrav commented on #1572
Yes I'm sure, just verified it on my test cluster. In the linked values file I see "tolerateMaster: true" but empty tolerations. Is it possible tolerateMaster does not handle the control-plane taint of recent version of Kubernetes?

[2022-09-06 14:31] felixhuettner opened #1593 "Helmchart relabelings does not work correctly"
Hi everyone,

when i configure `relabelings` in the prometheus section of the helmchart they are templated wrongly and therefor fail to apply.

Example to create a servicemonitor with relabel config:
[code]

this will output the following serviceMonitor:
[code]

however when trying to apply this to kubernetes i get the following error message: `unknown field "relabelings" in com.coreos.monitoring.

[2022-09-06 15:00] fedepaol commented on #1593
Sounds like a bug!
Thanks for reporting it, we'll fix it

[2022-09-07 08:34] fairmonk opened #1596 "broken link"
https://metallb.universe.tf/apis/_index.md is broken ( find it on this page -> https://metallb.universe.tf/configuration/ )

[2022-09-07 13:14] fedepaol opened #1597 "Webhook issues: InternalError (failed calling webhook "ipaddresspoolvalidationwebhook.metallb.io")"
This is an umbrella issue to try to provide troubleshooting information and to collect all the webhook related issues:

https://github.com/metallb/metallb/issues/1563
https://github.com/metallb/metallb/issues/1547
https://github.com/metallb/metallb/issues/1540

A very good guide that can be applied also to metallb is https://hackmd.io/@maelvls/debug-cert-manager-webhook
Please note that the servic

[2022-09-07 13:15] fedepaol commented on #1563
Closing in favor of https://github.com/metallb/metallb/issues/1597, please provide the information requested there.

[2022-09-07 13:15] #1563 closed

[2022-09-07 13:15] fedepaol commented on #1540
Closing in favor of https://github.com/metallb/metallb/issues/1597, please provide the information requested there.

[2022-09-07 13:31] fedepaol opened #1598 "Provide a deployment option for disabling the webhooks"
Given the issues related to validating webhooks can be related to multiple factors (see https://github.com/metallb/metallb/issues/1597 and https://hackmd.io/@maelvls/debug-cert-manager-webhook ), it makes sense to offer an option to disable the validating webhooks, to make metallb usable in those scenarios (despite with less checks on the CR creation).

[2022-09-07 14:20] sanzhar-rakhimkul commented on #1563
I solved the problem. It happened because of my http_proxy set and I could not access webhook directly. It went to proxy server which uses self-signed certificate and got the problem. It was really hard to debug

[2022-09-07 14:21] fedepaol commented on #1563
Thanks for the follow up!

[2022-09-07 15:01] #1535 closed

[2022-09-07 15:58] fedepaol commented on #1465
Close as we implemented it

[2022-09-07 15:58] #1465 closed

[2022-09-07 17:35] lmcdasm opened #1599 "MetalLB Website Down / Docs Unavailable"
Thanks for filing an issue! A few things before we get started:

1. This is not the place to ask for troubleshooting. Unfortunately
   troubleshooting LB issues in k8s takes a lot of time and effort
   that we simply don't have. If your load-balancers aren't working,
   please don't file an issue unless you have identified a _specific_
   bug to fix. Otherwise, please ask for help in the `#metallb

[2022-09-07 17:46] MichaelVL commented on #1597
Hi,
My observation is that its a bit random if this occurs or not. Another observation is that after observing the issue, if I retry after some minutes the webhook often succeeds. This suggest that there is some race involved.

Pure speculation, but could the API server initially cache an invalid cert before the cabundle injection and the waiting cause this cache to expire and the new injected cer

[2022-09-08 06:56] cyclinder commented on #1448
Yeah! But maybe I don't have extra time to work on this lately, maybe I'll look into it during the weekend.

[2022-09-08 07:46] fedepaol commented on #1599
Can you use https://www.isitdownrightnow.com to check that? I am able to access the site

[2022-09-08 07:47] fedepaol commented on #1448
No rush! I was just going through the issues and found this

[2022-09-08 11:43] unsightly-drone opened #1601 "documentation for helm deploys missing"
can docs pls be updated to show a helm example for added address pool? only k8s deploy is shown but helm install is listed. convert from on configinline with helm to 0.13 is also not work when converting to resources.yaml using provide docker image.

[2022-09-08 11:46] lmcdasm commented on #1599
I dont understand why you would close this.. Using another site to say its "up"' is not an answer.

if you click on any of the metalLB homepage links - try it, dont use some other site - they dont work.

Is the website an doc permanently down?

[2022-09-08 12:05] lmcdasm commented on #1599
Thanks for the input.. the issue was a DNS issue from North America over the last two days...

not all N. America DNS servers (only Google it looks like) resolves the .fr domains - Rogers, Cogeco and a handlful of Canadian Operators dont "pickup" .fr domains by default .

Thanks
D

[2022-09-08 12:08] fedepaol commented on #1599
No problem, thanks for reporting it! It could've been something odd on our side.

[2022-09-08 16:40] lmcdasm commented on #1599
thank you for getting back to me :)

[2022-09-09 06:40] qingwusunny commented on #1556
@fedepaol WDYT?

[2022-09-09 07:21] fedepaol commented on #1556
I think the general status exposure is way broader than this, and will file a design proposal soon-ish to collect all my considerations.
I'd rather trying to collect all the status we want to expose in a single document instead of starting implementing pieces.

[2022-09-09 09:36] qingwusunny commented on #1556
ok
I'm very happy about the status design

[2022-09-09 09:46] chnhaoran commented on #1556
Seems great! BTW, @fedepaol Federico can you pls let us know what kinds of fields may be inserted to the Status?

[2022-09-09 09:50] fedepaol commented on #1556
I am not sure yet! That will be part of the proposal, which will obviously open for discussion before we merge it

[2022-09-09 10:05] fedepaol commented on #1586
Can you share the details of the service, and the logs of the controller with log level set to debug?
-loglevel=debug iirc

[2022-09-09 13:43] germetist opened #1602 "Feature Request | Add possible to use address-pool per-namespace annotations"
Hello,

It would be great if you add it possible to use `metallb.universe.tf/address-pool` per-namespace annotations

For example by [calico ](https://projectcalico.docs.tigera.io/reference/cni-plugin/configuration#configuring-node-and-typha) I can specifying IP pools to all pods per-namespace  by add annotation like this
[code]

[2022-09-09 13:47] fedepaol commented on #1602
Hi @germetist , it's already on our todo list, as described in https://github.com/metallb/metallb/blob/main/design/pool-configuration.md#using-a-given-ipaddresspool-only-for-a-subset-of-services

[2022-09-09 13:49] germetist commented on #1602
Oh. sorry

[2022-09-09 13:49] #1602 closed

[2022-09-09 15:33] SchoolGuy opened #1603 "Readd limits and defaults"
With commit https://github.com/metallb/metallb/commit/ed1d25906dca94d9c56356f2cc49b36f23347e45 the resource limits were removed without any possibility to set them yourself (plus it was missing in the changelog). Since the values are not exposed via the Helm-Chart it is very inconvenient to set them.

According to https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/, cont

[2022-09-09 15:39] fedepaol commented on #1603
It's possible to set the resources in the helm charts here: https://github.com/metallb/metallb/blob/main/charts/metallb/values.yaml#L222

The referenced commits removes them from the all-in-one manifest, which is the only place lacking them.
Please note that we are also offering a kustomize-friendly configlayout that allow metallb users to override them.

[2022-09-09 15:39] #1603 closed

[2022-09-09 17:27] SchoolGuy commented on #1603
@fedepaol Thanks for answering so quickly. Then I will switch my Metallb to Helm to make use of this.

[2022-09-11 15:39] k4nzdroid commented on #5
Nice Project!!!
Using it on our selfhosted Kubernetes Cluster.
BGP mode for Development Env and Production Env. ARP mode for less common scenarios.

[2022-09-12 00:16] perfectra1n commented on #299
Stopping by to say that ConfigMaps are no longer used, you have to use the CRDs. You have to specify each Resource _without_ as seen here: https://metallb.universe.tf/configuration/

[2022-09-12 08:12] pperiyasamy commented on #1562
Hi @abrondijk , is there too many duplicate node events generated in this cluster ? can you check and let us know ? Looks like this is what causing force sync on all the IPs.

[code]

[2022-09-12 08:49] abrondijk commented on #1562
Hi @pperiyasamy, no I don't see any events at all related to duplicate nodes

[2022-09-12 09:27] pperiyasamy commented on #1562
Ok @abrondijk , then can you check what kind of node events which triggered config reconcile (eventally lead to force resync) at speaker pod for the period `2022-09-06T08:53:19Z` to `2022-09-06T09:09:38Z` ?

[code]

[2022-09-12 09:41] abrondijk commented on #1562
This will not be possible as those events no longer exist. It seems that events have a default ttl of 1 hour.

I can rollback to v0.13.4 again and provide you any related events, though I don't think there will be any node events.
The original issue starts happening as soon as I deploy v0.13.4. So if there were any node events that trigger the issue, I should see those events firing regardless of

[2022-09-12 10:40] pperiyasamy commented on #1562
The  config reconcile in `v0.13.4` depends on node event as well to populate node selector in l2 and bgp advertisements. something is causing those node events unnecessarily, for example on  node `eris-01` it happened 5 times. but, yes, node events are regardless of metallb version.

[code]

[2022-09-12 10:44] abrondijk commented on #1562
Ok, I will rollback and check the events, however this might take a couple days, not sure when I'll be able to.

[2022-09-12 19:00] Queuecumber opened #1605 "Stable Host Numbering"
I have an interesting issue; this is related to #157 but not exactly the same

I am using a dual stack cluster and my IPv6 addresses for metallb come from a dynamic /56 allocation that my ISP gives me. While this prefix has been stable so far it could theoretically change at any time.

Pretty much all my infrastructure accounts for this, including DNS for my public services which are exposed using

[2022-09-12 22:05] mac-chaffee opened #1606 "Very frequent reloads in 0.13 causing high CPU usage"
After upgrading from 0.12.1 to 0.13.5, I noticed very frequent reloads that caused CPU usage to spike which occasionally triggered failing probes and pod restarts (due to me setting the CPU limit to a low 100m).

These kinds of logs appear over and over again:

[code]

I've noticed a similar issue before, but never to this extent. My hunch is that something in my cluster frequently updates the `No

[2022-09-13 02:24] KillMaster9 commented on #1586
Read the source code and take a closer look at the relevant processing logic.
when delete service, will return k8s.SyncStateReprocessAll, forceSync.
`	if svcRo == nil {
		c.deleteBalancer(l, name)
		// There might be other LBs stuck waiting for an IP, so when
		// we delete a balancer we should reprocess all of them to
		// check for newly feasible balancers.
		return k8s.SyncStateReprocessAll
	}`

[2022-09-13 07:17] fedepaol commented on #1606
Thanks for filing the issue! I am closing this as dupe of https://github.com/metallb/metallb/issues/1562
Looks like we need to cache the nodes and not process them unless something relevant changes.
cc @pperiyasamy

[2022-09-13 07:17] #1606 closed

[2022-09-13 11:47] fedepaol commented on #1586
Sorry @KillMaster9 , would you mind expanding your comment / scenario? Are you saying you changed the service type?

[2022-09-13 11:56] KillMaster9 commented on #1586
Yes, Changed service type，LoadBalancer ---> NodePort

1. Create 10 Loadbalancer service(svc1 ~ svc10)，All ip resources are used.
2. when create the svc11 LoadBalancer service, because no ip,the LoadBalancer service external-ip is pedning status.
3. changed the svc1 type (Loadbalancer ---> NodePort) will release an ip address，but the svc11 still pending.

[2022-09-13 15:35] koimad commented on #1597
Hi,
    I've got the same issue, After installing a clean bare metal kubernetes cluster following this guide https://graspingtech.com/install-kubernetes-rhel-8/, and doing the basic metallb install as per the guide.

If I turn off the firewall on the worker nodes then all works well.

The firewall dropped logs report

![image](https://user-images.githubusercontent.com/5713482/189943566-545af3eb-47

[2022-09-14 02:33] panpan0000 opened #1610 "[Enhancement] helm should wait critical condition of web-hook service ready"
### [Root Cause]

The metallb controller should be treated as `ready` until webhook-service ready.
Currently , the readiness use `/metrics` which will be ready sooner when pod starts, but the `webhook-service` will be slower.
And `helm --wait` should wait critical condition of web-hook service ready.

### [Reproduce steps]

for example: In below script , the second line of `kubectl apply` tends to

[2022-09-14 07:36] rraj-gautam opened #1612 "Issue with creating ipaddresspools: failed calling webhook"
Installed metallb using helm
[code]
Ipaddresspool.yaml
[code]

Got the following error when trying `kubectl apply`
[code]

Logs at controller pod
[code]

Logs at speaker pod
[code]

Kubernetes: v1.24
MetallB: v0.13.5
Network addon: Flannel
Configured kubeproxy to enable strict arp and ipvs mode

[2022-09-14 07:39] fedepaol commented on #1612
Hi @rraj-gautam , is this a transient error or does it happen even minutes after the deployment? If it still happens after the deployment is stable, please check the details described in https://github.com/metallb/metallb/issues/1597 to provide more informations

[2022-09-14 08:30] rraj-gautam commented on #1612
@fedepaol the issue persists. And No external IP is assigned to the Service. ( Stuck in Pending).

[2022-09-14 08:31] fedepaol commented on #1612
Then please check the details described in https://github.com/metallb/metallb/issues/1597 to provide more informations

[2022-09-14 12:25] elraro commented on #1597
Hi @fedepaol thanks for this guide.

I found a problem, in my case, metallb is complying about that it cannot found the webhook-service.

`darnassus k3s[1976374]: W0914 14:20:29.261242 1976374 reflector.go:324] storage/cacher.go:/[metallb.io/bgppeers](https://metallb.io/bgppeers): failed to list [metallb.io/v1beta1](https://metallb.io/v1beta1), Kind=BGPPeer: conversion webhook for [metallb.io/v1be

[2022-09-15 07:27] liornoy commented on #1596
Thank you @fairmonk
It should be changed to URL: https://metallb.universe.tf/apis/

[2022-09-15 16:46] nathanael-nsone opened #1613 "services bgp announcements are not restored"
I'm working in an environment with the following:

k3s version v1.24.3+k3s1 (990ba0e8)
go version go1.18.1
metallb installed via helm (chart version: metallb-0.13.4), app version (v0.13.4)
I'm using calico CNI but not using bird to establish bgp sessions
I have an nginx service running with the following config

kind: Deployment
metadata:
  name: nginx
spec:
  selector:
    matchLabels:
      app:

[2022-09-15 19:07] elraro commented on #1597
My problem was fixed. I had problems with helm deployment, metallb version 0.12 and outdated crds. Redeploying everything works perfectly.

Best regards.

[2022-09-16 03:35] hamishliu opened #1615 "rancher rke k8s 1.18.20 Unable to install metallb"
kubectl apply -f https://raw.githubusercontent.com/metallb/metallb/v0.13.5/config/manifests/metallb-native.yaml

namespace/metallb-system created
error: error validating "https://raw.githubusercontent.com/metallb/metallb/v0.13.5/config/manifests/metallb-native.yaml": error validating data: [ValidationError(CustomResourceDefinition.spec.versions[0]): unknown field "deprecated" in io.k8s.apiextensio

[2022-09-16 03:35] hamishliu commented on #1615
helm -n metallb install metallb metallb --create-namespace
Error: INSTALLATION FAILED: unable to build kubernetes objects from release manifest: error validating "": error validating data: [ValidationError(CustomResourceDefinition.spec.versions[0]): unknown field "deprecated" in io.k8s.apiextensions-apiserver.pkg.apis.apiextensions.v1.CustomResourceDefinitionVersion, ValidationError(CustomResource

[2022-09-16 07:19] fedepaol commented on #1615
Hi, metallb tries to adhere to the k8s support scheme. This means that we (try to) guarantee and test against k8s 1.21 _at most_.
You can try using an older version, such as 0.12.

[2022-09-16 10:50] fedepaol opened #1616 "Upgrade kind in CI"
1.25 is now available, we should bump the kind version and the min supported versoin in our CI.

https://github.com/kubernetes-sigs/kind/releases

[2022-09-16 14:21] LarsBingBong commented on #1597
I've experienced when installing MetalLB via `Helm` and as a post Chart installation step create advertisement and pool configs - via CRD. v0.13.5.

But, this doesn't always happen.

[2022-09-19 14:17] liornoy commented on #1572
Thanks for the clarification!
After another look, it seems that MetalLB's default behavior was always to deploy the speaker pods on the master nodes.
However, the combination of Kubernetes version 1.24+ and MetalLB pre-v0.13 results in a bug where the speaker pods aren't being deployed on the master nodes. (as the new `node-role.kubernetes.io/control-plane` taint was introduced).

[2022-09-20 07:46] liornoy commented on #1537
@cyclinder thanks for filing this issue.
I am able to reproduce this behavior and I'll look into what is causing it.

[2022-09-21 09:44] #277 closed

[2022-09-21 11:45] #1596 closed

[2022-09-23 12:02] #1616 closed

[2022-09-24 09:44] githubcdr commented on #381
For me it was the Traefik daemonset that had the option hostNetwork enabled, after disabling this things worked normal 🎉

[2022-09-25 11:08] fedepaol commented on #1615
Closing this as it's not a metallb issue

[2022-09-25 11:08] #1615 closed

[2022-09-25 19:11] fireflycons commented on #1597
Hi @fedepaol

I've done two installations of MetalLB today, both using the same version of the chart (latest available as at time of writing).

1. kubeadm cluster running 1.25 deployed on Hyper-V VMs running Ubuntu 22.04 - This works fine.
1. Manually installed cluster running 1.24 on VirtualBox running Ubuntu 22.04 as per https://github.com/mmumshad/kubernetes-the-hard-way (which I currently main

[2022-09-26 08:18] fedepaol commented on #1597
Hi @fireflycons , we had a discussion about the method to provide certificates to the webhooks, and we came up to the conclusion that adding an additional dependency such as cert-manager was not ideal, so we ended up embedding https://github.com/open-policy-agent/cert-controller in metallb to perform such task.
So, right now cert-manager is not supported, and adding it would compete with the curre

[2022-09-26 12:53] fireflycons commented on #1597
Ok @fedepaol that's fine re cert-manager. At least I know how you're doing it now :-)

Any ideas on why the IPAddressPool isn't working in my virtualbox setup?

[2022-09-26 12:55] fedepaol commented on #1597
What you mean by "the ipaddresspool isn't working"?

[2022-09-26 13:22] fireflycons commented on #1597
I mean what this entire discussion is about. When I try to create the IPAddresPool and L2Advertisement resources, they time out.
As mentioned in my initial post, I performed all the steps outlined above and got the expected curl response, which if I haven't read it incorrectly means that the API server should be able to reach the webhook endpoint.
[code]

[2022-09-26 13:26] fedepaol commented on #1597
Ah apologies. Can you check the logs of the apiserver?
Also, is the error always occurring or intermittent? And what is the error? Is the environment single node?

[2022-09-26 17:31] fireflycons commented on #1597
Hi @fedepaol

API server error is

[code]

Now the cluster is running the control plane as OS services (i.e. not kubeadm). Doesn't this usually mean that in-cluster webhooks need to have `hostNetwork: true`? It occurs to me that I did the curl test from inside a test pod, which of course was going to work!

Was unable to redeploy the controller on the host network as it has a port clash, I'm guess

[2022-09-27 06:50] ssivasankarrao commented on #1550
Can you tell us the reason why files are preferable to environment variables when it comes to secrets?

As per CIS benchmark - "It is reasonably common for application code to log out its environment (particularly in the event of an error). This will include any secret values passed in as environment variables, so secrets can easily be exposed to any user or entity who has access to the logs."

[2022-09-28 10:18] #1490 closed

[2022-09-28 10:37] liornoy commented on #1537
@cyclinder can you please bump to the latest FRR version and update if this fixes the issue?

[2022-09-28 14:36] bnicolae86 commented on #486
I managed to use floating ip with metallb. I created an openstack dummy port in the private network  and associated a FIP to it. The port wasn't attached to any instance. Then I deployed metallb and instructed to create the VIP with the private ip of the dummy port created before. The dummy port appear as DOWN but the traffic is forwarded from the FIP to metallb private IP .

[2022-09-28 20:19] deba10106 commented on #486
So, you use neutron port-create command?

[2022-09-29 08:00] bnicolae86 commented on #486
In fact I'm relying on terraform to do that.

![image](https://user-images.githubusercontent.com/54812815/192973273-9db6d829-143f-4978-8959-eddcbd9fe5db.png)

After the port is created on Openstack, metallb will create the LB with the same IP. As you can see I'm using **var.kube_vip_ip** in both places.

![image](https://user-images.githubusercontent.com/54812815/192974268-b069fafa-8823-4e06-9b70-

[2022-09-29 10:26] mschauf commented on #1563
Got nearly the same problem when creating a ip pool:

`Error "failed calling webhook "ipaddresspoolvalidationwebhook.metallb.io": failed to call webhook: Post "https://webhook-service.metallb-system.svc:443/validate-metallb-io-v1beta1-ipaddresspool?timeout=10s": x509: certificate is valid for metallb-operator-webhook-server-service.metallb-system, metallb-operator-webhook-server-service.metallb-sy

[2022-09-29 12:12] mschauf commented on #1540
Got nearly the same problem when creating a ip pool:

Error "failed calling webhook "ipaddresspoolvalidationwebhook.metallb.io": failed to call webhook: Post "https://webhook-service.metallb-system.svc:443/validate-metallb-io-v1beta1-ipaddresspool?timeout=10s": x509: certificate is valid for metallb-operator-webhook-server-service.metallb-system, metallb-operator-webhook-server-service.metallb-sys

[2022-09-29 12:53] mschauf commented on #1597
Hello! I've deployed Metallb Operator on OKD 4.11 and I'm trying now to configure the address pool via:

[code]

respectively

[code]

and I get following error message:

`Error "failed calling webhook "ipaddresspoolvalidationwebhook.metallb.io": failed to call webhook: Post "https://webhook-service.metallb-system.svc:443/validate-metallb-io-v1beta1-ipaddresspool?timeout=10s": x509: certificate is

[2022-09-30 09:53] panpan0000 commented on #1610
close with the PR merged

[2022-09-30 09:53] #1610 closed

[2022-10-01 16:21] fedepaol commented on #1216
Closing this, we reverted using dockerhub

[2022-10-01 16:21] #1216 closed

[2022-10-01 16:22] fedepaol commented on #894
Closing this in virtue of the fact that we now have an interface selector for selecting interfaces.
Feel free to reopen if this is still an issue / is reproducible

[2022-10-01 16:22] #894 closed

[2022-10-02 00:36] attiss commented on #1598
@fedepaol I'd be happy to contribute this. Just to double check: we want to provide a configuration option that controls whether the [`metallb-webhook-configuration` resource](https://github.com/metallb/metallb/blob/main/charts/metallb/templates/webhooks.yaml) is deployed or not, correct?

Do you have any preference regarding the configuration? How about something like this?

[code]
(crds.validati

[2022-10-03 10:34] fedepaol commented on #1598
Either that, or an alternative method is to drive the failure policy of the webhook, [here](https://github.com/metallb/metallb/blob/main/charts/metallb/templates/webhooks.yaml#L35).
I'd also try to keep backward compatibility, and as the default behaviour is now to deploy the webhooks, I'd call it "disableWebhooks".

[2022-10-03 10:43] attiss commented on #1598
Sounds good to me! If we go this path, how about calling the config option `permissiveWebhooks` or `ignoreWebhookFailures`?

[2022-10-03 10:45] fedepaol commented on #1598
`ignoreWebhookFailures` sounds a bit too scary :p
How about exporting the policy itself and call it just `validationFailurePolicy` ?

[2022-10-03 10:57] migs35323 commented on #439
+1

[2022-10-03 11:05] attiss commented on #1598
I can open a PR for this later today, if that's fine with you.

[2022-10-03 11:06] fedepaol commented on #1598
No rush! Take your time, and thanks for looking into this!

[2022-10-03 17:57] attiss commented on #1598
PR opened: https://github.com/metallb/metallb/pull/1623

[2022-10-03 20:51] #1405 closed

[2022-10-04 13:02] fedepaol opened #1624 "Validate hugo is building the website in CI"
Changes to the website are not validated in our CI. This means that a breaking change can get unnoticed in until we proceed with cutting the release.
It'd be nice to run hugo to validate the website content as part of our CI.

[2022-10-06 14:13] #1598 closed

[2022-10-06 16:47] fedepaol commented on #1612
@rraj-gautam did not see any follow up on this. Would you mind checking / closing if this was fixed?

[2022-10-06 21:56] attiss commented on #1459
@oribon @fedepaol I'd be happy to contribute this.

[2022-10-07 06:38] fedepaol commented on #1459
Thanks! Assigning this to you

[2022-10-07 10:56] fedepaol commented on #1562
I think this was fixed  by https://github.com/metallb/metallb/pull/1607

[2022-10-07 10:56] #1562 closed

[2022-10-07 11:00] fedepaol commented on #1584
Closing this because there was no reply, feel free to reopen if you have the information requested

[2022-10-07 11:00] #1584 closed

[2022-10-07 12:17] pseymournutanix commented on #1597
My secret and webhook don't have any values for `caBundle` and I get this error. It's a clean deployment to a new cluster ?

[2022-10-07 14:23] fedepaol commented on #439
The solution to this issue is to have multiple services sharing the same set of endpoints.
Doing this is functionally equivalent to having a service with the two ips.
The anti affinity mentioned by @NicolasT would require to have the leader election algorithm to be stateful as opposed to the current implementation, and I am not sure it's a complication we want to introduce.
Also, now we have the n

[2022-10-07 14:23] #439 closed

[2022-10-07 14:24] fedepaol commented on #453
Closing as per the same reason of #439
The solution to this issue is to have multiple services sharing the same set of endpoints.
Doing this is functionally equivalent to having a service with the two ips.

[2022-10-07 14:24] #453 closed

[2022-10-07 14:27] fedepaol commented on #2
Closign this, webhooks were implemented in the transition to CRDs

[2022-10-07 14:27] #2 closed

[2022-10-07 14:31] fedepaol commented on #186
Closing this as now we have dual stack clusters.

[2022-10-07 14:31] #186 closed

[2022-10-07 14:36] fedepaol commented on #307
Closing, we have both in the helm chart

[2022-10-07 14:36] #307 closed

[2022-10-07 14:42] #531 closed

[2022-10-07 14:46] fedepaol commented on #566
I think we have updated the kustomize instructions and people are following them with no issues.

[2022-10-07 14:46] #566 closed

[2022-10-07 14:47] fedepaol commented on #591
We covered this part with https://github.com/metallb/metallb/tree/main/configsamples

[2022-10-07 14:47] #591 closed

[2022-10-07 14:49] fedepaol commented on #621
This can be easily implemented now by modifying the l2 node selector of the l2 announcement resource.

[2022-10-07 14:49] #621 closed

[2022-10-07 15:26] fedepaol commented on #1426
I think [this action](https://github.com/marketplace/actions/close-stale-issues) could be the right one. Parameters to be discussed in the PR.

[2022-10-09 11:34] TheRealVira opened #1634 "'microk8s enable metallb' results in webhook timeout"
This might be related to the just merged failurePolicy feature (https://github.com/metallb/metallb/commit/7aa51fbf62a1fd8f8034a863bd2ffa8a2eb4c25a).

When enabling metallb on a microk8s system I get the following output:

[code]

microk8s status:

[code]

- Version of Metallb controller deployment: `quay.io/metallb/controller:v0.13.3`
- Versions of K8s:
[code]
- Network addon: `docker.io/calico/ku

[2022-10-10 07:42] fedepaol commented on #1634
Unless you are consuming from `main`, I doubt this is being caused by that commit.
The easy version is, the controller is not ready yet and the webhook call fails but the failure is temporary. There are a couple of mitigations for this, which may involve changing microk8s (which I don't know much about)

I have a couple of questions:
- is the error happening only at deploy time, or even if you try

[2022-10-10 08:01] TheRealVira commented on #1634
The error persists after deploy time and even when trying to create crds later on.

I am deploying metallb using microk8s addons. https://microk8s.io/docs/addon-metallb (microk8s enable metallb)

My cluster is brand new and without any customizations. I get this error right out of the box. I tried following https://github.com/metallb/metallb/issues/1597 but without any luck. I even tried to follow

[2022-10-10 08:04] fedepaol commented on #1634
A quick workaround to move on is to change the failurepolicy to ignore, as we do in https://github.com/metallb/metallb/commit/7aa51fbf62a1fd8f8034a863bd2ffa8a2eb4c25a

Other questions:
- is the contrller running?
- Can you provide the logs of both the controller and the api server?
- When you say you followed https://github.com/metallb/metallb/issues/1597 without any luck, what you mean? Is the ca

[2022-10-10 11:22] hidalgopl commented on #1597
We started hitting this issue in our CI after migrating to `v0.13.5`. We're using kind cluster, v1.21.
Code that worked before:
[code]

I noticed that in kind, `speaker` has `CreateContainerConfigError` initially:
[code]

workaround that seems to be working so far for us is waiting until all pods (speaker & controller) are ready:
[code]
our `metal_lb_addrpool.yaml`:
[code]

posting as fyi, in case

[2022-10-10 14:21] TheRealVira commented on #1634
A quick workaround to move on is to change the failurepolicy to ignore, as we do in https://github.com/metallb/metallb/commit/7aa51fbf62a1fd8f8034a863bd2ffa8a2eb4c25a -> where can I do that?

Controller is running:

[code]

Logs:

[code]

Endpoint:

[code]

The caBundle in the webhook configuration and in the secret do NOT match. And the `webhook-server-cert` equals the default dummy cert!

[2022-10-11 11:51] TheRealVira commented on #1634
@fedepaol so.. is there something I missed configuring, or is there anything I can do to fix this issue? Maybe just by copying the caBundle from the webhook config to the webhool-server-cert secret?

[2022-10-11 12:00] fedepaol commented on #1634
Sorry, haven't looked into this yet. Is microks something I can easily run locally with vms?

[2022-10-11 12:04] TheRealVira commented on #1634
Yeah you just need the Ubuntu server image and enable microk8s: https://ubuntu.com/download/server

[2022-10-11 16:23] #1532 closed

[2022-10-12 14:26] cyclinder opened #1638 "feature request: Support for counting assigned IPs in the status field of the IPAddressPool object"
something like:
[code]

@fedepaol any thoughts？ If it make sense, I'm interested in working on it :)

[2022-10-12 14:39] fedepaol commented on #1638
I have on my todo list to write a comprehensive proposal for exposing the status. I am gonna add this item and split the work in issues, but I'd prefer to have that out before starting to work on any item.

[2022-10-12 15:08] mac-chaffee opened #1639 "NodeReconciler being invoked too frequently, may trigger errant reloads"
In issues #1562 and #1606 , there were frequent ConfigReconciler calls caused by frequent Node changes. That was fixed by #1607 by adding a filters inside the ConfigReconciler that ignored some Node changes. On the bright side, I can confirm that fix worked for ConfigReconciler!

But I think we need to apply a similar filter to the NodeReconciler: https://github.com/metallb/metallb/blob/a826be5f29

[2022-10-12 15:16] fedepaol commented on #1639
Makes sense.
The low level handlers of nodes are https://github.com/metallb/metallb/blob/e9d319b1494359f30e153f45342ee1dffacf3547/speaker/layer2_controller.go#L161 which triggers a memberlist rejoin (triggers a rediscovery of the speakers) and https://github.com/metallb/metallb/blob/e9d319b1494359f30e153f45342ee1dffacf3547/speaker/bgp_controller.go#L320 where we do care about labels because of the

[2022-10-12 19:39] fedepaol commented on #1512
Closing the issue since #277 is now merged and released, and there's no need for the workaround.

[2022-10-12 19:39] #1512 closed

[2022-10-12 19:43] shaneutt opened #1640 "ARP responses for Services without selectors in Layer 2 Mode"
### Problem Statement

When deploying a `LoadBalancer` type `Service` _without_ a `selector` metallb will assign an IP address, but that IP address will not route to the nodes (e.g. no traffic for that IP can be seen via `tcpdump`). While this is happening if you run `arpsend -U -i <IP> eth0` on the nodes (as a hack) traffic will start routing and showing up on the nodes via `tcpdump`. Ultimately,

[2022-10-13 00:17] kfox1111 opened #1641 "Reduce the permissions on CRDs and Validating / Mutating webhooks"
We started looking into deploying: metallb v0.13.6.

It has permissions to edit all crds on the cluster as well as all validating/mutating webhooks on the cluster.

This is a lot of permissions on a long running service that could really damage the cluster badly.

It should be possible to use a resourceNames section (https://kubernetes.io/docs/reference/access-authn-authz/rbac/#referring-to-resour

[2022-10-13 00:21] kfox1111 opened #1642 "cert-manager support"
Managing certificates/ca's for webhooks is painful. Each project seems to want to do things their own way, and causes cluster-admins to have to learn many different ways of setting the webhooks up, debug them when they fail, try and manage the permissions of each service, etc.

cert-manager has a standardized way of setting all of the webhook stuff up and injecting it into the webhook config. It w

[2022-10-13 00:39] kfox1111 commented on #1641
Also, I don't think you probably need create/delete/list permissions for those too. getting rid of those would simplify the implementation too.

[2022-10-13 05:44] cyclinder commented on #1638
Thank for your reply.  Would you mind telling me when will do this？

[2022-10-13 05:44] cyclinder commented on #1537
Thanks @liornoy , @fedepaol I will give a try for it.

[2022-10-13 06:44] Manvir-nokia opened #1643 "How is the release cycle of MetalLB ? How frequently the new versions are released ?"
How is the release cycle of MetalLB planned?
How frequently the new versions are released ?
Is there a specific release plan which is followed ?

[2022-10-13 07:32] fedepaol commented on #1643
Hi @Manvir-nokia , we don't follow a specific release plan at the moment. It really depends wether we find critical issues we have to fix, or if a big and awaited feature (like l2 interface selector) lands.
Another driver for releases is kubernetes releases, which normally include deprecations and other things we need to fix.

[2022-10-13 07:32] #1643 closed

[2022-10-13 08:06] fedepaol commented on #1642
We kind of discussed this in the beginning, but having an extra dependency in order to be able to deploy MetalLB felt less than optimal.

Are you having specific problems with the way metallb handles the certificate, or is this just a general question? If you have an issue, please file it (as you did with the permissions).

I have the feeling that even with CertManager, users that have network iss

[2022-10-13 08:06] #1642 closed

[2022-10-13 08:10] fedepaol commented on #1640
Just to understand better: are you saying that MetalLB continues replying to arp requests even if the endpoints are removed? If that's the case, it's a bug that must be fixed. Can you double check that with arping?
Otherwise, it might be that the arp table is still filled (but metallb doesn't reply anymore) and that's why the traffic is still routed.
I am not sure we can do anything about that.

I

[2022-10-13 08:12] fedepaol commented on #1641
oh, TIL! Yeah, if we can restrict the permissions to specific names that's the right thing to do I guess. I did not know it was an option.

[2022-10-13 09:45] Manvir-nokia commented on #1643
Thank you for being so rapid and answering this ...

[2022-10-13 10:17] fedepaol commented on #1643
It was the first email on my list this morning :laughing:

[2022-10-13 12:55] yellowhat commented on #1399
Hi,
is there a reason for the presence of `creationTimestamp` in the `metadata` section?

Thanks

[2022-10-13 12:58] fedepaol commented on #1399
They are generated automatically and if I remember correctly we didn't find a way to remove it (and it's not harming so :shrug: )

[2022-10-13 13:00] yellowhat commented on #1399
it is a bit annoying if you try to pass the manifests through datree.

[2022-10-13 13:57] shaneutt commented on #1640
Yes, after double checking this it seems to be the case.

I have a relevant use case for inspecting `Service` traffic with eBPF programs. I can't get deep into the details of it, but suffice to say it _prefers_ that an IP address which is "provisioned" be route-able so that it can observe all traffic, even if that traffic would not ultimately succeed.

For prior art, the `LoadBalancer` type `Servi

[2022-10-13 14:53] shaneutt commented on #1640
Ok, thank you for your considerations on this. We'll implement a workaround for when users are using metallb.

[2022-10-13 15:32] Lukk17 opened #1644 "metalLB controller error: unable to process a request with an unknown content type"
Version of MetalLB: 0.13.6
Version of Kubernetes: v1.25.2

installed via:
kubectl apply -f https://raw.githubusercontent.com/metallb/metallb/v0.13.6/config/manifests/metallb-native.yaml

with configuration as here:
https://metallb.universe.tf/configuration

error:

`{"level":"error","ts":1665674964.7985432,"logger":"controller-runtime.webhook.webhooks","msg":"unable to process a request with an un

[2022-10-13 15:38] fedepaol commented on #1644
Thanks for the report! I was just looking at this.
This is a regression caused by https://github.com/metallb/metallb/pull/1611
The webhook complains about not getting any payload, it causes no harm but it's less than optimal.
I am going to fix this, probably by reverting the change.

[2022-10-13 16:26] kfox1111 commented on #1642
metallb rarely exists by itself on the cluster. its simpler for metallb to manage it, itself, in isolation, but its more complicated in the cluster, as a whole to deal with every webhook doing its own thing. Take that document and add the complexity of metallb's implementation, gatekeepers implementation, webhooks for some of the csi drivers, prometheus-operators webhooks, etc etc etc. This decisi

[2022-10-14 08:01] fedepaol commented on #1557
Closing this issue as the workaround was provided.

[2022-10-14 08:01] #1557 closed

[2022-10-14 08:45] fedepaol commented on #1591
Hi @SihengCui , sorry for the delay in getting back.
Can you provide also the definition of your services? I tried to reproduce this without specific annotations / loadbalancer ips and I couldn't

[2022-10-14 09:51] SihengCui commented on #1591
There will be a random part of the situation where the IP cannot be modified. The service template is exactly the same, only the name is different.
[code]
My kubernetes version is 1.25.2.
First, the lb ip are 192.168.2.1 192.168.2.2 192.168.2.3 192.168.2.4.(service1 - service4)
I annotate service3 and service4  with `metallb.universe.tf/address-pool: cheap`. so they change to 192.168.10.1 192.168.

[2022-10-14 09:56] fedepaol commented on #1591
I think I found the bug, need to think about how to address it properly. It depends on the order the controller receives the service when it gets back, and was introduced (I think) by https://github.com/metallb/metallb/pull/1230
What should've happened is, if the controller receives `sanxianyimian-ng` first, it can assign the IP (because it doesn't know _yet_ another service holds it), but when it

[2022-10-15 20:31] #1459 closed

[2022-10-16 01:47] tylerauerbeck commented on #1520
@fedepaol I can take a look at this.

I've seen this done before, but it generally involves a workflow that runs on pushes to main that:
- generates the crds
- copies them to /crds under the helm chart
- pushes the changes to main

Before I started anything here, wanted to see what the feeling on that approach was or if a different approach would be desired.

[2022-10-16 15:13] tylerauerbeck commented on #1411
Feels like this issue may have already been completed?

[2022-10-16 15:25] tylerauerbeck commented on #1380
@fedepaol Would the idea be to update `values.yaml` with the latest stable tag? Or to update `Chart.yaml` with the latest `appVersion` so that the templates stop pulling `v0.0.0`?

[2022-10-17 09:30] fedepaol commented on #1592
Sorry for the delay, not sure I understand the issue.
My understanding from the link you posted is, we are trying to use a dupe v6 address on the subnet.
If that is the case, I think it's totally legit to have the error.

[2022-10-17 11:44] #1644 closed

[2022-10-17 11:47] ssivasankarrao commented on #1550
Any update on this please.

[2022-10-17 11:57] fedepaol commented on #1550
If a user is able to access the logs, is also likely to be able to inspect the secrets in the namespace and even to jump on the pod to check the files.
I am not even sure MetalLB ever dumps the env variable, I'd say it does not. This doesn't feel a priority to us by the time being.

[2022-10-17 13:16] #1593 closed

[2022-10-17 16:21] tylerauerbeck opened #1653 "Only run CI for code changes"
To save some time and CI cycles, it would be good to only run CI workflows when changes to code are made. More specifically, when making changes to administration type workflows, README's, etc.

[2022-10-18 08:31] fedepaol commented on #1653
Makes sense!

[2022-10-18 09:43] fedepaol commented on #1613
Hi, sorry for the delay in replying.
What I can see on the logs is (assuming I am interpreting correctly the obfuscated values):

The service has ExternalTrafficPolicy = Local (meaning, only the speakers running on nodes with an endpoint will announce).

When everything is working, the endpoint is:
[code]

TL;DR of above, we have two endpoints, one on **\"nodeName\":\"scrubbed-host\"** and the oth

[2022-10-18 09:43] #1613 closed

[2022-10-18 09:44] #1426 closed

[2022-10-18 09:45] fedepaol commented on #1612
Closing since we did not hear back, feel free to reopen if you are able to come with more information

[2022-10-18 09:45] #1612 closed

[2022-10-19 11:45] jsemohub commented on #1597
Experiencing same issue with webhook failure.
MicroK8s v1.25.2 revision 4055
Is there a quick workaround to turn off webhooks?
Thank you.

[2022-10-19 12:00] fedepaol commented on #1597
It's in the first post. Also, if you are using helm to deploy, you can use this value https://github.com/metallb/metallb/blob/main/charts/metallb/values.yaml#L332 from the last release.

[2022-10-19 12:02] fedepaol commented on #1537
@cyclinder any luck with this?

[2022-10-19 12:13] fedepaol commented on #1537
np, thanks for getting back!

[2022-10-19 15:22] Zveroloff commented on #1597
Hello!

Same Issue,
`Error from server (InternalError): error when creating "IPAddressPool.yaml": Internal error occurred: failed calling webhook "ipaddresspoolvalidationwebhook.metallb.io": failed to call webhook: Post "https://webhook-service.metallb-system.svc:443/validate-metallb-io-v1beta1-ipaddresspool?timeout=10s": Unknown Host`

Env:
Bare-metal Kubernetes 1.25.2
Cilium CNI 1.13.0-rc1
3 nod

[2022-10-20 14:19] #1586 closed

[2022-10-21 00:07] Queuecumber commented on #1605
Not stale

[2022-10-21 07:38] fedepaol commented on #1520
I think we just need the first two steps (not pushing the changes), plus:
- having CI enforcing they are always aligned
- probably (don't remember) having to add some sed-fu if part of the CRDs are templated

You can chain the check here https://github.com/metallb/metallb/blob/b8ad9626131e00d74a964572d19478a0e263b3c7/.github/workflows/ci.yaml#L71

[2022-10-21 13:57] #1591 closed

[2022-10-21 15:47] tylerauerbeck commented on #1386
@fedepaol Maybe this could be bake into a kube plugin along the lines of how `rook` does things? In most cases, you could just pass along the commands you want to be run against your target (i.e. the commands mentioned above `show running-config`, `show bgp neighbor`). But then we could also do something like `kubectl metallb collect-debug` which does some defined set of data aggregation for troub

[2022-10-22 05:35] samip5 commented on #1512
This workaround is still useful, at least until a new release is cut.

[2022-10-22 08:15] fedepaol commented on #1512
The release was cut, the interface selector is available in 0.13.7

[2022-10-23 03:25] jmcgrath207 commented on #1597
Originally went I did a fresh install, I opted out of installing cilium-proxy and went with the default kube-proxy

I tried everything under the sun for a month, but ultimately it came down to metallb not working with my kube-proxy but it worked with cilium-proxy.

I never found the error for this in the end and I am not saying kube-proxy doesn't work but did  come down to something in my proxy co

[2022-10-23 07:55] coopbri commented on #1597
Similar situation here using [kind](https://kind.sigs.k8s.io/). I tested the following configurations:

- `kube-proxy` without Cilium: **worked** ✅
- `kube-proxy` with Cilium: **did not work (received webhook error)** ❌
- Cilium without `kube-proxy`: **worked** ✅

So it does seem to be connected to the proxy networking in my case as well as @jmcgrath207's.

[2022-10-23 13:26] nberlee commented on #1241
This was fixed upstream. https://github.com/FRRouting/frr/pull/11067

So once frr gets updated in metallb this issue can be closed

[2022-10-23 21:56] tylerauerbeck opened #1660 "PrometheusRules provided by Helm chart, but not included in manifests"
When taking a look at https://github.com/metallb/metallb/issues/1019 , I noticed that default PrometheusRules are provided by the Helm chart, they are not present in the static manifests. Not sure if there is a historical reason for that or not, but it seems to me that PrometheusRules would be valuable regardless of how the app is deployed.

[2022-10-23 23:51] tylerauerbeck commented on #635
@johananl I think this can probably be closed since #1621 was merged.

[2022-10-24 09:00] johananl commented on #635
Great, done.

[2022-10-24 09:00] #635 closed

[2022-10-24 17:20] antoineco opened #1662 "Controller fails with "too many open files""
MetalLB `v0.13.7`
Kubernetes `v1.23.12`, single node, deployed using [kind](https://github.com/kubernetes-sigs/kind/releases) `v0.16.0`

After reaching the end of `main()`, where the client is being [run](https://github.com/metallb/metallb/blob/v0.13.7/controller/main.go#L208-L211), the controller fails with:

[code]

Besides MetalLB, the cluster has only core Kubernetes components running:

[code

[2022-10-24 18:51] MohammedNoureldin opened #1663 "L2Advertisement does not work with nodeSelectors"
Hi,

it seems that L2Advertisement does not work when we use `nodeSelectors`. As soon as I remove the `nodeSelectors`, the IP is being advertised again.

Here are the labels of nodes:

[code]

And here is the L2Advertisement definition:

[code]

I tried both shown selectors (only a single selector is used in the same time), and none of them worked. Here is the output when using `nodeSelectors` (no

[2022-10-24 20:10] fedepaol commented on #1662
Not that I know of. It's also weird because we are running kind both for development and in CI, and I never saw that error.
Gotta investigate

[2022-10-24 20:20] antoineco commented on #1662
It might actually not be related to MetalLB at all.

I had 3 identical (empty) clusters running on that host, and probably I was underestimating the number of inotify resources a Kubernetes control plane requires.

I didn't have time to analyze what processes were consuming those resources but will report back hopefully tomorrow.

[2022-10-24 21:25] MohammedNoureldin commented on #1154
@Manvir-nokia Could you please try limiting the speaker to a specific node? Will it advertise the IP?

[2022-10-25 17:46] liornoy commented on #1344
I'm working on it.

[2022-10-25 20:25] antoineco commented on #1662
@fedepaol It turns out that the error returned by MetalLB is simply a symptom of `kubelet`, `kube-apiserver` and `kube-controller-manager` consuming tons of inotify resources (between 90 and 150 per process) on the host.

The MetalLB controller has only 11 inotify open on each host, so it was definitely not the issue here.

Sorry for the noise! Closing.

[2022-10-26 06:00] Manvir-nokia commented on #1154
Yes, it does advertise. I've tried this in the past for troubleshooting purpose where i used to restrict the pod to run on a specific node using labels.

[2022-10-26 08:07] tylerauerbeck opened #1667 "Flip Github Actions to use ubuntu-22.04"
GHA is beginning to migrate `ubuntu-latest` to `ubuntu-22.04` (https://github.com/actions/runner-images/issues/6399), which in my experience has indicated a certain level of stability that projects can begin to rely upon. It would be good to see all of the workflows included here updated to use the new release to ensure that metallb artifacts are being built with and on top of up to date, patched

[2022-10-26 08:58] tylerauerbeck commented on #1206
I think this is a good idea to put in place, but using the current `commitlint` implementation this is realistically probably blocked by https://github.com/conventional-changelog/commitlint/issues/3411. Due to the various ways that folks may (or may not) sign their commits, `commitlint` can assume that the `Signed-off-by` line is a body, which isn't what we would want and can result in unexpected

[2022-10-26 09:02] tylerauerbeck commented on #881
@fedepaol Is there anything specific that is still missing here? Would be happy to take a look.

[2022-10-26 09:07] fedepaol commented on #881
Nope, I think this is good to be close now. My comment in https://github.com/metallb/metallb/issues/881#issuecomment-993701573 is because in https://github.com/metallb/metallb/pull/1073 we added it to circle while we were moving towards gh actions.

[2022-10-26 09:07] #881 closed

[2022-10-27 10:20] shanduur-dell opened #1669 "Metallb v0.13.7 - `webhook-service` unavailable"
- The bug itself, as detailed as you can:
  - When applying configuration, I receive an error:

**Error:**
[code]

**IPAddressPool:**
[code]
- Version of MetalLB: `v0.13.7` (installed by manifest)
- Version of Kubernetes: `v1.21.11+5cc9227` (OpenShift: `4.8.51`)
- Name and version of network addon (e.g. Calico, Weave...)
- Whether you've configured kube-proxy for iptables or ipvs mode

[2022-10-27 11:03] fedepaol commented on #1669
Hi, I see it says "no endpoints available for service "webhook-service"
Do you have the controller running?

[2022-10-27 11:05] shanduur-dell commented on #1669
Hmm, looks like it is restarting multiple times, and after ~10 minutes it becomes ready. Is this expected?

[2022-10-27 11:07] fedepaol commented on #1669
not at all. What does it says when it's not ready?

[2022-10-28 10:09] michalg91 commented on #1292
Hello!
Recently i faced the same issue with FRR mode. We've got configuration with Canal CNI, Service with ExternalTrafficPolicy set to Local. When i delete pod or restart whole deployment routes are disapearing from neighbor and are not redistributed.

Did you work out any solution?

[2022-10-28 10:12] fedepaol commented on #1292
Hi @michalg91 , would you mind clarifying? Are you restarting the deployment OR the speakers?

[2022-10-28 10:13] fedepaol commented on #1292
And, would you mind sharing your configuration and the details of the service?

[2022-10-28 10:32] michalg91 commented on #1292
Hi, @fedepaol
I am restarting the deployment under the service (in this case nginx-ingress).
And until i restart speakers the paths are not redistributed.

[code]

FRR Config in speaker:
[code]

service:
[code]

[2022-10-28 10:37] fedepaol commented on #1292
Couple of more questions:
- can you try with the native mode?
- can you try bumping the version of the frr image to latest?

[2022-10-28 10:56] michalg91 commented on #1292
I can confirm that in native mode it is working as expected, but usage of bfd is important to us.
Yes, i tried changed frr image to latest.

[2022-10-28 12:52] fedepaol commented on #1292
I was trying to narrow down, I am not suggesting that reverting is a valid workaround :-)
So, with latest FRR you still have the issue?

[2022-10-28 12:52] fedepaol commented on #1292
And, does this happen always?

[2022-10-28 12:56] michalg91 commented on #1292
Yes, this happens always.
With latest FRR and with 7.5.1

[2022-10-28 12:56] xhejtman commented on #1292
Try to build frr image yourself from git. At least this head 403f312d5657d2d62775dc57c0a73bfb85118ea6 worker for me but I need to use custom frr image.

[2022-10-28 12:59] xhejtman commented on #1292
or if you want, you can use our image:
cerit.io/frr/frr:ubi-8-403f312d56

[2022-10-28 13:40] fedepaol commented on #1537
@cyclinder friendly reminder :-)

[2022-10-29 06:33] #1641 closed

[2022-10-29 06:35] fedepaol opened #1676 "Cosign signing started failing in publish action"
Since a couple of days ago (I think) our publish job started failing to sign. Example: https://github.com/metallb/metallb/actions/runs/3347828229/jobs/5546277324

[2022-10-29 12:19] rlipscombe opened #1677 "ARP Troubleshooting page should suggest checking L2Advertisment objects"
Entirely my fault for not reading the documentation correctly, but the https://metallb.universe.tf/configuration/troubleshooting/ page would be greatly improved with a "did you remember to create an L2Advertisement object?" prompt near the top.

[2022-10-31 15:36] hyorch commented on #1612
Do you have PROXY ?
I have had this webhook error due to proxy issue with MicroK8s. You need to exclude .svc, microk8s and 127.0.1.1 from proxy.

[2022-11-01 00:04] #1601 closed

[2022-11-01 00:04] #1556 closed

[2022-11-01 12:44] rajeevpadinharepattu opened #1680 "Leyer 2 installation on IPv6 only environment is not working."
Metallb leyer2 installation is not working on IPv6 only environment.
After installation with Helm charts, Both metallb-speaker and metallb-controller pods are in running state, but  metallb-speaker pods showing the below error.

{"caller":"service_controller.go:103","controller":"ServiceReconciler","end reconcile":"metallb-system/metallb-webhook-service","level":"info","t
s":"2022-11-01T11:56:16Z"

[2022-11-01 14:02] cyclinder commented on #1537
@fedepaol so sorry for this, I'm busy on working these days.  I will build a new test environment tomorrow and check if this issue is fixed.

[2022-11-01 15:15] ngrigoriev commented on #566
Do you mean the instructions from https://metallb.universe.tf/installation/#installation-with-kustomize pointing to github.com/metallb/metallb/config/native?ref=v0.13.7 which results in 404? :)

[2022-11-01 15:43] ngrigoriev opened #1681 "CRDs contain the fields mutated by the controller"
I am deploying MetalLB with ArgoCD and I have noticed that some objects are never shown as synced.

A quick check revealed that at leat two CRDs (bgppeers.metallb.io and addresspools.metallb.io) contain the fields /spec/conversion/webhook/clientConfig/caBundle and this value appears to be updated by the controller.

While I can tell ArgoCD to ignore the specific differences, maybe it is a good ide

[2022-11-02 00:03] #1475 closed

[2022-11-02 06:36] cyclinder commented on #1537
@fedepaol @liornoy great job, It works well. I think the issue has been fixed.

on router:

[code]

on master1:

[code]

test manifests:

[code]

Did we do something to fix it?  Can you tell me where is the PR to fix this issue, I would like to see it, thanks

[2022-11-02 06:51] liornoy commented on #1537
I believe the issue was on the FRR part, we didn't make a PR to fix it.

[2022-11-02 07:05] cyclinder commented on #1537
Strange, the frr part doesn't make any difference

[2022-11-02 08:15] fedepaol commented on #1681
Oh, I wasn't aware of that option, thanks for reporting this!
The CRDs are generated by controller-gen, so I need to see if there's a slick way to declare the caBundle as managed.

[2022-11-02 08:17] fedepaol commented on #1537
We did not change FRR in between versions.
It might either be something external (i.e. related to your network), or a fix that we applied for some other reason that fixed this too.
@cyclinder do you remember what was the version that wasn't working? And, can you tell us what version did you deploy this time?

[2022-11-02 08:24] cyclinder commented on #1537
Yeah, The version that doesn't work is v0.13.4,  this time is v0.13.7

[2022-11-02 08:25] cyclinder commented on #1537
I can try to deploy v0.13.4 and then see if it works

[2022-11-02 08:27] #1676 closed

[2022-11-02 08:33] cyclinder commented on #1537
OK. The issue appears again😄 service's route will be deleted every 5s

[code]

[2022-11-02 08:49] fedepaol commented on #1537
So you are saying 0.13.4 is bugged, and 0.13.7 is not, right?

[2022-11-02 08:52] cyclinder commented on #1537
Yeah, except for the different versions of metalb, everything else is the same

[2022-11-02 08:52] anubisg1 opened #1682 "load balancer ip sharing doesn't always work the same way"
- Kubernetes version - v1.25.3 (microk8s)
- MetalLB version - v0.13.3 (official microk8s addon, enabled with "microk8s enable metallb)
- Network Addond - Calico (vxlan overlay mode) v3.23.3  (default version and default config of microk8s)
- Kube-Proxy setup - Not sure, defaullt microk8s setup

Bug / Strange Behaviour

I'm trying to share the same load balancer IP to different services but i find

[2022-11-02 09:27] fedepaol commented on #1537
... and it happens only when multihop=true, right?

[2022-11-02 09:47] cyclinder commented on #1537
Yes

[2022-11-02 09:50] fedepaol commented on #1640
Closing this as per the discussion above

[2022-11-02 09:50] #1640 closed

[2022-11-02 09:50] anubisg1 commented on #1682
Adding controller logs for the ARP cluster (where i can assign the same IP to services with different selector...)

Notice how i restarted the controller, then delete the service, and re-created it. the same ip was allocated without problems

[code]

[2022-11-02 09:57] anubisg1 commented on #1682
Here are tehe logs from the BGP cluster instead

[code]

[2022-11-03 00:38] simplysoft opened #1683 "FRR mode: Cannot use multiple BGP Peer with non-overlapping node selector"
We have node specific `BGPPeer` (due to node specific `sourceAddress`) with appropriate `nodeSelectors`. This works fine with native bgp mode, but after switching to FRR mode, the speaker complains about:

[code]

It looks like validation does not consider nodeSelectors. This might be related to #1560

[2022-11-03 10:40] withinboredom opened #1684 "CIDR and usable addresses?"
With IPv4, given a CIDR, what addresses will metallb consider usable?

Generally, there are the traditional network/broadcast addresses at the beginning/end of the range. Will metallb allocate those addresses, and if not, is there a way a tell metallb to do so? With something as small as a /29, this is the difference between 6 or 8 usable addresses, and relatively substantial.

I'm sorry if this i

[2022-11-03 10:44] fedepaol commented on #1684
If you don't specify anything, metallb will consider the .0 and the .255 as usable.
If you don't want to use them, you can use the AvoidBuggyIPs flag in the IPAddressPool CRD.

Leaving this open to restore the docs (at some point we thought it was fine to remove the flag, but now it's there)

[2022-11-03 10:44] fedepaol commented on #1684
Doc to be changed: https://metallb.org/configuration/_advanced_ipaddresspool_config/#handling-buggy-networks

[2022-11-03 11:55] withinboredom commented on #1684
This is what I wanted to hear! but what about 65.108.66.126/29 where 65.108.66.120 is the "network IP" and 65.108.66.127 is the "broadcast IP"?

The current implementation is probably ideal (if .0 and .255 are hardcoded) for 99% of use cases. Still, if you're using metallb on an internal network, you probably only want to use CIDR's less than 25 with this setting, or there is a slight possibility

[2022-11-03 12:01] fedepaol commented on #1684
The 255 are hardcoded for now: https://github.com/metallb/metallb/blob/f8007e04d3380496ef59ea2efe688e3aacdabd71/e2etest/pkg/config/validate.go#L105

[2022-11-03 13:24] fedepaol commented on #1537
I tried to run a diff, and the only two things around that area are:
https://github.com/metallb/metallb/pull/1583 and https://github.com/metallb/metallb/pull/1607, which would explain a scenario where FRR receives an unnecessary configuration change while not being able that nothing changed, causing a reset.

@cyclinder would it be possible to get the logs of the reloader when the bug is happening

[2022-11-03 14:14] cyclinder commented on #1537
Sure.

reloader:

[code]

speaker:

[code]

[2022-11-03 14:17] fedepaol commented on #1537
only one occurrence in the reloader?

[2022-11-03 14:19] fedepaol commented on #1537
If my theory is right, we should see many of these corresponding to when routes are deleted / recreated

[2022-11-03 14:21] cyclinder commented on #1537
reloader always reports the same log repeatedly

[2022-11-03 14:22] fedepaol commented on #1537
how often?

[2022-11-03 14:25] cyclinder commented on #1537
about 7s

[2022-11-03 14:26] cyclinder commented on #1537
speaker are same

[2022-11-03 14:27] fedepaol commented on #1537
ok, so looks like my theory still stands. Closing the issue, thanks for the help!

[2022-11-03 14:27] #1537 closed

[2022-11-03 14:27] cyclinder commented on #1537
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/59680092/199747592-a6b7ea42-d8a1-4d3f-8b5f-9e096b98b2a1.png">

[2022-11-03 14:28] cyclinder commented on #1537
@fedepaol I still don't understand what went wrong, Can you tell me?

[2022-11-03 14:31] fedepaol commented on #1537
so basically it's a combination of two things that were fixed by those prs above.
1 - a node event is triggering a config reprocessing
2 - a config reprocessing triggers a reload in frr **even if the config did not change**

So my theory is, that triggered a frr event that caused the disconnection of the sessions. In 0.13.7 this doesn't happen because we ignore node events that are not relevant to

[2022-11-03 14:36] cyclinder commented on #1537
oh, I see, thanks!

[2022-11-03 14:36] fedepaol commented on #1537
of course I am not 100% sure of this, but those two prs are the only relevant ones around this area, and FRR did not change

[2022-11-04 10:40] steadyk commented on #1597
I've updated to metallb `0.13.7` and probably because the [readiness probe was changed](https://github.com/metallb/metallb/compare/v0.13.6...v0.13.7#diff-829c7adc7abb37fd2f497867860e411c3fb4d73e15b62ce283544ba2f88f02c6), the errors are gone.

We've applied the update on an older metallb version (<.0.13) via ArgoCD and on sync we first see errors on the new added CRs:
[code]
After the pods (control

[2022-11-04 10:42] fedepaol commented on #1597
The warning is given because the controllers are watching the resources, and they are marked as deprecated.
Nothing to worry about.

[2022-11-04 16:23] #1667 closed

[2022-11-05 00:09] penguineer commented on #1431
Has this bug been fixed?

[2022-11-05 03:58] protoz commented on #1431
My issue ended up being during a k3s upgrade the config was reset and the built in lb was also running.  After disabling that and cleaning up the environment by deleting both metallb and servicelb then reinstalling metallb I had a working environment again.

[2022-11-05 10:23] penguineer commented on #1431
I think that an update should not break anything and one if Kubernetes core features is to automatically create the configured state. MetalLB cannot handle all transitions, especially when another LB was there before.

My K3S upgrades are automated and I do not want to worry about fixing MetalLB every time this happens.

[2022-11-06 19:31] dustinmhorvath commented on #1154
@Manvir-nokia Thanks for the answer here. For anyone looking for a simple bit to patch this, I put this right after my IPAddressPool, like so:

[code]
Afterward, my nmap port scan immediately was returning as not-down. My ports still show as *closed* unfortunately, but that's a separate problem that's likely unrelated to metallb.

[2022-11-06 21:09] liornoy commented on #1683
Interesting issue.
Thanks for filing this and showing another angle of this bug.

[2022-11-07 08:20] buker opened #1687 "addressPoolUsage enabled flag not implemented"
Today i find out that in prometheus rules template in helm chart flag prometheus.prometheusRules.addressPoolUsage.enabled is not implemented. because of that there is no way to turn off this alerts.

Can i prepare pr for this issue?

[2022-11-07 08:39] fedepaol opened #1689 "Cert-controller errors"
I am seeing a bunch of

[code]
errors in the controller. I suspect it's because of https://github.com/metallb/metallb/pull/1658 which was recently merged.
@tylerauerbeck mind giving a look?

[2022-11-07 11:04] Ornias1993 opened #1690 "Prometheus manifest: Weird RBAC/NameSpace/ServiceAccount setup"
The current prometheus compatible manifest is a tad weird:
A. It requires the use of the "monitoring" namespace for prometheus-operator, which isn't actually a standard/default by prometheus
B. It requires a serviceAccount named `prometheus-k8s` which isn't actually... created or used by prometheus-operator
C. Its only used to create the RBAC setup, is not actually used/referenced anywhere in the

[2022-11-07 11:50] fedepaol commented on #1690
Hi! Thanks for raising this!

First things first: the all-in-one manifests are, as their name suggests, all-in-one. For this reason, they do not offer the same level of configurability that both the helm chart and the kustomize based setup offer.

This particular set of manifests (the prometheus ones) is based on a deployment of the prometheus-operator that comes from the official prometheus opera

[2022-11-07 15:40] janaurka opened #1691 "Support IPAddressPool, L2Advertisiment and BGPAdvertisement CRD configuration in the helm chart"
Since the change from `configmaps` to `CRDs` with `0.13` the helm chart itself cannot configure a very simple configuration using `IPAddressPool` and then either `L2Advertisement` or `BGPAdvertisement`.

In `<0.13` this was supported by setting:

[code]

Adding this functionality would allow a proper (non-complicated) deployment which purely rely on the helm chart.

[2022-11-07 15:47] janaurka commented on #1691
Work was started [here](https://github.com/metallb/metallb/pull/1484) but stalled.

@gclawes proposed some way to handle this here: https://github.com/metallb/metallb/pull/1484#issuecomment-1177590604

Is that the way to go? I’d be happy to contribute a PR, but I’m not 100% sure how the maintainers of MetalLB would like to see this handled. Would you be willing to merge a PR, which implements the

[2022-11-07 17:24] tylerauerbeck commented on #1689
@fedepaol Yepp, I can take a look at this.

[2022-11-07 18:25] fedepaol commented on #1689
Thanks!

[2022-11-08 07:05] MrZXR commented on #484
Hi !
I am trying to use cilium tunnel mode + MetalLB L2 mode with multiple subnets, will this work properly?

[2022-11-09 04:25] MrZXR commented on #484
Thank you very much for your reply! sorry to bother you.
I googled "metallb" and "multiple subnets" before I read the documentation, and find this issue.

In Configuration-> Advanced L2 configuration, I found the configurations of multiple subnets, will deploy metallb in my cluster :)

Thanks again!

[2022-11-09 08:38] fedepaol commented on #484
Glad to hear it helped!

[2022-11-09 14:32] maany opened #1694 "Duplicate Role, RoleBindings `metallb-prometheus`"
The metallb helm chart installation fails when `.Values.prometheus.rbacPrometheus` is true and `.Values.prometheus.serviceAccount` is specified. The error message is
`Error: INSTALLATION FAILED: roles.rbac.authorization.k8s.io "metallb-prometheus" already exists`

This happens because both podmonitor.yaml and servicemonitor.yaml define a `Role` called `metallb-prometheus` and a`RoleBinding` resour

[2022-11-10 03:29] qiaoenxin opened #1696 "The metallb does not work ok with both “shared IP” and "externalTrafficPolicy"."
3. If you're reporting a bug, please specify all of the following:
     - The bug itself, as detailed as you can.
     - Version of MetalLB
     - Version of Kubernetes
     - Name and version of network addon (e.g. Calico, Weave...)
     - Whether you've configured kube-proxy for iptables or ipvs mode

The MetalLB version is v0.13.7. The kubernetes version is "v1.21.4". The network addon is kuber

[2022-11-10 04:30] zzguang520 opened #1697 "error when creating IPAddressPool and L2Advertisement after helm install metallb/metallb"
Thanks for filing an issue! A few things before we get started:

1. This is not the place to ask for troubleshooting. Unfortunately
   troubleshooting LB issues in k8s takes a lot of time and effort
   that we simply don't have. If your load-balancers aren't working,
   please don't file an issue unless you have identified a _specific_
   bug to fix. Otherwise, please ask for help in the `#metallb

[2022-11-10 05:19] myasin786786 commented on #1697
Hi, I'm having similar issue after installing metallb with flannel using the manifest file.

[code]

[2022-11-10 06:42] zzguang520 commented on #1697
what's os for your issues
I'm on Fedora 36

[2022-11-10 12:55] MartinPham opened #1699 "Cannot access service from outside of cluster"
Hi everyone, thanks for your awesome contribution!
I'm having a weird problem that I couldn't solve it. Where I deployed MetalLB (L2), it assigned IP to my service. But I can only access this service if I'm inside the cluster network.

- K8s version: v1.25.3
- MetalLB version: 0.13.7
- Network: Flannel v0.20.1

I've configured IP pool and advertisement like this
[code]

Then deloyment & service li

[2022-11-10 14:09] cyclinder commented on #1699
can you show the output of `ip a` on your nodes?

I suspect that the IP addresses you configured are not real physical addresses and that these addresses would have been routed unreachable.

[2022-11-10 15:28] MartinPham commented on #1699
@cyclinder thanks for your response!

Here is the output

[code]

[2022-11-10 16:35] ngrigoriev commented on #1681
ArgoCD is not messing with anything unless you ask for it :)

The problem is very simple. ArgoCD compares the K8S objects with their desired state, field by field. It ignores the fields that are known (defined) as "managed" fields and it can also ignore the fields if you configure it this way. Whenever it detects a difference, it will flag this object as "not in sync" - because it is different fro

[2022-11-10 16:48] TheAnachronism commented on #1681
I'm not saying that it is ArgoCD's fault :D
Just wanted to note that it actually can cause issues if one doesn't do it correctly.

[2022-11-10 18:00] ngrigoriev commented on #1681
The software is (almost ;) ) never at fault :)

Yes, that's exactly why I raised this [low-priority] issue. GitOps method needs help with determining if an object in K8S is out of sync or not.

[2022-11-10 18:02] fedepaol commented on #1681
We'll get to it! Sorry but I've been busy with other stuff lately

[2022-11-11 01:48] cyclinder commented on #1699
Is your cluster running on a public cloud?  Typically, metallb does not work on public clouds. Refer to https://metallb.universe.tf/installation/clouds/

[2022-11-11 07:52] MartinPham commented on #1699
Thank you!

[2022-11-11 07:52] #1699 closed

[2022-11-11 12:23] myasin786786 commented on #1697
I'm on Ubuntu 22.04 LTS

[2022-11-11 14:27] #1653 closed

[2022-11-11 14:32] Ornias1993 commented on #1690
So TLDR:
The metrics version is designed to work with `kube-prometheus` manifest and not designed to work with the stock `prometheus-operator` manifest .

However, this serieusly important piece of information is not in the documenation as far as i'm aware?

[2022-11-11 14:44] fedepaol commented on #1690
Yep, that's the idea.

The documentation does not even mention those manifests https://metallb.universe.tf/installation/ so they are not meant to deploy metallb (not officially, at least).

Closing this issue, will file another one to expand the docs. Thanks again for raising this!

[2022-11-11 14:44] #1690 closed

[2022-11-11 14:45] fedepaol opened #1703 "Update the docs with a note about the -prometheus manifests"
The "-prometheus" all-in-one manifests that can be found [here](https://github.com/metallb/metallb/tree/main/config/manifests) are not documented and they rely on an opinionated prometheus-operator deployment method.
We should add a section under "installation" about that.

[2022-11-11 15:06] Atomique opened #1704 "Port is already in use and LoadBalancer IP stays on pending"
Hi,

I tried to check first if this is a troubleshooting-issue on the kubernetes slack channel #metallb. @fedepaol asked me to open up this issue because he thinks that this could be related to his request: https://github.com/metallb/metallb/pull/1647

For someone interested into the talk about this: https://kubernetes.slack.com/archives/C8FSTGU56/p1668004924746339

Here are informations about my

[2022-11-11 16:22] Ornias1993 commented on #1690
Whoops forgot to add:
Yes that closes this issue :)

The docs do mention it:
"There are also two all-in-one manifests to allow the integration with prometheus. They assume that the prometheus operator is deployed in the monitoring namespace using the prometheus-k8s service account. It is suggested to use either the charts or kustomize if they need to be changed."

Important to note the following:

[2022-11-11 16:34] fedepaol commented on #1605
Hi @Queuecumber , I think I understood your problem. I'll leave the issue here to see if it gets a bit of traction.
Currently seems to be a too isolated corner case to be worth being added.

[2022-11-11 16:37] fedepaol commented on #1638
It's out (and open for discussion https://github.com/metallb/metallb/pull/1685 )
Not sure I'd want to list all hte services under the status though.
Closing this in favour of the design proposal.

[2022-11-11 16:37] #1638 closed

[2022-11-11 16:38] fedepaol commented on #1660
Yep, the problem is the manifests do not offer the same flexibility in terms of configuratoin that helm offers (and in this case even going with kustomize is an overkill).
What we can do is either provide an example on how to set custom rules, or to point the users to the helm ones so they can craft their own.

[2022-11-11 16:42] Queuecumber commented on #1605
I think it's actually a specific case of #157 for ipv6, rather than distributing hosts through dhcp or something like slaac for gua, you would receive a prefix delegation from the upstream and generate the loadBalancerIP . Otherwise I don't see a way for the user to select a loadBalancerIP for external ipv6 assignment

[2022-11-11 16:43] fedepaol commented on #1663
Hi, would you mind adding the full logs of the speakers with loglevel=debug?
Also, it would help having your service / endpoints yaml and the full config.

We are testing node selectors in our CI and they seem to work but bugs are around every corner.
Also also, double checking: does your service has external traffic policy = local?

[2022-11-11 16:55] fedepaol commented on #1669
So, the metrics endpoint (which is also the liveness probe endpoint) becomes ready when metallb manages to patch the various webhook configurations.
Can you give us a log --previous of when it gets killed (if you are still able to reproduce the issue)

[2022-11-11 16:57] fedepaol commented on #1680
That error is not relevant, and related to a docker network interface.
Can you try to follow the troubleshooting guide https://metallb.org/configuration/troubleshooting/?

[2022-11-11 17:00] fedepaol commented on #1682
I wish all the bug reports were like this :p

Feels like what's being "fixed" by https://github.com/metallb/metallb/pull/1647
Basically, if the controller starts again it should reshuffle the services (because it's stateless), but before that it wasn't able to wipe the duplicate address. But at least it will be consistent.

[2022-11-11 17:00] #1682 closed

[2022-11-11 17:07] fedepaol commented on #1683
It's more a limitation of the data model exposed by the frr mode rather than a bug.
Same considerations of https://github.com/metallb/metallb/issues/1560 apply here.
We should have a per-node way to declare those properties because relying on the node selector is too fragile and won't scale. And I am not even sure FRR would allow having different src ips based on peer it's connecting to

@simplyso

[2022-11-11 17:10] fedepaol commented on #1696
Yep, this is the current metallb's behaviour.
From the docs https://metallb.universe.tf/usage/#ip-address-sharing

" Services can share an IP address under the following conditions:

    They both have the same sharing key.
    They request the use of different ports (e.g. tcp/80 for one and tcp/443 for the other).
    They both use the Cluster external traffic policy, or they both point to the ex

[2022-11-11 17:10] #1696 closed

[2022-11-12 17:54] TheAnachronism commented on #1681
OK, so I have no idea what changed, but for some reason, I have the same problem again.
I have an LB service for my SSH access to my Gitea instance. I cannot connect to this SSH service from my cloud machine, that is in the same network.
I've specified, that the caBundle should be ignored by ArgoCD, so that doesn't really seem the problem.

I don't know what exact constellation it is, but at some

[2022-11-12 21:13] TheAnachronism commented on #1681
Alright, so, some news here:

I've removed MetalLB completely from my cluster and just installed it normally with kustomize, so *without* the usage of ArgoCD.
I still have the same problem, that a new service isn't really reachable from my cloud machine, and I'm really at the end of my nerves on how to fix this.

The weirdest thing is, that I have a second instance of Gitea running and there it wo

[2022-11-13 02:20] ngrigoriev commented on #1681
I have just reinstalled MetalLB (because I needed to recreate my little cluster)with ArgoCD and everything went up perfectly. This is what I used in my application.yaml:

[code]

[2022-11-13 15:14] TheAnachronism commented on #1681
Well this is what I had in the ArgoCD application:

[code]
Does the same thing, but still didn't realy work.
Anyways I kind of ArgoCD excluded, as I reinstalled MetalLB manually with kustomize and something is still going wrong.

[2022-11-13 19:21] anubisg1 commented on #1682
Thanks for your feedback, but i am not sure what the answer is then, except that has been fixed somehow already :)

1. why does one works and the other doesn't?
2. Why is the requirement about pointing to the same selector is there, and could it be relaxed?
3. is there anyway i can achieve what i am after with the BGP cluster ? (i.e. use the same ip for different services/pods/selector?

thanks a

[2022-11-14 13:03] shanduur-dell commented on #1669
Hi! I redeployed my cluster (had some missconfigurations, that caused CRI-O to fail), and now it is working.

[2022-11-14 13:03] #1669 closed

[2022-11-14 15:34] omeinderink opened #1710 "MetalLB ignores NodeNetworkUnavailable condition"
Hi,

we're using MetalLB ~~3.0.10~~ 0.12.1 with Rancher v1.23.12-rancher1-1 (which equals Kubernetes 1.23.12) and the Canal network plugin.

We believe MetalLB executes a failback of an IP to a node that was just restarted (during a node reboot scenario), when the nodes networking stack isn't ready yet.

This bug seems to appear when a Kubernetes node containing both a MetalLB speaker and MetalLB

[2022-11-14 22:32] simplysoft commented on #1683
We use it to fixate the address in case of multiple interface addresses.

I'd not say that it necessary limitation of the data model, the data model is actually quite flexible. It is just that the validation happens too early, before all the node selectors are applied.

Same problem will apply when using CRD. They will also have to be tied to particular node, and any validation must only happen fo

[2022-11-15 00:03] #1442 closed

[2022-11-15 08:28] fedepaol commented on #1683
yes, I get that. What I am not entirely sold in is, elying on the node selector for a behaviour that will always be node specific.
Plus, even without the early check we (with frr) wont be able to have more than one srcip per node

[2022-11-15 11:05] fedepaol commented on #1682
The supposed behaviour is:
Due to its stateless nature, when the controller restarts it doesn't know of the already assigned services. Because of that, if it receives a service with no ip assigned, it picks one that is free and assignes it.
What could happen is, that ip was used by another service. The way it was working before the commit we reverted was, it finds the second service incompatible a

[2022-11-15 12:56] TheAnachronism commented on #1681
Alright, so about my problem, just wanted to note that I fixed it, and it didn't have **anything** to do with MetalLB...
Still, thanks for the help^^

[2022-11-16 00:03] #1428 closed

[2022-11-16 06:06] zzguang520 commented on #1697
how to fix it

[2022-11-16 07:12] zzguang520 commented on #1697
@myasin786786 do you have fix it?

[2022-11-16 10:48] liornoy opened #1711 "Change controller logs Timestamp"
Controller's logs timestamp "ts" is not readable.
[code]
This is an example of how the ts is printed on the speaker
[code]

We should change the controller's ts format to be similar to the speaker's format.

[2022-11-16 13:52] fedepaol opened #1712 "Add gosec to the ci pipeline"
Adding another static analyzer should be easy and will save us from audits

[2022-11-16 13:54] yuvalk commented on #1712
I'm working on this here
https://github.com/yuvalk/metallb/tree/gosec

[2022-11-16 13:55] yuvalk commented on #1712
and the idea is to add Static Application Security Testing (SAST) to CI

[2022-11-16 14:02] fedepaol commented on #1712
Sounds great! I am assigning this to you, let us know if you need help.
I'd say the first thing is to add CI and remove false positives, then we file issues, we fix them and we make the lane blocking after we reached a stable baseline

[2022-11-16 17:47] yuvalk commented on #1712
I've reported https://github.com/securego/gosec/issues/893

[2022-11-17 13:19] fedepaol opened #1715 "FRR: Publishing a new service causes the bgp session to flake"
Because of how the current frr template looks like, when we move from 0 services to 1 or more services (or viceversa), the neighbour is added only to the ipfamily section related to the service. When we have no advertisements for a neighbor, it's added to both (see https://github.com/metallb/metallb/blob/8377501adec634ecfa7a215560daa2c81c31c025/internal/bgp/frr/config.go#L114 )

This causes the se

[2022-11-17 18:54] liornoy commented on #1711
After another look, it seems that the speaker has something similar too:
[code]
It looks as if some other logger object is logging into the speaker.
I am still not sure where it's coming from.

[2022-11-18 10:17] zhucan commented on #430
so, how to know the leader is? Is there doc for this?

[2022-11-18 11:08] asettouf opened #1716 "Helm chart - complains about inline config when there's no inline config"
As I try to upgrade MetalLB on my cluster, from `0.12.1` to `0.13.7`, I get the error `Starting from v0.13.0 configInline is no longer supported. Please see https://metallb.universe.tf/#backward-compatibility`, despite having removed `configInline` from my values.

values.yaml:

[code]
Kubernetes version: `v1.22.7`

As far as I understand, this shouldn't happen  https://github.com/metallb/metallb/

[2022-11-18 11:17] fedepaol commented on #1716
Can you provide your values.yaml file? The code seem to be pretty clear about the issue.
Not sure if helm caches it somewhere.

[2022-11-18 11:24] asettouf commented on #1716
Yeah it's in my OP:

[code]

[2022-11-19 13:35] rogelio-o commented on #1468
I faced the same problem. Unfortunately, the v13 versions are not being pushed to DockerHub, so I was using the new Helm Chart with the old container images (v12).

Changing your configuration to get the v13 versions of speakers and controller from quay will make the Helm Chart work.

[code]

[2022-11-19 21:36] bengtfredh commented on #1697
Found a workaround for now.
Node: Fedora 37
CNI: flannel
k8s: 1.25.4

I got IPAddressPool and L2Advertisement applied when I installed metallb with `helm install metallb metallb/metallb --set crds.validationFailurePolicy=Ignore`
Changed it back to `Fail` after (default).

[2022-11-21 06:46] qiaoenxin commented on #1696
I am sure that these conditions are satisfied.  The one service can be visited by externa IP,  but annother can not be  visited.

[2022-11-21 08:34] fedepaol commented on #1696
They are not. You have a different selector in the services:
[code]

vs

[code]

[2022-11-21 13:56] #1448 closed

[2022-11-22 00:03] #1634 closed

[2022-11-22 08:47] zhucan opened #1718 "How to create ipaddresspool through with metallb api not through yaml(kubectl)?"

[2022-11-22 08:49] fedepaol commented on #1718
Not a metallb issue (not even a question). Closing

[2022-11-22 08:49] #1718 closed

[2022-11-22 09:11] zhucan commented on #1718
@fedepaol how to generate client code for metallb?

[2022-11-22 09:15] zhucan commented on #1718
like this:  c.RookClientset.CephV1().CephClusters(namespace).Create(ctx, cluster, metav1.CreateOptions{})

[2022-11-22 09:21] fedepaol commented on #1718
We currently don't generate / expose it. We theorically could.
As an alternative you can use the unstructured client to access the api.

[2022-11-22 13:11] #1344 closed

[2022-11-23 17:07] fedepaol commented on #1639
Closed by https://github.com/metallb/metallb/pull/1666

[2022-11-23 17:07] #1639 closed

[2022-11-24 00:02] #1415 closed

[2022-11-24 13:14] fedepaol commented on #1447
Closing this, we are moving on with the status and it's already available in the events

[2022-11-24 13:14] #1447 closed

[2022-11-24 13:15] fedepaol commented on #1704
Hi @Atomique , I don't see the controller logs anymore so it _might_ be that gh has some file retention policy. Would you be so kind to re-attach them? Thanks!

[2022-11-24 13:20] fedepaol commented on #1710
Need to double check this, it might be that currently the speakers rely on memberlist only to detect the availability of the other peers. I'd also argue that metallb checks the status of the endpoints to see if they are available.

[2022-11-24 13:21] fedepaol commented on #1710
And thanks for the report!

[2022-11-24 16:14] liornoy commented on #1718
@zhucan  Can  I ask, just out of curiosity, what use case do you have that requires you to have metallb api?

[2022-11-24 16:29] #1687 closed

[2022-11-24 20:14] champtar commented on #1710
From what I remember, If using `externalTrafficPolicy: local` then the IP will go on a node where endpoints are fully ready (so node network status is taken into account I believe). If using `externalTrafficPolicy: cluster` this is likely buggy.

[2022-11-24 20:44] phifre commented on #1710
However, the downside of `externalTrafficPolicy: Local` is that load balancing across, say, multiple ingress pods no longer works. This would not be ideal in high traffic scenarios.

[2022-11-25 00:03] #1391 closed

[2022-11-25 08:06] fedepaol commented on #1710
Yes, you are totally right, and it works like this for both bgp and l2.

[2022-11-25 10:32] #1715 closed

[2022-11-25 10:44] nzb15555196162 opened #1720 "metallb in kubernete can not access extenel ip out side kubernetes cluster"
Thanks for filing an issue! A few things before we get started:

1. i create new kubernetes cluster then i create service nginx with metallb for lb, please see snapshot
![image](https://user-images.githubusercontent.com/18350673/203965933-b40cf7c5-731a-4cba-931d-35218cb0cdd0.png)
![image](https://user-images.githubusercontent.com/18350673/203965991-8eaf8a4b-191b-462c-b6ad-68a81a1ac0a9.png)
2. for

[2022-11-25 10:46] fedepaol commented on #1720
Please follow the troubleshooting guide https://metallb.org/configuration/troubleshooting/
Also, please try to ask on the slack metallb channel.

With this low amount of information is impossible to understand what is the problem.

[2022-11-25 10:46] #1720 closed

[2022-11-25 10:48] nzb15555196162 commented on #1720
my base environment, kubernetes version 1.13.4 network flannel, this problem trouble me a days

[2022-11-28 00:58] jpuskar commented on #1703
Sorry about a 'me too' post, but, this definitely tripped me up for a couple hours also.

[2022-11-28 01:00] jpuskar commented on #1677
Sorry about a 'me too' post, but, this definitely tripped me up for a couple hours also.
The only reason I figured it out was stumbling across this github issue.

[2022-11-28 08:02] qiaoenxin commented on #1696
```They both use the Cluster external traffic policy, or they both point to the exact same set of pods (i.e. the pod selectors are identical).```
Maybe I do not understand of the word 'or'. I only make the first condition be satisfied.
 I do not know why the two conditions must be satisfied both.

[2022-11-28 08:36] fedepaol commented on #1677
@jpuskar @rlipscombe keen on filing a PR to fix this? It's doc only and should be straightforward

[2022-11-28 11:13] #1712 closed

[2022-11-28 12:53] bit-project-de commented on #287
Hi all,

I got a similar Issue:

kubernetes: 1.22.8
Kubespray: 2.18.2
NginX Ingress Controller
calico stack
MetalLB 0.8.3

For me setting NginX Ingress Controller Service to Local Policy worked flawlessly until I did:

Starting from K8S 1.22.5 with Docker configuration I first migrated the cluster setup to Containerd. After Containerd Switch was done I updated Control Plane and workers to 1.22.8 w

[2022-11-28 12:56] fedepaol commented on #1663
Closing this, feel free to repoen when the requested info is provided

[2022-11-28 12:56] #1663 closed

[2022-11-28 13:33] jpuskar commented on #1677
Sure!

[2022-11-28 20:52] noesberger commented on #1431
I have the same issue. In my K3s Installation I'm using the buildin traefik and lb.
I'm trying to switch to metallb. So I disabled the integrated servicelb and installed metallb.

But my system is still showing for the traefik and grafana svc the old Configuration.

[code]
I also tried to delete the grafana svc, but the delete operation is just hanging.

Here the ConfigMap
[code]

and the error in

[2022-11-29 07:18] cyclinder commented on #1711
I'm interested in this, Maybe I can look at this.

[2022-11-29 08:06] fedepaol opened #1727 "A single interface failures makes l2 stop working"
This was raised on slack https://kubernetes.slack.com/archives/C8FSTGU56/p1668605044508709
If a node is v4 only but some interfaces have v6 addresses, we stop creating the responders and l2 is not working because the list of interfaces we check is empty.

[2022-11-29 17:18] fedepaol commented on #1711
yes please!

[2022-11-29 18:27] LensHunnel commented on #610
Hello,

I'm trying to create policy-based routing for Linux kernel 5.10.0-19-cloud-amd64 with two differents network interfaces. When I add the following command :
[code]
after some seconds the rule disapears, maybe someone have an idea ?

[code]
Thanks

[2022-11-29 20:08] toaster74 opened #1728 "Best practice to bind IP AdressRange to a nodes in a juju-rack-controller"
Hello metallb-ers,

is there a way to tell metallb to use two distinct IPAdressRanges depending on the juju-zone of the corresponding node?

My setting is as follows:

I have bare-metal provisionned by MAAS; there are two racks with IP Range 192.168.A.0/24 on the left rack and 192.168.B.0/24 on the right rack. Juju is on top providing charmed-kubernetes. The worker-nodes are balanced by juju on bo

[2022-11-29 20:58] fedepaol commented on #1728
I'd do as follows, assuming that you want to expose the same service on both zones:
- You create two ipaddresspools, one for each cidr
- You create two services with the same backend, one pinned to one pool, the other pinned to the other
- Yoy create two l2 advertisements with nodes selector, one for one zone and one for the other. You pin each l2 advertisement to the right pool

[2022-11-29 21:08] #1727 closed

[2022-11-30 08:30] fedepaol commented on #1354
leaving this open until we don't bump the frr version

[2022-11-30 11:20] LeadingMoominExpert commented on #5
I've been developing a bare metal k8s cluster at our office mostly for both educational purposes as well as for running some small internal apps. Metal LB in Layer 2 mode was a great solution for me to be able to deploy an ingress controller so I can use ingresses instead of having to use nodeports. [Source repo](https://github.com/three-consulting/office-kube).