[2021-09-13 21:28] v1k0d3n opened #949 "Remove documentation about Romana"
Romana is no longer available. It's been a couple/few years since it's been available as a CNI plug-in. I will create a follow-up PR to remove this documentation, just to clean things up.

I hope this is acceptable with the maintaining team.

[2021-09-14 12:25] fedepaol commented on #947
Hi @drz9 , this is a known issue with MetalLB and OCP, documented here https://metallb.universe.tf/installation/clouds/#metallb-on-openshift-ocp .

I am not an helm expert, but I think either modifying the chart or changing the values to not apply runAsUser as part of securityContext would do the same as the documentation suggests.

[2021-09-14 15:55] jmlogan commented on #430
Is this Event periodically published? Events are retained for 1h by default, and am not sure if this Event is published more frequently. I am trying to find the Speaker for a service that is rather old, and nothing is showing in the describe.

[2021-09-15 10:36] fedepaol commented on #430
Hi @jmlogan , the event is published only when the speaker association is done ([here](https://github.com/metallb/metallb/blob/5d236989e61683daf1eaad00777b81ce7dd98c5d/speaker/main.go#L290)). If nothing changes in the service or in the list of endpoints, I believe the event is not produced (and in any case, I am sure it's not produced periodically).

[2021-09-15 10:40] fedepaol commented on #430
Just to add more info, the association between service / node / lbip is avaliable as prometheus metric too : https://github.com/metallb/metallb/blob/5d236989e61683daf1eaad00777b81ce7dd98c5d/speaker/main.go#L284

[2021-09-15 12:23] MalKeshar opened #952 "Absence of endpoints for health checks in controller and workers"
I didn't see in source code any traces of endpoints for health checks. It usually used by liveness and readiness checks in k8s.
Is this decision made on purpose or this part not implemented yet?

[2021-09-15 12:35] fedepaol commented on #952
I think it would make sense to have a liveness probe (but not a readiness) as part of the pods definitions.

I am torn between marking this as bug or enhancement, will do the latter since it's not critical.

[2021-09-15 12:37] fedepaol commented on #947
@drz9 closing this, feel free to comment if what's described above is not clear.

[2021-09-15 12:37] #947 closed

[2021-09-15 12:38] fedepaol commented on #933
@btrepp closing this, feel free to comment if my assumptions were not true and you need help triaging this.

[2021-09-15 12:38] #933 closed

[2021-09-15 12:44] fedepaol commented on #934
Hi @ahmet2mir , there is a currently opened proposal to bind specific pools to specific services (https://github.com/metallb/metallb/pull/942).
Since the communities are bound to a given address pool, I have the feeling that this could solve your issue
(bind a service to a specific pool with specific communities). Does it make sense?

[2021-09-15 20:15] #949 closed

[2021-09-16 01:34] scepeda78 commented on #5
Microk8s plus knative, the last needs a load balancer in bare metal for solving names.

[2021-09-16 07:27] ahmet2mir commented on #934
Hi @fedepaol

Lot of information in this proposal :)

From what I understand, if you specify the community on "address-pools" side, user can't change it "per service".

Like PR #593 for `peers`, I like the idea of "from annotation/labels" but for `address-pools` too.

[2021-09-16 07:31] fedepaol commented on #934
Indeed, it won't be possible directly to change communities in a service definition, but by binding a specific address pool to a given service, you would be able to associate the communities to the service indirectly.

[2021-09-16 14:52] rata commented on #936
PR was merged, closing this

[2021-09-16 14:52] #936 closed

[2021-09-16 15:05] rata opened #953 "Huge probably pointless replaces in go.mod"
PR https://github.com/metallb/metallb/pull/951 added a lot of replace lines in the go.mod.

It seems to me like those lines don't make much sense. For example [client-go][client-go] already has the version but we [add a replace][client-go-replace] that is exactly the same (it just uses a lower patch release version, which is probably not on purpose).

@fedepaol Am I missing something? Can't we jus

[2021-09-16 15:06] szentesik opened #954 "No ARP announcement for Windows Containers"
I have a 2 node cluster, 1x Debian 10 as control + worker, 1x Windows Server 2019 as worker.

Services with only Windows containers behind are not answering on service Ip from the extern (This would be my desired use-case).
Linux services are working fine (or even mixed container services, one Linux container starts the show). arp -a and arping shows that the head node listens on the service IP co

[2021-09-16 15:19] fedepaol commented on #953
@rata as a snowball effect of consuming `k8s.io/kubernetes` (because of the test framework) we need to pin the dependencies via the require section (and that's how you pin to a specific version of k8s any how):

[code]

Said that, I might have been a bit too lighthearted in moving the require section from the e2e go.mod file to the main one, let me try to make it cleaner / more consistent.

[2021-09-16 15:37] fedepaol commented on #953
Re client-go, although we have a specific version as a dependency, we need to pin it for indirect dependencies:

[code]

[2021-09-16 15:48] rata commented on #953
@fedepaol ohh, I see that importing k8s.io/kubernetes is not supported (https://github.com/kubernetes/kubernetes/issues/90358#issuecomment-617859364) and yeah, the big fat replaces is the workaround to import it anyways... Too bad, but ok :)

Thanks anyways!

[2021-09-16 15:48] #953 closed

[2021-09-16 15:50] fedepaol commented on #953
Yep, and anyway this was a good chance to have the deps more consistent :P

[2021-09-17 01:25] sysnet4admin opened #956 "[v0.10.2][k8s-v1.22.2] deploy manifest fail due to args `--log-level=info` issue"
Hi metallb team,
I hope you doing well.

Here is my configurations
[code]
I have encountered to deploy latest metallb in my VM groups like below:
https://github.com/metallb/metallb/blob/main/manifests/metallb.yaml

[code]
and `logs`
[code]

Thus I removed `--log-level=info` args columns.
https://github.com/metallb/metallb/blob/main/manifests/metallb.yaml#L341
https://github.com/metallb/metallb/blo

[2021-09-17 01:44] champtar commented on #956
Use the manifest from the 0.10 branch instead of main

[2021-09-17 02:00] sysnet4admin commented on #956
@champtar Thank you for your comment.
I've checked 0.10 ver. there is no `--log-level=info`.
It is some dependency or alpha status?

I really appropriate your any kind of !! response. :)

[2021-09-17 02:33] champtar commented on #956
main is the branch where development happens, and this new flag was added after 0.10.2 was released, so you are trying to use a new manifest with an unreleased feature but using older image. The website normally points to the latest released manifest (so 0.10.2).

[2021-09-17 04:13] sysnet4admin commented on #956
Thank you for your kindness message.
Have a nice and safety day. :)

[2021-09-17 04:13] #956 closed

[2021-09-17 12:54] fedepaol commented on #954
Hi, I believe because MetalLB currently requires to have both a speaker AND and endpoint running on a given node in order to be able to announce from it.

The speaker daemonset has a [linux only](https://github.com/metallb/metallb/blob/dae0dc0d1998a49cb623ca786d63810c43e33702/manifests/metallb.yaml#L387) node selector, so if your endpoint is running only on windows note it won't work.

Loosening t

[2021-09-17 12:59] fedepaol commented on #396
FYI: BGP + BFD is currently being proposed as part of this design proposal: https://github.com/metallb/metallb/pull/927

[2021-09-17 13:20] aojea commented on #396
thanks for the detailed description, my point is that BFD (uses to) operates in second/millisecond order, if you implement BFD in user space you are at the mercy of the environment constraints like CPU or interfaces buffer saturation per example, there is no discrimination on the server to treat specially your BFD packets.

BFD in your VM, during simple testing or non-busy environments will work p

[2021-09-17 16:46] fedepaol commented on #954
Closing this as duplicate of https://github.com/metallb/metallb/issues/302

[2021-09-17 16:46] #954 closed

[2021-09-18 14:41] nickperry commented on #299
If someone lands here in 2021 the Helm chart configmap is now called metallb, not metallb-config.

[2021-09-19 13:08] szentesik commented on #954
Thanks for your help, using the magic one-liner from **_layer2: fallback speaker election if no endpoints are in nodes with speaker daemonset_** #665 helped me to use metalLB for my mixed cluster, waiting for the official solution.
(My image, own risk only: _kubectl set image -n metallb-system daemonset speaker speaker=docker.io/szentesik/metallb-speaker:0.10.3-beta-winsupport_)

[2021-09-22 15:34] howels commented on #7
Seeing error creating NDP responder on interface with IPv4 and IPv6 addresses in L2 mode.

[2021-09-22 15:38] fedepaol commented on #7
Hi @howels , would you mind filing an issue adding more details and the exact error?
Thanks!

[2021-09-22 20:38] kfox1111 commented on #875
still an issue

[2021-09-22 20:46] kbreit opened #962 "Release new helm chart for podmonitor"
I'm looking to use the `additionalLabels` parameter for the podMonitor but it's not in the release as it was added in #886. Is there a timeline for a new Helm chart release?

[2021-09-22 22:33] gclawes commented on #962
Charts are released with every metallb release, we don't release the chart separately.  It looks like the latest release (v0.10.2) was Jun 11, and this #886  was merged on Jun 17.

[2021-09-22 22:34] gclawes commented on #875
Still on my plate, apologies for falling behind on this.  I'll try to get this rolling either this week or this weekend.

[2021-09-23 02:20] gclawes commented on #875
I've created a metallb organization in artifacthub.io.  If maintainers log in to artifacthub.io with their github accounts, I can add them.

[2021-09-23 07:12] weizhouBlue commented on #248
I also encounter this ,    when  I intend to setup an dual-stack environment ， and create an ipv6-only  service
the assigned ipv6 loadbalancer ip does not take effect and fail to respond the NDP request

the speaker report error:
{"caller":"announcer.go:114","error":"creating NDP responder for \"ens192\": listen ip6:ipv6-icmp fe80::fb2d:382b:cdec:89cc%ens192: bind: cannot assign requested address"

[2021-09-23 18:04] danicheeta commented on #281
I have same problem but disabling firewalld doesn't help.

[2021-09-24 07:59] fedepaol commented on #281
@danicheeta mind sharing details about your cluster / logs of the speakers / controller?
Also, it would be good if you can file another issue with such information.

[2021-09-24 19:46] engmustafak26 commented on #673
I faced this issue and googled a lot of time to tackle it. the problem is that worker node can not connect to master node api-server
try this command on worker node: `kubectl version --short`.
 in ordinarily case the result will be:
1. kubectl version
2. api-server version  //you will see "connection refused massage" if worker node can not communicate with master api-server

Solution:
1. copy file

[2021-09-28 01:14] Blorpy commented on #408
I realize this has been open for ages, but just throwing a +1 for this.

It would be great if we could check the configmap into git, but doing so would currently require us to have the password in plaintext in there which is an issue since it's easily obtained. Since its also a very low bar to be able to source traffic from a k8s node IP, route hijacking and such security issues are a potential pr

[2021-09-28 16:43] howels commented on #7
Had this reported by a colleague who hit the error, I'm trying to follow up and get more details.

[2021-09-29 07:37] wzrdtales opened #968 "Shared Layer 2 IPs should not be announced by multiple nodes"
Reopen of #315

# What is happening?

Multiple nodes try to claim the IP, which results in an unstable connection.

# Why is this happening?

The layer 2 ip was shared between two services in two different namespaces. One is pointing to a specific port, the other one is pointing to the ingress. To reproduce just create two namespaces with two different services and share the ip.

# What should hap

[2021-09-29 07:51] fedepaol commented on #968
Hi @wzrdtales , just to understand better:
When you say that the ip is shared between the services, are you setting the same `loadBalancerIP` manually or are you using the `metallb.universe.tf/allow-shared-ip` annotation?

Would you mind sharing the services / pools definitions to avoid missing details in translation?
Thanks!

[2021-09-29 08:17] wzrdtales commented on #968
both, since both have to be defined

[2021-09-29 08:21] wzrdtales commented on #968
[code]

[code]

This is the config applied

[2021-09-29 08:21] wzrdtales commented on #968
plus the annotation     `metallb.universe.tf/allow-shared-ip: anonymized` on both services of course

[2021-09-29 08:22] fedepaol commented on #968
Thanks! Will try to reproduce this locally and submit a fix.

[2021-09-29 14:49] tuckcodes commented on #381
@

@tivrobo would you be willing to elaborate if you can recall? Seeing a similar issue on my side.

[2021-09-29 14:54] fedepaol commented on #381
@tuckcodes is this L2?
Can you provide the logs of the speaker?
The only reason why metallb would be the cause for this would be for the ip to jump from one node to another.
If we exclude that, it's about how the cluster networking handles that traffic.

Would you mind filing a new issue with the details?

[2021-09-29 20:38] russellb commented on #691
An update, 1 year later!

 We've been accepted into the CNCF Sandbox (https://github.com/cncf/toc/issues/720) and are transferring all domains to the CNCF: metallb.org/.com/.net/.io.

We had a super formal poll on slack about which domain we'd like to use as primary and the top choice was metallb.io.  https://kubernetes.slack.com/archives/CTU63S7K3/p1632411847071100

We'll need to update both meta

[2021-09-30 09:59] johananl opened #972 "Move the developer forum to CNCF infrastructure"
## General

As a part of moving MetalLB under the CNCF, we can get access to infrastructure for facilitating community meetings. This includes access to Zoom.

Moving to Zoom makes sense for the following reasons:

- Using CNCF infrastructure for community meetings makes more sense than using infrastructure belonging to a specific company.
- Meet doesn't seem to allow starting a meeting before an

[2021-09-30 10:05] johananl opened #973 "Move shared secrets to a CNCF-provided password manager"
As a part of moving to CNCF, we may be able to get access to a password manager.

We should request such access and move any credentials/secrets which aren't personal to a maintainer to the password manager and ensure all maintainers have access to them.

[This](https://www.cncf.io/services-for-projects/#tools) page talks about LastPass, 1Password and Keybase. Personally I prefer 1Password over La

[2021-09-30 10:23] johananl commented on #691
Summarizing the TODO items:

- [ ] Finish transferring all MetalLB domains to CNCF
  - [ ] metallb.io
  - [ ] metallb.org
  - [ ] metallb.com
  - [ ] metallb.net
- [ ] Request Netlify access from CNCF
- [ ] Move website to CNCF-provided Netlify account
- [ ] Configure metallb.io as the "main" domain
- [ ] Set up HTTP redirects for the rest of the domains to metallb.io
- [ ] Look for references to

[2021-09-30 10:35] johananl opened #975 "Update MetalLB info in CNCF landscape"
The information about MetalLB in the CNCF [landscape](https://landscape.cncf.io/) is outdated.

https://github.com/cncf/landscape/blob/1873345e220ab784e20435768ad59b7b7fc3659a/landscape.yml#L1909-L1915

We should open a PR to address the following:

- The project's homepage should be metallb.io (blocked by https://github.com/metallb/metallb/issues/691).
- The logo should be updated in case we get

[2021-09-30 11:40] wer-anders commented on #968
I have the same issue. For me, this seems to have started with the v0.10.0 release, as with v0.9.6 the same configuration is working without this issue (instable services)
(I'm also on Layer2 with externalTrafficPolicy set to Cluster)

[2021-09-30 12:45] russellb commented on #973
I'd prefer 1Password since I'm already using it

[2021-10-01 10:19] sebaspf commented on #888
I had a similar issue.

The problem was I passed to `kubeadm init ... --pod-network-cidr=...` a network that was different to the Flannel's default network (10.244.0.0/16). Running `kubectl apply  -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml` creates a config map for the plugin that uses the default network...

**Option 1:** Download, edit and then appl

[2021-10-01 15:07] fedepaol commented on #945
Closing as the PR was merged

[2021-10-01 15:07] #945 closed

[2021-10-01 16:58] chainhead opened #977 "Helm installation does not create member-list Secret."
After running, `helm install -n metallb metallb metallb/metallb -f values.yaml`, the controller and speaker pods do not come up at all.

**Helm chart details**

[code]

**Pod status**

[code]

**Speaker pod logs**

[code]

**Controller pod logs**

[code]

`values.yaml`

[code]

[2021-10-01 17:54] champtar commented on #977
We had similar report in the past and each time the cluster was broken. Please launch a curl pod and try to curl https://10.96.0.1:443/api/, you will see it's not working.

[2021-10-02 02:20] chainhead commented on #977
@champtar yes, the `curl` didn't work. I am using [k0s](https://k0sproject.io/). Trying this [workaround](https://github.com/k0sproject/k0s/issues/523#issuecomment-750026238)

[2021-10-02 02:57] chainhead commented on #977
So, that workaround won't apply because after reboot, I noticed that `/var/lib/k0s` didn't exist. However, this time I am trying to install `metallb` as described [here](https://traefik.io/blog/from-zero-to-hero-getting-started-with-k0s-and-traefik/). This is taking quite a while; will report back once done.

[2021-10-02 03:06] chainhead commented on #977
The installation is stuck in this loop.

[code]

[2021-10-03 13:14] mologie opened #978 "Endless stream of nodeAssigned events after updating to MetalLB 0.10"
Hi, I am using MetalLB under Talos (0.11) with K8s 1.21. The cluster has been running on MetalLB 0.9.6 for months w/o issues. I have just attempted to update to 0.10 but found that it misbehaves as explained in this ticket.

The problem:

In 0.9.6 I would see a single "nodeAssigned" event per LB; in 0.10.2 I see a flood of them, roughly one per LB every 2 seconds, which generates hundreds of event

[2021-10-04 07:38] fedepaol commented on #977
Closing this issue as it looks like it's not MetalLB related.

[2021-10-04 07:38] #977 closed

[2021-10-04 11:59] johananl opened #979 "Enforce license text in source files"
We are currently inconsistent in terms of the inclusion of license text in the project's source files.
We should add a CI job which ensures every source file has a license header with the correct content. We should also ensure the year in the header is correct.

[2021-10-04 12:03] fedepaol commented on #979
+1 on this (and I feel guilty too)

I can work on this.
What would you suggest to check WRT the year? Every time we touch a file we should bump the year?

[2021-10-04 12:19] champtar commented on #979
Can we use SPDX-License-Identifier like the kernel ?
Also the year is usually with the copyright, do you want each and every contributor to put a copyright line ?

[2021-10-04 13:51] worlddeleteRin commented on #888
as @sebaspf explained, when you init project with kubeadm, for example, you need to specify the right `--pod-network-cidr`, that works for me and solve the issue

[2021-10-04 14:02] johananl commented on #578
WIP is at https://github.com/kinvolk/metallb/tree/johananl/refactor-bgp-session.

[2021-10-05 07:17] fedepaol commented on #978
@mologie would you mind adding the logs of the speakers?

[2021-10-05 10:06] mologie commented on #978
Of course, please find a shell log attached. These are raw logs filtered slightly by sed to obfuscate service names.

Compared to my original report I made the following two changes:

* Fixed the following warning: `28m Warning AllocationFailed service/foo-ingress-udp Failed to allocate IP for "avas6/foo-ingress-udp": can't change sharing key for "foo6/foo-ingress-udp", address also in use by trae

[2021-10-05 12:35] champtar opened #980 "discovery.k8s.io/v1beta1 EndpointSlice is deprecated in v1.21+, unavailable in v1.25+; use discovery.k8s.io/v1 EndpointSlice"
Once 1.21 is the oldest version supported we should migrate
[code]

[2021-10-05 12:41] champtar commented on #978
This is fixed in master and will be released in 0.10.3 https://github.com/metallb/metallb/pull/909/files
@russellb @johananl any ETA ?

[2021-10-05 12:44] mologie commented on #978
Ack, sorry for the dupe in that case, I did not find these issues or the PR with `nodeAssigned` and related keywords I saw in the logs. Thank you!

(Please close at will, or pin the ticket since I'm the 3rd one to report this now.)

[2021-10-06 11:11] fedepaol commented on #978
Closing this as dupe of https://github.com/metallb/metallb/issues/901 and https://github.com/metallb/metallb/issues/899

[2021-10-06 11:11] #978 closed

[2021-10-06 14:44] rata opened #981 "Document procedure to update/merge changes to the website"
When we want to make changes to the website, we need to:
 * Merge that PR in the main branch
 * cherry-pick -x it to the latest release branch and push it to the public repo
 * Update the live-website branch to point to the latest commit in the latest release branch (i.e. the commit we just backported)

The second step is needed to make sure the documentation in the website is in sync with the lat

[2021-10-06 15:54] rata opened #984 "Adjust linter check to allow commit msg with more than 72 chars"
While it is nice to have well-formatted commit msgs, making it a hard check to always be less than 72 chars long makes it impossible to include links, which is just silly IMHO.

Links are useful to reference why something was needed, requested or to provide more info.

IMHO, we should wither remove this check and maybe just assert about commit title, not the body. What do others think?

[2021-10-07 14:19] redtex opened #986 "No issue with calico"
There is no more issues with BGP peering co-existence of metallb and calico cni in same k8s installation.
The proper way of such setup is explained in following calico docs https://docs.projectcalico.org/networking/advertise-service-ips

[2021-10-07 15:08] fedepaol commented on #986
Asking because I had a hard time parsing the reason of the issue :-)

[2021-10-07 19:42] #962 closed

[2021-10-11 10:05] johananl commented on #979
What does that mean in practice @champtar? I'm not sure I understand.

I don't think we want that, no.

[2021-10-11 11:08] russellb commented on #978
You’re welcome. Thanks for confirming.

[2021-10-14 12:58] #984 closed, assigned to nobody

[2021-10-15 12:42] russellb opened #994 "Add Federico to CNCF maintainers list"
We just added @fedepaol to the maintainers list for MetalLB.  We need to add him on the CNCF side, as well.  @rata volunteered to handle this.

[2021-10-15 15:27] #979 closed

[2021-10-16 15:02] jpuskar opened #995 "helm option for priorityClassName"
Hi,
It would be great if the helm chart allowed priorityClassName to be set for the controller and speakers.

e.g.
[code]

Here's an example from another chart:
https://github.com/jetstack/cert-manager/blob/master/deploy/charts/cert-manager/templates/webhook-deployment.yaml#L44

[2021-10-18 04:25] infinitydon opened #996 "Load Balancer Class"
Hi,

Please I will like to know if you are considering supporting the new load balancer class feature:

https://kubernetes.io/docs/concepts/services-networking/service/#load-balancer-class

[2021-10-18 06:48] fedepaol commented on #996
@infinitydon thanks for bringing this up.

I wonder what would be the right behaviour here. We want to cover both when metallb is the default (and only) loadbalancer on the cluster AND when it is an optional one.

I'll try to file a proposal for this.

[2021-10-22 00:02] tzakrajs commented on #731
At least one more change is needed to setBalancer function in speaker/bgp_controller.go is not IPv6 aware `m := net.CIDRMask(adCfg.AggregationLength, 32)` this will definitely explode when the aggregation-length is greater than 32 (e.g. 64 which is a typical prefix for IPv6 endpoints) net.CIDRMask supports IPv6 so we need a conditional around this to set a maxAggregationLength of 128 for IPv6 pool

[2021-10-22 15:35] AndreiPaulau opened #1003 "Cluster mode doesn't balance traffic if pod is created on the specific node."
- MetalLB 10.2-10.3
     - Kubernetes 1.17.14
     - Calico 3.17.2, 3.20.2
     - kube-proxy ipvs
     - Layer2

Hello Gents,
I've been fighting with this issue for about 3 days tying to find misconfiguration anywhere. Even upgraded calico :)
I have 5 worker node cluster and running several deployments using metallb.

If I run deployment and replica's pod won't fall on the specific node it goes ev

[2021-10-27 16:19] #1003 closed, assigned to nobody

[2021-10-31 18:11] paulfantom opened #1019 "Consider applying prometheus guidelines regarding alerting rules"
Consider applying the following guidelines to existing alerting rules - https://github.com/monitoring-mixins/docs#guidelines-for-alert-names-labels-and-annotations.

Here is a list of possible improvements:
- Use alert severity which is consistent with alerting rules from other projects (use only `warning` and `critical`).
- Consider switching from `message` annotation to `summary` + `description`

[2021-11-02 11:46] Lionelpang opened #1022 "About BGP implements"
hello, why not use github.com/osrg/gobgp when metallb implements bpg communication with the bgp server. i wanth use the program connect the bgp server synchronization the router message,  And I wonder。

[2021-11-02 14:36] russellb commented on #1022
Please use the mailing list or slack channels for project discussion.

https://metallb.universe.tf/community/

[2021-11-02 14:36] #1022 closed

[2021-11-02 18:01] adampl commented on #277
@danderson What would you say to the code proposed by @RostyslavFridman? Do you have any plans about this feature?

[2021-11-02 18:13] WillNilges opened #1023 "Amazon EKS Anywhere support"
I'm running a local EKSA cluster on Ubuntu Server 20.04 LTS on ext4 disk. I'd like to use MetalLB to enable ingress for an app I want to deploy, but it's just... not working. Nothing in the logs; I name the IPs I reserved on my subnet, MetalLB picks them up, binds LoadBalancer services and... the IPs just don't connect. I'm guessing this is an incompatibility with how EKSA does networking. Seems l

[2021-11-02 18:26] adampl commented on #277
Sorry Dave, I was unaware of this change.

@fedepaol Could you share your opinion, or forward this to the most adequate maintainer?

[2021-11-02 18:30] fedepaol commented on #277
Let me go over all the discussion and will provide feedback. From a functional point of view, I have the gut feeling it could be added to https://github.com/metallb/metallb/pull/942 . It won't cover the security side of it thought.

[2021-11-02 18:43] russellb commented on #1023
I imagine to close this ticket we should update https://metallb.universe.tf/installation/clouds/ with whatever is learned about MetalLB for this platform.  I saw that you also started a conversation on `#metallb` on slack - thanks.

[2021-11-02 18:47] russellb commented on #1023
I know that Cilium embedded MetalLB to provide LoadBalancer support via BGP. I wonder if they support layer2 mode as well?  I'd look there.  https://cilium.io/blog/2021/05/20/cilium-110

This is really more a question about EKS Anywhere, its network architecture, and Cilium as well.

[2021-11-02 19:06] WillNilges commented on #1023
Interesting, yeah I'll go look there and see what the deal is. Maybe I should instead open an issue on EKSA?

[2021-11-02 19:57] champtar commented on #1023
Cilium only uses the controller, and uses their BGP implementation instead of the speakers (so no L2)

[2021-11-03 12:41] russellb opened #1026 "Add test case for multiple protocol support"
MetalLB configuration allows for configuring the protocol (layer2 or bgp) on each address pool. This means you can have address pools that are announced using different protocols. I don't believe we are covering this in CI, but we should.

[2021-11-04 06:45] Jean-Daniel commented on #847
Cilium projet relies on MetalLB for the L4 LB configuration. If they decide to add support for Gateway API, it would make sense for MetalLB to provide LB configuration, and Cilium will take care of TCP/UDP load balancing.

While implementing a TCP/UDP load balancer is out of scope for MetalLB, it may still be useful to handle the LB configuration part for integration with other projects.

[2021-11-04 14:59] Jean-Daniel commented on #996
When running as the default LB, it should ignore `Service` with this field set:

From https://kubernetes.io/docs/concepts/services-networking/service/#load-balancer-class

If you need a backward compatible mode that handle all `Service`, it should be distinct.

From Kubernetes doc: `Once [spec.loadBalancerClass] set, it cannot be changed`, so it should not be a concern.

[2021-11-06 03:36] jmyoung commented on #277
This is a problem that I have due to the configuration of my machine - I have multiple interfaces, one pair of which is a LACP trunk going into OVS with multiple VLANs on it, and the other is an access port for the host.  MetalLB appears to respond to ARP on whatever interface it feels like, including the ones where incoming traffic can never actually get back to the k8s container.  Being able to

[2021-11-06 13:46] kfox1111 commented on #277
Getting metallb to speak only on the right interfaces I think is pretty important.

 @jmyoung, my workaround for now is to do something like this in the helm chart:
[code]

And selectively turn off arp responses on things that metallb shouldn't be speaking on.

[2021-11-06 21:44] fedepaol commented on #996
I double checked the code. If we change metallb lb class in a way that it will own services it wasn't owning before, it will change the lb ip if it's not in any pool, will preserve it otherwise (assuming it's restarted and starts receiving new events).

On the other hand, we don't have control on what the other LBs do, and we can only hope they behave as good as metallb and document the behaviour.

[2021-11-07 11:17] adamcharnock opened #1029 "BGP IPv6 high CPU use"
**Given the work on FRR integration (#1014 et al), I'm not really expecting this to be addressed**. But hopefully it will at least help someone Googling for "MetalLB BGP high CPU" like I was!

Feel free to close without resolution. Of course, if anyone knows a quick fix then do let me know.

## The problem

I'm seeing very high CPU use by `cilium-agent` when using BGP with an IPv6 prefix in my `ad

[2021-11-08 05:14] cjyar commented on #894
I can reproduce this problem -- or at least the symptoms. I have a single-node Kubernetes cluster in which the node can't reach its MetalLB IPs if IPv6 is enabled. Disabling IPv6 allows it to work.

With IPv6 enabled, tcpdump shows this packet on the physical interface, but no reply:
[code]

[2021-11-08 12:34] ostgardh opened #1030 "Go from inside pod to other pod with LoadBalancer external ip"
I troubleshooting why is not possible to send traffic  from on pod to on other pod .

eg.
If I test port https on pod1 to "  curl https://(EXTERNAL-IP) " outside cluster
And is fine..
pod1 is in node18

Then I start shell in on pod2 in node26 and do same curl https://(EXTERNAL-IP)  / pod1
is not ok.

If I ssh to node26 and ping (EXTERNAL-IP) for pod1 is fine.
But not sure if ping answer com from n

[2021-11-08 13:02] harridu commented on #610
metoo. I am using real network interfaces instead of vlans. iptables is based on nft.

[2021-11-08 13:49] #1030 closed

[2021-11-08 13:50] ostgardh commented on #1030
Found the problem.
externalTrafficPolicy: Local  > externalTrafficPolicy: Cluster
on the services is working

[2021-11-09 11:07] fedepaol opened #1031 "BGP - add a test without routerid"
RouterID should be mandatory and we need to cover the case where it's not being set.

[2021-11-09 15:16] harridu commented on #610
Using ipvs mode and strict arp for kube-proxy did the trick.

[2021-11-09 23:45] mgeri commented on #952
Hi, I would like to try to work on this.

[2021-11-10 10:26] mgeri commented on #952
Looking at the MetalLB code I found that the controller exports an HTTP Prometheus endpoint `/metrics` that is used in the Helm templates charts both as liveness and readiness probe.
It seems that the Prometheus endpoint could be enough as a liveness probe unless a health check with a different strategy is needed.

[2021-11-11 08:29] jamessewell opened #1038 "Assign static IP using FQDN"
Is this currently possible?

Something like this (which doesn't work, but you get the idea):

[code]

[2021-11-11 16:44] fedepaol commented on #1038
Hi @jamessewell, it's currently not possible. MetalLB expects it to be an address.

[2021-11-11 16:44] #1038 closed

[2021-11-12 15:48] fedepaol opened #1044 "Document MetalLB roule in traffic routing and quick how to to determine if it's responsible of malfunction"
The most common request of help is: I can't reach the pods from X.
Users over-estimate metallb involvement and underestimate the CNI involvement in handling LoadBalancer services.

A quick section and some tcpdump commands to run would save a lot of time in helping users.

[2021-11-14 19:54] emoritzx commented on #5
I use microk8s + metallb in my homelab cluster comprised of old desktop PCs that have been re-purposed.

Also, I just learned about `allow-shared-ip` and it has made my life so much easier to manage my services :)

[2021-11-15 08:13] fedepaol opened #1046 "Provide a better feedback in case of failed frr reloading"
Today the real configuration reloading is lost behind a sighup call.
It would be ideal to provide a better feedback to the user.
Some ideas to understand if the configuration is failed are:
- some kind of versioning / timestamp between the desired and applied configuration. If they drift, there has been an error
- a sync call (more rich than sighup), that returns in case of failure (this was disca

[2021-11-15 09:23] fedepaol opened #1047 "FRR E2E Tests: inspect the frr configuration to see if it matches the desired one"
Right now e2e tests handle metallb as a black box, going to inspect only the content of the external FRR containers.
However, there are some parameters (i.e. password, timers) that are not sent on the wire and thus not available for inspection on the other peer.

We unit tests the various segments, but we don't really know if a value we set in config ends up rendered correctly.
It would be nice to

[2021-11-15 13:39] flyinggecko opened #1048 "Helm: Include release namespace in all relevant resources"
Hey,

I will try to explain this a bit:
We use gitlab-k8s-agents to bootstrap some applications in our clusters. To generate manifests, that get deployed, we use mostly helm like this for metallb:
[code]

This results in the following manifest: https://gist.github.com/flyinggecko/89f22815da8131d9e8fecb1fed6320b0

The problem is, that some resources now contain the namespace and some don't.
For exa

[2021-11-15 15:49] fedepaol commented on #1048
cc @gclawes

[2021-11-16 01:37] gclawes commented on #1048
Good catch!  The `.metadata.namespace` field should be removed from all resources, helm should apply that on install to namespaced resources.

I also noticed that the default value of `.Values.prometheus.namespace` is `monitoring`, this was probably carried over from my test setup when I wrote the chart.  Properly, it should be un-set, and the chart should throw an error when `.Values.prometheus.p

[2021-11-16 02:52] gclawes commented on #1048
Ah, I see, `.Values.prometheus.namespace` was added here: https://github.com/metallb/metallb/commit/48cb1c3b8a97487a825f24860ecbf5c2b3919817.

@fedepaol, I think it makes sense for `.Values.prometheus.namespace` and `.Values.prometheus.serviceAccount` not to have default values, and instead have validation in `_helpers.tpl` functions that fail if they are not provided only when `.Values.prometheus

[2021-11-16 08:09] fedepaol commented on #1048
Ah dang, so I was responsible!
Yes, makes total sense

Ah my bad

[2021-11-16 08:11] fedepaol commented on #1048
Re: prometheus default values, I added them to match what you get by installing prometheus from upstream, but it makes sense to defer to the user. Sorry, I am not fluent with Helm as I'd like to be.

[2021-11-16 08:11] #1048 closed

[2021-11-16 09:02] haslersn opened #1050 "Document whether MetalLB supports MixedProtocolLBService"
I think the title is self-explanatory. If not, then reach out to me, please.

[2021-11-16 17:10] fedepaol commented on #1050
Hi @haslersn , thanks for filing this issue. With https://github.com/metallb/metallb/issues/1026 we are going to cover this scenario in CI (and eventually hammer it if it doesn't work).
Hope this helps.

[2021-11-16 18:19] haslersn commented on #1050
@fedepaol I don't see how #1026 is related. MixedProtocolLBService is a Kubernetes feature gate and is about mixing TCP and UDP on the same LoadBalancer-typed service.

[2021-11-17 08:26] fedepaol commented on #1050
Oh, sorry I rushed up on the title, and as I had the other one in mind, I assumed it was the same. Will dig a bit and get back with an answer. My gut feeling is that metallb probably supports it out of the box, but it's worth double checking.

[2021-11-17 16:29] fedepaol commented on #952
Interesting. I checked only the manifests under `/manifests` and assumed it was not added anywhere.
At this point, I think it's fair to align the manifests.

[2021-11-17 17:36] russellb opened #1059 "CNCF: CII best practices badge"
From CNCF onboarding https://github.com/cncf/toc/issues/720 :

[2021-11-17 17:36] russellb opened #1060 "CNCF: Adopt a license scanning tool"
From CNCF onboarding [cncf/toc#720](https://github.com/cncf/toc/issues/720) :

[2021-11-18 09:08] fedepaol opened #1063 "Consider migrating CI to github actions"
GH actions is the recommended CI for CNCF projects (https://github.com/cncf/toc/issues/720#issuecomment-971824099).
This issue is to track how much work it would take and if gh actions cover all our needs (including the release process).

[2021-11-19 14:04] fedepaol opened #1067 "Document best practices to add new tests contextually to the introduction of a new features"
Now that the project has good CI infrastructure, it makes sense to enforce the addition of unit / end to end tests contextually to the feature in the contributions guidelines.

[2021-11-19 14:14] fedepaol commented on #1060
Fixed by https://github.com/metallb/metallb/pull/1062

[2021-11-19 14:14] #1060 closed

[2021-11-24 17:52] fedepaol opened #1080 "Generate the manifests from the helm charts"
We are maintaining two different methods for configuration.
It would make sense to have the basics manifests (and variations) generated starting from the helm charts, and providing CI that ensure the manifests change when the helm charts are updated.

[2021-11-25 20:04] jforman opened #1081 "New LoadBalancer service fails with: user requested a different IP than the one currently assigned"
Summary: I've tried two create two new LoadBalancer services on my bare-metal k8s cluster, but receive the error in the metallb log, and the service on the new requested IP is not listened on.

I've created two services as specified below to share the same IP 10.10.2.214. These are new services to the cluster, and have never existed previously in the cluster:
[code]

The logs of metallb have these

[2021-11-26 08:53] #994 closed

[2021-11-26 14:55] zenhighzer opened #1085 "L2 Configuration: How to see which nodes is the "active node" for a cluster-ip"
Hi there, hope your doing fine!

I have a simple question about MetalLB / L2 Configuration: whats the best way to see which node is the "active" one for an IP which was mapped to a loadbalancer-service? I can do something like "curl to the service" , show the arp-cache and compare the arp-entry of service/load-balancer-ip to all nodes´ arp-entries...  but i wonder if there is a simpler way, like g

[2021-11-26 15:03] fedepaol commented on #1085
Hi @zenhighzer , only one announcer pod declares its announcing the service with a log like "announcing the service.. ".
Otherwise, if you have prometheus integrated, metallb exposes a "announced" metric that contains the service, the protocol, the node and the ip.

[2021-11-26 15:03] #1085 closed

[2021-11-26 15:09] gclawes commented on #1080
It would be nice to provide several flavors of manifests, based on pre-set variations on `charts/metallb/values.yaml`. When helm packages a chart, only the `values.yaml` file really counts towards the chart's default values, but we can places other `values-<variant>.yaml` files in the same directory for convenience.

[2021-11-26 15:10] fedepaol commented on #1081
Hi @jforman , actually the lines below "clearAssignement" say that the service got the ip assigned:
[code]

Does the service get the ingress ip under status / loadbalancer / ingress?
Mind sharing the output of kubectl get svc xxx -o yaml and the logs of the speakers?
Also, what you mean by "the serviceIP is not listened on"?

Thanks!

[2021-11-26 20:22] jforman commented on #1081
@fedepaol Your mention of making me look at the services made me realize I had a service misconfigured. I had incorrectly configured the service to point at an endpoint that did not exist (the service name was incorrect). Once I figured that out, the service (and IP) responded appropriately.

Thank you for your quick response, and apologies for the noise on this bug. Perhaps it helps others in the

[2021-11-26 20:22] #1081 closed

[2021-12-01 14:02] CaptAintHere commented on #986
Same here, I was able to configure Calico to advertise MetalLB's prefixes.

[2021-12-02 15:41] tylerauerbeck commented on #1063
@fedepaol Would be happy to lend a hand here if nobody else is taking a look.

[2021-12-02 15:43] fedepaol commented on #1063
That'd be awesome! I'd suggest moving in steps, starting with the test jobs first, and handling the release one later.

[2021-12-03 08:38] #995 closed

[2021-12-03 16:03] #952 closed

[2021-12-03 19:30] drisaro opened #1102 "Unable to assign single IP"
- The bug itself, as detailed as you can.
I'm not able to assign a single IP to MetalLB on L2 mode, or a set of hand picked IP's. Only pools
     - Version of MetalLB
v0.11.0
     - Version of Kubernetes
1.22
     - Name and version of network addon (e.g. Calico, Weave...)
Flannel
     - Whether you've configured kube-proxy for iptables or ipvs mode
Iptables
---

Hello.

To expand on the above. I'

[2021-12-04 23:48] thetillhoff commented on #1102
I'm experiencing the very same. Using Calico though.

The configmap is created under the name `config`, but the speaker still logs `not processing, still waiting for config`.

Only occurs when using helm for the deployment. (Didn't test kustomize...)
Tested deployment by manifests, which worked fine.

[2021-12-05 00:36] tylerauerbeck commented on #1063
@fedepaol This is mostly done: https://github.com/tylerauerbeck/metallb/tree/add-gha

The problem that I'm running into is that I can't get all tests to pass reliably (seeming to have to do with some timeouts in the test). I'm going to continue playing around with this, but are there existing flakes/timeout issues I should know about that may help resolve some of these issues?

[2021-12-06 08:07] aureq opened #1104 "LoadBalancer route advertised multiple times but routable via a single node only"
## Hello!

- Vote on this issue by adding a 👍 reaction
- To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already)

## Issue details

(I understand the problem described below is at the edge of a question and a possible bug. However, not being able to tell, I'd rather ask the question here. If this is a user / lack of understanding on my part

[2021-12-06 08:44] fedepaol commented on #1104
Hi @aureq , thanks for filing this issue.
A couple of questions:

What you mean by "However, the LoadBalancer IP can only be reached via the node it is deployed onto."? We are not deploying the loadbalancer ip to any nodes.

The way it works (in case of service traffic policy = cluster, which is the default as in your case), is that metallb's role is to drive the traffic to each node. Once the tra

[2021-12-06 08:46] fedepaol commented on #1102
@drisaro would you mind checking if you are experiencing the same issue as @thetillhoff ?

[2021-12-06 08:51] fedepaol commented on #1063
Neat! Yes, there are a couple of flakes we are chasing, I'll have a look if it's the same flakes we are talking about.
I saw your pr, will have a look in the next few days.

[2021-12-06 09:38] aureq commented on #1104
Thanks @fedepaol

`"However, the LoadBalancer IP can only be reached via the node it is deployed onto."`
From another local computer / outside of my cluster nodes, if I add a route to reach `10.0.255.1` via one of the node real IP (`129.168.2.5(1,2,3)`), I'm only able to reach `10.0.255.1` when the route added uses the same node on which `nginx` is already deployed.

I likely have an incomplete /

[2021-12-06 09:38] #1104 closed

[2021-12-06 10:19] drisaro commented on #1102
Hello @fedepaol I checked the speaker logs, and it is the same as Thetillhoff said.

`"event":"noConfig","msg":"not processing, still waiting for config","service":"ingress-nginx/ingress-nginx-controller"`

But I tried using `A.B.C.D/32` as the range, and it's assigning the correct IP address for the LoadBalancer. So I think this issue can be closed.

[2021-12-06 10:24] fedepaol commented on #1102
Thanks for confirming. Let's keep the issue open until we fix the bug.

[2021-12-06 14:40] ita1024 opened #1107 "Signed releases / which image is the latest?"
The [installation instructions](https://metallb.universe.tf/installation/) point to this file https://raw.githubusercontent.com/metallb/metallb/v0.11.0/manifests/metallb.yaml which is set to download data from `quay.io/metallb/controller:v0.11.0` and `quay.io/metallb/speaker:v0.11.0`. No hashes are provided, and the [ci job list](https://app.circleci.com/pipelines/github/metallb/metallb?branch=v0.

[2021-12-07 09:27] CaptAintHere commented on #698
@uablrek does your PR to the KEP upstream is a required feature to allow a dual-stack LB service to work with MetalLB or it is possible to support dual-stack LB services without specifying the `spec.loadBalancerIP` value?
I know there is a workaround by using two separate services but how do you guys deal with Helm charts, which for the most part do not support the creation of multiple services?

[2021-12-07 11:33] uablrek commented on #698
It is _not_ required. Leave the spec.loadBalancerIP empty and you will get an address from a pool. Actually in a dual-stack service you _should_ leave it empty. It is confusing to specify one out of two addresses.

In my (now closed) PR I [added an annotation](https://github.com/metallb/metallb/pull/727#issuecomment-698273081) to allow users to specify both addresses. But that was not a requiremen

[2021-12-07 12:14] CaptAintHere commented on #698
Thanks for your response! I guess I'll have to wait for [this PR](https://github.com/metallb/metallb/pull/1065) to be released.

[2021-12-08 09:06] michael-robbins commented on #914
As per Kubernetes 1.23 looks like ![PodSecurity](https://kubernetes.io/docs/concepts/security/pod-security-admission/) is the successor and will replace PodSecurityPolicy

[2021-12-09 08:42] fedepaol commented on #698
Yep, the code is now in. @CaptAintHere you can check the dev version by deploying directly from main, or wait for the next release.

[2021-12-09 08:43] fedepaol commented on #698
Closed by https://github.com/metallb/metallb/pull/1065

[2021-12-09 08:43] #698 closed

[2021-12-09 11:44] ppieprzycki opened #1114 "Exponential backoff in BGP for misconfigured sessions"
**Is this a bug report or a feature request?:**

Feature request

**What happened:**
Similar to https://github.com/metallb/metallb/issues/84

Installed using the bitnami chart 2.5.13 (https://github.com/bitnami/charts/blob/master/bitnami/metallb/Chart.yaml)
MetalLB version:  0.11.0 (image: docker.io/bitnami/metallb-speaker:0.11.0-debian-10-r27)

ASN misconfiguration caused a high number of reconne

[2021-12-10 13:40] bjthomas1 commented on #888
For those brought here via Google. I had the same problem as is (thoroughly) described throughout this issue.

My controller would generate this error on first installation:-

[code]

I identified a workaround by disabling the firewall on the nodes in my cluster. It turns out you need to open port 7946 tcp/udp on your nodes. There is a PR submitted at https://github.com/metallb/metallb/issues/782

[2021-12-10 13:46] russellb commented on #888
The PR mentioned in #782 was merged a long time ago.  The firewall requirement for port 7946 is mentioned in the Requirements section on the main page of the metallb site.  Suggestions or PRs welcome to improve this, though if it's not clear enough! https://metallb.universe.tf/#requirements

[2021-12-10 13:50] bjthomas1 commented on #888
Whoops, sorry (I only ctrl-f'd for the string of text in the PR I linked). I didn't read the docs proeprly. Mea Culpa.

[2021-12-12 10:03] Jean-Daniel opened #1118 "Configuration of source address when using MP BGP"
I’m using MP BGP to advertise a dual stack cluster services IPs. The BGP sessions are established using IPv4.

My egress interface has a public IPv6, but the router is configured to use link-local address to forward the packages.

I’m actually using a custom metallb build that choose link-local IPv6 address as advertised next hop in the BGP advertised paths, but I think the new FRR impl should pro

[2021-12-13 08:29] fedepaol commented on #1118
Thanks @Jean-Daniel for filing this, this is definitely something worth exploring.

[2021-12-13 13:40] fedepaol commented on #1102
Great. I am gonna close this @drisaro, will go out in the next release.

[2021-12-13 13:40] #1102 closed

[2021-12-13 13:56] fedepaol commented on #1107
Hi @ita1024 , quay auto builds images out of tags.
Each gh tag corresponds to a tag on quay, i.e v0.11.0 as you wrote corresponds to
sha256:0809ad167894af62121db7d4158e5cf26705701f3bfcbb8b6be527fd3eac2886 for the speaker and sha256:79062fe5d43211825ab6851f9b9deda71e3b7a075abf728c4ab11a0e1b2c850f for the controller.
You can check that on quay, i.e. https://quay.io/repository/metallb/controller?tab=

[2021-12-13 13:56] #1107 closed

[2021-12-13 15:41] fedepaol opened #1121 "Enable pprof"
In order to understand performance hits, it would be beneficial to enable pprof (even accessible from inside the pod only).

[2021-12-14 10:03] shivamanipatil commented on #1121
Hey @fedepaol can I work on this issue?

[2021-12-14 15:19] liornoy commented on #1046
I'm working on a solution for this issue, soon will link a PR

[2021-12-14 15:55] fedepaol commented on #1046
Assigned the PR to you

[2021-12-14 16:13] fedepaol commented on #881
@sabinaaledort let's keep this for the missing CI to github actions

[2021-12-15 02:42] jeremybusk opened #1125 "Using password in peer config seems to break bgp advertisements"
metallb: v0.11.0
kubernetes: minikube latest v1.24.0 (though I had an issue on microk8s 1.23. as well)
I did set arpstrict in kubeproxy bug that shouldn't make a difference. I included frr for example even though the tcp/179 syn packet isn't even leaving the k8s node when using password line.

If I  remove the password lines below in configs for  frr and metallb config it works  but I want to use

[2021-12-15 15:18] shivamanipatil commented on #1121
Hey @fedepaol  I am a beginner so I was trying to run the project in development environment mode and examining the code base.
After looking at the code I am seeing the Frr metrics are being exposed at /metrics HTTP endpoint by Prometheus but this exporter binary is placed inside speaker pods. So to test it I had to exec into one of the speaker pod and then run this frr-metrics binary and I could

[2021-12-16 10:20] fedepaol commented on #1125
Hi @jeremybusk , what is likely to be failing is the attempt to set TCP_MD5SIG on the socket here https://github.com/metallb/metallb/blob/main/internal/bgp/native/native.go#L607 .
I am shooting at that because you say that with no password is working.

I don't think this is a metallb issue, looks something that must be enabled in the kernel, see for example https://github.com/raspberrypi/linux/iss

[2021-12-16 10:27] fedepaol commented on #1121
I'd leave the exporter binary aside for the moment, and focus on the controller and the speaker.
I'd leverage this https://github.com/metallb/metallb/blob/7a35db7fe83ae3b40046429b54116484388a60f3/internal/k8s/k8s.go#L315 to append also the pprof listener.

You can use this https://github.com/ovn-org/ovn-kubernetes/blob/999f4fbf70e9ba568a03d0c7f92735fed1c823b0/go-controller/pkg/metrics/metrics.go#L

[2021-12-16 11:22] zeeke commented on #1047
I'll work on this issue

[2021-12-17 10:33] fedepaol commented on #1125
Closing this, @jeremybusk feel free to comment / reopen if something is missing.

[2021-12-17 10:33] #1125 closed

[2021-12-17 17:08] shivamanipatil commented on #1121
I have created a draft pull request with parameterized option to enable pprof as you suggested. Are these changes in right direction? Also, can anything more be added here?

Thank you,

[2021-12-18 03:17] flakeman2 commented on #5
I'm using k3s + metalLB in a homelab of Raspberry Pi's.  Thanks for the awesome work on this project!

[2021-12-20 14:29] zeeke commented on #1047
Just spent a little time to run a subset of e2e tests and discovered that invoke doesn't double quote `--ginkgo.focus` and `--ginko.skip` parameters. When passing a multi world selection of test (as ginko test names need to be descriptive), [argument parsing](https://github.com/metallb/metallb/blob/main/e2etest/e2etest_suite_test.go#L86) ends up in mess and non speaking error.

https://github.com/

[2021-12-20 14:30] fedepaol commented on #1063
@tylerauerbeck we removed the e2e lanes from circle ci, do you want to migrate the image promotion jobs too (it's fine to say no :P )

[2021-12-20 14:32] fedepaol commented on #1047
I'd do that definetely in a separate PR. A way to workaround it (that I saw in many places) is to remove the spaces and fill them with .

[2021-12-20 14:32] tylerauerbeck commented on #1063
Yepp. Actually almost have this ready. Should have some time this week to wrap things up.

[2021-12-20 14:34] fedepaol commented on #1063
Awesome, thanks a lot!

[2021-12-20 14:44] zeeke commented on #1047
ok, great!

[2021-12-21 06:01] Phoaster-wry opened #1135 "why add deployment's replicas could case leader election ?"
- Version of MetalLB  0.9.3
     - Version of Kubernetes 1.15.9
     - Version of network addon Calico 3.6.5
     - configured kube-proxy for ipvs mode

deploy  a udp app in k8s cluster,when i add its replicas ,found its endpoints change to more. But leader changed to other node.
i don't understand what case  leader election .

[2021-12-21 06:02] Phoaster-wry opened #1136 "why add deployment's replicas could case leader election ?"
- Version of MetalLB  0.9.3
     - Version of Kubernetes 1.15.9
     - Version of network addon Calico 3.6.5
     - configured kube-proxy for ipvs mode

deploy  a udp app in k8s cluster,when i add its replicas ,found its endpoints change to more. But leader changed to other node.
i don't understand what case  leader election .

[2021-12-21 06:08] #1135 closed

[2021-12-21 06:08] Phoaster-wry commented on #1135
error

[2021-12-21 07:23] MysticalMount commented on #5
I use in a homelab 3 x node Proxmox with K3OS VM's running MetalLB, tried ingress, this time round on my new cluster doing away with it in favour of MetalLB only!

[2021-12-21 10:15] jonwilliams84 opened #1139 "Possible multipath bug with FRR Peer."
I think I may have found a bug with multi-path (Cluster ExternalTrafficPolicy) when peered with FRR AS. Hopefully this doesn't turn into a config troubleshooting post, that is not my intention.

Cluster:  8 x Nodes running K3s. (host IPs=10.32.100.15-22)
Router: UDMPro + FRR pod (host IP= 10.32.100.1)

Current FRR BGP configuration:
[code]

Current Metallb Config:
[code]

When I create an LB (eith

[2021-12-21 11:56] jonwilliams84 commented on #1139
I have tested this with a simpler BGP conf below and confirm I still never get the multi-path routes advertised:
[code]

[2021-12-21 13:14] jonwilliams84 commented on #1139
Ok...Found the issue!!!  FRR config and MetalLB config were fine and there is no bug!

It was the kernel on the UDM Pro. It doesn't support multi-path routing! So I have installed a custom kernel and enabled multi-path routing!! Whoop:

[code]

[2021-12-21 16:31] fedepaol commented on #1139
Thanks for informing us @jonwilliams84 ! I am gonna close the issue as it looks like it wasn't a metallb issue

[2021-12-21 16:31] #1139 closed

[2021-12-22 12:44] pupseba opened #1144 "new feature: Fair distribution across nodes when using L2 mode"
Hi,

The way nodes are added/removed from the [list of nodes](https://github.com/metallb/metallb/blob/main/speaker/layer2_controller.go#L105) leads to 2 non-desired behaviours as they will cause disruptions for connections.
1. Joining/Deleting a node from the cluster could lead to disruption of already in use services as hashed server lists can be reorganized due to this change.
2. A flapping serv

[2021-12-22 18:08] johananl opened #1146 "Get an overview of similar projects"
The k8s LB ecosystem keeps expanding. We should get some overview of the other projects.

Things to think about:

- Feature parity - where are we similar to other projects? Where do we differ? A table could be helpful.
- Collaboration opportunities - some of the projects are likely MetalLB forks. Why did a fork happen? Is there an opportunity to add missing functionality to MetalLB to eliminate so

[2021-12-23 08:58] pupseba opened #1147 "Layer 2 mode failover is slow/not working as expected"
Hi,

We are testing MetalLB functionality and we notice (random?) situations  where IPs fail to failover leading to outages of any service exposed by it.

In our current testing cluster we have:
5 Kubernetes worker nodes ([w01-05])
3 nodes with "metallb" label
MetalLB speaker configured as a DaemonSet with nodeSelector "metallb"
3 IPs for testing (x.x.x.[201-203])

During normal behaivour, node w0

[2021-12-23 09:12] fedepaol commented on #1147
When failover happens, the speaker sends (or should send) a gratuitous arp to announce that the new node is holding the ip.
The logs of the speaker pods should help us to understand if this happens or not.

[2021-12-23 10:26] pupseba commented on #1147
Right now is failing again. I issued the command to remove the label from 2 out of the 3 nodes with "metallb" label so only one speaker pod was running. 2 out of the 3 IPs are responding just fine (201 and 203), but 202 is still not reacheable via ARPING (nor the service that it exposes). We can see in the speaker logs that it does seems to announce it

Command was issued at 10:51:54 (09:51:54 utc

[2021-12-23 10:37] fedepaol commented on #1147
Other things:
There should be a `gratuitous_sent` metric saying if a gratuitous arp was sent for a particular IP.
Another thing to check is a tcpdump to see if that was actually sent (and received on the client side).

It could be that some anti-mac spoofing mechanism prevents that to be handled.

[2021-12-23 11:00] pupseba commented on #1147
Metrics confirm that the announcement is done. We are checking on the networking side to see if some rule to avoid "flapping macs" is being the reason behind this.

![image](https://user-images.githubusercontent.com/38133294/147231016-5cbe8400-7503-4dca-9a07-88d55f0575f9.png)

At the time of testing, we were looking at tcpdump but only on the client side. We'll change this.

[2021-12-23 14:56] fedepaol commented on #1121
Closed by #1131

[2021-12-23 14:56] #1121 closed

[2021-12-27 13:30] chengtg520 opened #1151 "layer 2模式部署metallb测试，speaker日志报错"
kubectl logs -n metallb-system pod/speaker-gn4k5
{"branch":"v0.11.0","caller":"level.go:63","commit":"846c55a","goversion":"gc / go1.17.2 / amd64","level":"info","msg":"MetalLB speaker starting version 0.11.0 (commit 846c55a, branch v0.11.0)","ts":"2021-12-27T12:20:43.58710626Z","version":"0.11.0"}
{"caller":"level.go:63","error":"creating ARP responder for \"eth0\": operation not permitted","inte

[2021-12-31 16:18] akharlamov commented on #5
I use MetalLB on our clusters deployed in Hetzner DCs.

[2022-01-02 18:07] fedepaol commented on #1151
Can you add more details on what's happening, and what cluster are you running metallb on?
A get pods -o yaml of the speaker would help as well, looks like a net capability issue.

[2022-01-02 18:08] fedepaol commented on #1136
Closing since no info was provided, feel free to reopen if you can provide the information requested.

[2022-01-02 18:08] #1136 closed

[2022-01-03 10:27] SchoolGuy commented on #731
@fedepaol / @johananl / @rata

Can't this issue be closed because https://github.com/metallb/metallb/pull/1065 was merged? Or is there something missing for dual-stack support in k8s services in the speaker context?

[2022-01-03 23:01] GAAOPS commented on #324
Just for future reference:
i have tested the MetalLB, in a mixed cluster with windows and linux nodes, using flannel as cni with hosted-gateway and it works fine.

windows server verion that i used is windows server 2019 - 1809.

Full details:
https://www.youtube.com/watch?v=TzEMQMhqqlQ&list=PLSn133xJGFYqHp0Nd78Yg-fNE48SX3QTP&index=2

[2022-01-04 01:54] gris-gris commented on #996
Any updates on that topic folks?

[2022-01-06 13:41] PKizzle commented on #731
Will the changes of #1065 be available in v0.11.1 or v0.12.0?

[2022-01-06 20:18] Mtze opened #1154 "MetalLB provides Services with IP Addresses but doesn't ARP for the address"
Hi everyone - I installed MetalLB (`v0.11.0`) on a fresh RKE2 cluster (`v1.22.5+rke2r1`) with calico as CNI (`docker.io/rancher/mirrored-calico-cni:v3.20.2`).

When I deploy a service with Service Type Loadbalancer, the service gets an IP address from MetalLB, but no speaker actually ARPs for the address.

MetalLB ConfigMap:
[code]

Test Service:

[code]

Kubectl get services:
[code]

Logs from Me

[2022-01-07 02:20] PKizzle commented on #731
What is still missing is an annotation to allow to specify a custom loadBalancerIP for IPV4 and IPV6 as kubernetes has dropped support for this field (https://github.com/kubernetes/kubernetes/pull/107235)

[2022-01-07 07:59] fedepaol commented on #731
Thanks for raising that! It looks like adding a custom annotation is the officially proposed way to do dual stack loadBalancerIP.
I'll file an issue for that.

[2022-01-07 07:59] fedepaol commented on #731
We should cut out a release pretty soon, not sure what version it will be.

[2022-01-07 08:04] fedepaol opened #1155 "Custom annotation for pinning ips (single and dual stack)"
The loadbalancerip field is gonna be deprecated (see https://github.com/kubernetes/kubernetes/pull/107235)

That has two implications:
- we need to have an alternative way to pin to a specific ip (the suggested way is to implement custom annotations on the service, see https://github.com/kubernetes/enhancements/pull/1992)
- that will enable us to pin both v6 and v4 addresses to the service (curren

[2022-01-07 08:06] fedepaol commented on #731
Closing this, filed https://github.com/metallb/metallb/issues/1155 for the dual stack / annotation gap.

[2022-01-07 08:06] #731 closed

[2022-01-07 09:06] fedepaol commented on #1147
Hi @pupseba , do you have any updates on this issue?

[2022-01-07 09:14] fedepaol commented on #1154
Hi @Mtze , it looks like no speaker is taking the service. Couple of questions:

Do you have the speaker running on all the nodes?
Also, can you start the speakers with the parameter `-log-level all` ?

[2022-01-07 10:46] Mtze commented on #1154
Hi @fedepaol

I have 6 nodes deployed:

[code]

And each node has one speaker:
[code]

I updated the `daemonset.apps/speaker` and set the `--log-level=all` there (I hope that is what you meant). After the speakers relaunched I deleted my test service and reapplied it.

[code]

Controller logs:
[code]

[2022-01-07 12:21] PKizzle opened #1156 "Dual stack service not getting IPs assigned"
Used versions:
- docker.io/metallb/controller: main
- docker.io/metallb/speaker: main

I have configured two layer2 address pools. One for IPv4 and one for IPv6.
When setting `ipFamilyPolicy: SingleStack` the services receive an IP address from metallb.
It works for IPv4 and IPv6 individually by specifying `ipFamilies`.

However `ipFamilyPolicy: PreferDualStack` results in the `no available IPs` e

[2022-01-07 12:26] fedepaol commented on #1156
I think the way dual stack works is by choosing the v4 and v6 addresses from the same pool, so you need to have a single pool with both the ranges. Mind trying?

[2022-01-07 12:36] pupseba commented on #1147
Hi! Yes, although not conclusive yet thus the lack of update so far here. We belive that the problem is related to our networking configuration itslef and how ARP is allowed. Next week I'll get the change to talk with networking guys, but ARP flooding options and GARP configuration seems to be the responsible for this behaviour. I'll update this issue as soon as possible (hopefully next week) so f

[2022-01-07 12:53] PKizzle commented on #1156
Thank you very much. Changing the two pools to one works!
I guess the missing documentation for this feature was the problem here.
Is there already an issue for adding the documentation to dual stack or providing an example?

[2022-01-07 12:56] fedepaol commented on #1156
There's no doc yet as it's not officially out yet. We added a bunch of changes in the version currently being developed, and the documentation will be updated to reflect all of those.

[2022-01-07 12:57] #1156 closed

[2022-01-07 15:37] fedepaol commented on #1147
Cool, I am going to close the issue, feel free to reopen it if something pointing at metallb arises.

[2022-01-07 15:37] #1147 closed

[2022-01-07 17:27] fedepaol commented on #1154
Weird, the speakers received the service event but did not advertise it.
@Mtze another question: do you have active endpoints for your service? Can you check that the pod selector is what you expect to be?

[2022-01-07 17:53] Mtze commented on #1154
The endpoints only show the clusterIPs of the backing pods. I guess this is correct?

[code]

[2022-01-08 03:12] markkrj commented on #1155
@fedepaol There was also #727 that implemented an annotation like:
`metallb.universe.tf/load-balancer-ips: "10.0.0.20,1000::20"` ([#727(comment)](https://github.com/metallb/metallb/pull/727#issuecomment-698273081)).
IMO it would be better if you implemented it this way and not like azure where you have to pre-allocate the IP, assigning it a name, so that you can refer to it in the service's annota

[2022-01-08 19:30] kevin-lindsay-1 opened #1159 "Option to listen on specific IP address"
I use WSL2 for local development at home, while also running certain services at home to manage my home network and so forth. The idea is to expose load balanced services on a "k8s" IP address, and then do things like run local tooling services and k8s port forwards on my "development" IP address.

Right now I use `x.x.x.11` for my local development, and metallb is set to listen on `x.x.x.12`. How

[2022-01-09 23:21] ElanHasson commented on #324
Cool, I'd use a newer version though for since that is wicked old :)

[2022-01-10 08:43] fedepaol commented on #1155
@markkrj thanks for raising the point, and I totally agree having the explicit ips makes total sense in metallb context.

[2022-01-10 16:13] fedepaol commented on #1151
Closing this, feel free to reopen when providing the requested info.

[2022-01-10 16:13] #1151 closed

[2022-01-10 16:17] fedepaol commented on #1159
Hi @kevin-lindsay-1 , I am assuming you are talking about l2 metallb.
Not sure what port you refer to. MetalLB only advertises the ip around replying to ARP requests, then the load balancer service has a port associated with that.

When it comes to the port used by the load balancer service, that is handled entirely by your cluster's CNI and metallb is out of scope.
Hope it helps.

[2022-01-10 16:44] kevin-lindsay-1 commented on #1159
@fedepaol According to the [docs](https://metallb.universe.tf/faq/#in-layer-2-mode-how-to-specify-the-host-interface-for-an-address-pool), metallb is the thing binding to the host's interfaces.

When it does so, it listens on a specific port defined by my kubernetes service, however the IP address it listens on _on the host_ always appears to be `::`.

I would like to be able to change `::` to the

[2022-01-10 17:27] fedepaol commented on #1154
Would you mind doing also a `k get endpointslices -A` ?

[2022-01-10 17:31] kevin-lindsay-1 commented on #1159
Sorry, I'm disputing anything you're saying, but what's actually listening on the port? On the host, the port is being listened on, and it's due to my metallb config that it's doing that.

Are you saying that metallb doesn't perform the operations that actually cause the host to listen on that port? If so, is there a way to tell whatever is performing the "listening", to listen on a specific IP, r

[2022-01-10 17:33] Mtze commented on #1154
Here is the output:
[code]

[2022-01-10 17:35] fedepaol commented on #1154
:/

This must be something dumb that I am not seeing, or a bad bug. Mind deploying metallb from master?

[2022-01-10 17:41] kevin-lindsay-1 commented on #1159
Okay so I'm using docker for desktop, so I'll have to see what CNI it's using, and hope that it has some kind of way to provide this annotation on the `Service`.

I'll close this issue and follow up in future if I find an annotation or something that causes the behavior I'm looking for.

[2022-01-10 17:41] #1159 closed

[2022-01-10 17:43] fedepaol commented on #1159
One last note, when I talk about CNI I mean the one used by your k8s cluster (which I am not sure is provided by docker desktop)

[2022-01-10 17:45] kevin-lindsay-1 commented on #1159
/shrug well, it sounds like that's going to be a fun rabbit hole to go down.

[2022-01-10 17:54] Mtze commented on #1154
Same thing.

I removed the MetalLB namespace and my test nginx deployment + service. Then deployed MetalLB with
[code]
I set the log level to `all`, and redeployed my service:

[code]

[code]

[2022-01-10 18:06] fedepaol commented on #1154
Meh, I have lost my ideas.
I can provide you a custom image with extra logs in place. Mind reaching me out on slack (kubernetes workspace, metallb channel)? I'll be available tomorrow, CEST working time.

[2022-01-10 23:26] dsogari commented on #888
For me, the problem is that the metallb-controller creates a secret with a name of `metallb-system-metallb-memberlist` instead of `memberlist`. Here's the related log line:

And here's the created secret resource:
[code]

[2022-01-12 11:26] pperiyasamy opened #1162 "dev-env: bgp config is not loaded into BGPd process"
While trying to bringup metallb environment using [dev-env](https://github.com/metallb/metallb/tree/main/dev-env) with `inv dev-env -p bgp -b frr -i ipv4` command, it brings up metallb controller, speaker pods and frr router container, but frr container fails to load default `/etc/frr/bgpd.conf `file content mounted by tasks.py. because of this none of the bgp speakers are able to peer with frr ro

[2022-01-12 11:28] pperiyasamy commented on #1162
/cc @msherif1234 @fedepaol

[2022-01-12 12:50] #1047 closed

[2022-01-12 13:49] Mtze commented on #1154
After some time of intense debugging wit the help of @fedepaol the issue is resolved.

For future reference:
- The MetalLB Announced ip will not respond to ICMP requests! Always use `curl` to see if the service is working.
- If you use `arping` - make sure to execute it on a node which will not arp for the address itself - The node that homes the announcing metallb-speaker will ignore the arp requ

[2022-01-12 13:49] #1154 closed

[2022-01-12 14:26] stephan2012 commented on #689
Reviewing [the issues of co-existing with Calico](https://metallb.universe.tf/configuration/calico/#ideas-wanted), stumbling upon this, and also seeing #1118 I am wondering if assigning another IP address to a node and binding MetalLB to it would also work around the single BGP session issue. In any case, besides selecting a source IP address automatically or rule-based there should also be a way

[2022-01-13 08:12] pperiyasamy commented on #1162
I'll work on a fix.

[2022-01-13 08:34] fedepaol commented on #1162
Thanks @pperiyasamy !

[2022-01-14 20:44] fire833 commented on #5
I have MetalLB (L2) deployed to my home K8s cluster, it works great to expose a LoadBalancer for my nginx-ingress controller along with a few other TCP services. Thanks for your great work!

[2022-01-17 17:26] thetillhoff opened #1170 "Next release date - release cycle"
Is there something like a progress tracker on when the next release(s) will happen?
Can't wait for it 🤟

[2022-01-18 00:06] webdog commented on #299
Checking in for the 2022 crowd that `metallb` is indeed the ConfigMap name that needs to be set if you installed via `helm`.

[2022-01-18 13:35] pperiyasamy commented on #1155
I'll work on this.

[2022-01-18 13:36] fedepaol commented on #1155
Thanks @pperiyasamy , assigning this to you

[2022-01-20 08:48] cyclinder opened #1175 "speaker observed a panic"
- Version of MetalLB:  v0.11.0
- Version of Kubernetes: v1.22
- Name and version of network addon: calico
- Whether you've configured kube-proxy for iptables or ipvs mode: iptables

1. I created a service by `kubectl apply -f `, the description of service is below shown:
[code]
2. when I created the service, and I found the pod of speaker was CrashLoopBackOff. and I look its log, as shown below:
[

[2022-01-20 13:39] fedepaol commented on #1170
Hi @thetillhoff , next release will be pretty packed in content.

We discussed cutting off a new release in yesterday's community meeting.
We need a couple of fixes to get in (most notable https://github.com/metallb/metallb/pull/1172 ) and the docs, which I am currently working on. I would say a couple of weeks at most, and a new release will be available.

[2022-01-20 15:16] msherif1234 commented on #1175
I will repro and take a look

[2022-01-20 17:08] CoreTechnologyAG opened #1178 "V0.11.0: Internal IPs instead of external IPs. In V0.9.3 it was working"
Hello

We have a problem with 0.11.0-Release.

We tried to migrate from 0.9.3 to 0.11.0 and had to go back.

Problem:
We got an internal IP in the Mailserver- and in Traefik-Logs. Therefore those containers are responding incorrect because of the internal IP-Addresses (e.g. ipwhitelist in traefik cannot work correct)

Reproduce:
- Install metallb via standard https://raw.githubusercontent.com/meta

[2022-01-20 17:17] fedepaol commented on #1178
Not sure what you mean by internalip.

Is the issue the ip assigned to the service by metallb? Or something else?
Can you share the metallb configuration and the loadbalancer service?

[2022-01-20 17:29] #485 closed

[2022-01-20 17:37] fedepaol commented on #1175
I believe the error is related to the fact that the endpoint slice is missing the label that is supposed to refer to the servicename:
`endpointSlice missing kubernetes.io/service-name label`

@cyclinder mind sharing the yaml of the endpoint slice resource?

[2022-01-20 18:27] msherif1234 commented on #1175
yes that was the issue I used this yaml
[code]

that works fine if I removed the following from endpointslice
[code]
speaker will crash with the same exact error

`panic: unable to calculate an index entry for key "default/endpoint-slices" on index "ServiceName": endpointSlice missing kubernetes.io/service-name label [recovered]`

[2022-01-21 01:41] cyclinder commented on #1175
sure :), the yaml of the endpoint slice resource is shown below:
[code]

[2022-01-21 02:11] msherif1234 commented on #1175
the crash happens in sliceInforrmer goroutine that was set when the speaker started up to watch for sliceendpoints, I will see if I can make it fail gracefully with an eror w/o crash but at the end this is incorrect endpoint because of the missing yaml, so if u add the labels you will be good to go

[2022-01-21 02:30] cyclinder commented on #1175
good! I totally agree with you, If there need fail gracefully with an eror w/o crash, Can I try it out?

[2022-01-21 09:17] fedepaol commented on #1175
So it looks like something submariner should address?

[2022-01-21 09:31] cyclinder commented on #1175
yeah, submariner needs to address the problem of missing labels in the created endpointslice, and if metallb can make it fail gracefully with an error w/o crash, I guess it would be better, Can you agree it ?

[2022-01-21 09:33] fedepaol commented on #1175
Yep, the problem is, the error is caused by a callback to the informer code where we provide a key for the ep slices.
Not using the service name is as much as wrong and may cause other issues in metallb.
I am not sure we can handle it gracefully, but I did not dug deeply in the issue, so I may be wrong here

[2022-01-21 09:40] cyclinder commented on #1175
I see, Thanks @fedepaol

[2022-01-21 09:46] #1175 closed

[2022-01-21 16:41] fedepaol commented on #1178
The only ip metallb handles is the one that gets assigned to the traefik service (in this case `10.2.235.33`).

Is traefik_service_def.yaml.txt the output of a file, or of `kubectl get service -o yaml` ? If it is the file, can you provide the output of the command?

If it is from the command, can you provide the logs of the metallb's controller pod?

[2022-01-21 16:49] danmanners opened #1182 "Notice: Service.Spec.LoadBalancerIP being deprecated in v1.24"
Hey folks, my apologies if this is the wrong place for this. Just saw this open issue and realized I've used this functionality in the past. [`Service.Spec.LoadBalancerIP` functionality is being deprecated in Kubernetes v1.24](https://github.com/kubernetes/kubernetes/pull/107235), and it may be worth updating docs and/or deprecating support for that feature in MetalLB.

If this is the wrong place

[2022-01-21 17:03] fedepaol commented on #1182
Hi @danmanners , thanks for raising this! We are aware and taking initiative in https://github.com/metallb/metallb/pull/1174 which is gonna converge soon (and likely before 1.24 lands).

[2022-01-21 17:07] danmanners commented on #1182
Awesome, totally missed it here (https://github.com/metallb/metallb/pull/1174#issuecomment-1016977109).

Keep up the awesome work, I love MetalLB!

[2022-01-21 19:38] msherif1234 commented on #1175
created issue here for referrence, https://github.com/kubernetes/client-go/issues/1053

[2022-01-21 19:45] msherif1234 commented on #1050
@haslersn does this address your need https://metallb.universe.tf/usage/#ip-address-sharing towards the end it explains how using this annotation can help with mixprotocolLBsvc ?

[2022-01-22 08:57] koraykutanoglu commented on #612
I am having a problem with this. But what needs to happen here is that ingress should be ahead. It is expected that the requests will first pass through ingress at the layer 7 level and then come to the metallb IP and become a loadbalancer. Is there any solution about this?

Have you made any progress on this? @soudaburger

[2022-01-22 10:23] koraykutanoglu commented on #334
Can you elaborate on this for me? I want to use ingress and metallb. For example, I'm creating a loadbalancer service for an application. Metallb automatically assigns IP to this loadbalancer service I created and I can access my application over this IP. However, I want to manage the traffic here with ingress. I think it should be the first ingress. Well, I don't know how can I pass the incoming

[2022-01-22 11:02] dalei2019 opened #1184 "metalb not release ip when service is deleted"
### Description
 1.  deploy MetalLB use helm

install
[code]
overrides.yaml
[code]
 2. create service A with LoadBalancer type.
 2.  MetalLB auto assign ip **10.11.20.250** to this service.
 3. service A is ok.
 4. delete service A.
 4. create service B with LoadBalancer type.
 5. MetalLB auto assign ip **10.11.20.251** to this service.
 6. service B is ok.

### Question
How to release **10.11.20.

[2022-01-22 15:10] haslersn commented on #1050
@msherif1234 It doesn't mention MixedProtocolLBService. When the MixedProtocolLBService feature gate is enabled, then I assume that you **don't** need that annotation (at least not for the "first reason"). However, this is only the case if MetalLB supports MixedProtocolLBService, and the documentation doesn't mention whether this is the case.

[2022-01-24 07:55] fedepaol commented on #1175
@cyclinder would it make sense to file a submariner issue? I have no clue on how it works, but my understanding is, it clones the service and the endpoints somehow? Mind filing one?

[2022-01-24 08:32] fedepaol commented on #1184
Can you share the logs of the controller pod when you delete and recreate the service?
Also, metallb do not provide any guarantee about the ip it's gonna use, UNLESS you use spec.LoadBalancerIP. In that case you have the guarantee of the ip assigned to the svc.

[2022-01-24 08:36] fedepaol opened #1185 "Add a new lane for deploying metallb via the operator and running e2e in operator mode"
No need to have the full coverage.
A simple lane with ipv4 + frr that deploys metallb via the operator using the manifests and run e2e to make sure operator mode is solid.

[2022-01-24 08:37] fedepaol commented on #1185
The operator's manifests are https://github.com/metallb/metallb-operator/tree/main/bin

[2022-01-24 08:37] fedepaol commented on #1185
To checkout the operator, something similar to https://github.com/metallb/metallb-operator/blob/main/.github/workflows/metallb_e2e.yml#L24 can be done

[2022-01-24 08:38] fedepaol commented on #1031
Closing this, fixed by https://github.com/metallb/metallb/pull/1167 and https://github.com/metallb/metallb/pull/1150

[2022-01-24 08:38] #1031 closed

[2022-01-24 09:25] pperiyasamy commented on #1185
@fedepaol I'll work on this.

[2022-01-24 11:17] dalei2019 commented on #1184
Thanks @fedepaol !
Unfortunately, the log has been lost.
After I reinstalled metallb and then redeploy service , ip is released normally.

I have change the service yaml , everything seems to be working fine so far.

[code]

If anyone else encounters the same problem, you can try to add the log under this issue.

[2022-01-24 11:17] #1184 closed

[2022-01-24 16:54] CoreTechnologyAG commented on #1178
I will come back to you on thursday/friday this week..
need some more time to document the situation with v0.9.3 and v0.11..  sorry

[2022-01-25 11:55] cyclinder commented on #1175
hi @fedepaol，Sorry for delayed response!

yeah, I am going to submit an issue to submariner on this issue, I suspect that the endpointslice object created by submariner missing the label of `kubernetes.io/service-name`.

[2022-01-25 14:11] fedepaol opened #1193 "Reconcile the label selectors"
We have the current scenario:
- the manifests and the operator are deploying metallb using `component=speaker` / `component=controller` for the daemonsets / deployments
- the helm charts are deploying metallb using labels with the form `app.kubernetes.io/component=speaker`

There is no way to get back from that unless providing disruptive updates, because we can't change the label selector.
We sho

[2022-01-25 16:13] steebchen commented on #334
Sorry, I really don't know anymore, a comment form 2018 is ancient by now :D

[2022-01-26 10:11] sabinaaledort opened #1194 "E2E test flake: BGP session down"
The following test is failing in CI from time to time:

[code]

[2022-01-26 10:12] sabinaaledort opened #1195 "E2E test flake: metric metallb_speaker_announced not found"
The following test is failing in CI from time to time:

[code]

[2022-01-26 10:13] sabinaaledort opened #1196 "E2E test flake: BGP session not established"
The following test is failing in CI from time to time:

[code]

[2022-01-26 10:14] sabinaaledort opened #1197 "E2E test flake: ARPING Timeout"
The following test is failing in CI from time to time:

[code]

[2022-01-26 16:24] gdhaworth opened #1199 "Workaround for calico/BGP for small scale users"
I'm running k8s at home and I have only a single router (TOR or otherwise). I do have a spare raspberry pi that was running other parts of my network though so I used frrouting to come up with a way around the BGP problem. I'm not sure if you'd be interested in this but I imagine there are a few lost homelab admins out there who might find this useful. I set up docker to run frrouting using the fi

[2022-01-27 08:48] #1170 closed

[2022-01-27 09:09] sabinaaledort commented on #1195
I'll work on this.

[2022-01-27 09:09] sabinaaledort commented on #1197
I'll work on this.

[2022-01-27 09:11] fedepaol commented on #1197
thanks!

[2022-01-27 09:11] fedepaol commented on #1195
thanks!

[2022-01-27 12:02] fedepaol opened #1200 "Dump e2e tests failure information to a file"
CI runs are hard to analyze.

We could benefit from to a file named after the test:
- all the frr information we dump to the standard output
- the config (and eventually the crds)
- the service definition
- the last logs of the speakers
- the last logs of the controller

And in general any information that could be useful for debugging
An even better option would be to have a folder named after th

[2022-01-28 09:17] panxia6679 opened #1202 "upgrade metallb from By Manifest to By Helm"
Is there method provided to upgrade metallb from By Manifest to By Helm? Will the method remove/change existing LoadBalancers? Thanks.

[2022-01-28 09:18] CoreTechnologyAG commented on #1178
My test I had to do with our test infra. So internal IP has changed.

- MetalLB/Traefik-Loadbalancer-IP: 10.2.33.33

**Analysis myself:**
in the traefik-log it's not the external ip-address from the client. It is the ip-Adresse of the kubernetes master (in our case the 2nd master node-ip) in the traefik-log.
In the metallb speaker and controller logs I don't see a lot. Even I have set the log-leve

[2022-01-28 09:33] fedepaol commented on #1178
Sorry, but I am still missing some details and I don't know how traefik works. What are 194.230.148.220 and 10.2.50.22 ? The source ip of the request? Is that the issue?

[2022-01-28 10:16] CoreTechnologyAG commented on #1178
Sorry, from my side.

Yes, the source IP of the request should be transfered from metallb to the services/pods, which run behind metallb.

Is there a way to configure metallb's new version v0.11.0, that it behaves like v.0.10.3?

**try to explain how traefik decides:**
Definition:
- In traefik we have defined a whitelist with ip-ranges. If the client-ip in this ip-whitelist-ranges exists, access i

[2022-01-28 10:29] fedepaol commented on #1178
Ok, now I think I understand what the issue is.
With 0.11.0, we fixed Cluster Traffic policy on services, meaning that a request entering one node may end up being served by a pod on a different node. See https://www.asykim.com/blog/deep-dive-into-kubernetes-external-traffic-policies

So, the obvious fix to this is to change the service to use ExternalTrafficPolicy: local

[2022-01-28 11:23] CoreTechnologyAG commented on #1178
Thanks for the info.
I will try this in the next days.

[2022-01-28 11:59] zeeke commented on #1196
Looking at the [whole job log](https://github.com/metallb/metallb/runs/4911555328?check_suite_focus=true) one clue is that the failing test is the first in the suite. Going to dig a little deeper.

[2022-01-28 13:18] slash5k1 commented on #284
Can confirm this is a problem with my Raspberry Pi 4 but not sure if its a PI specific issue OR a metal issue. What I found was that upon an initial loadbalancer being created I could access the public ip until a timeout occurred and then the service would become unavailable. If I edited the service the public IP would become available again over the wifi until that same timeout occurs. So I plugg

[2022-01-28 14:55] fedepaol commented on #1196
Could be related to https://github.com/FRRouting/frr/issues/10142 (try to have a look, if that is the case, the frr show running-config of the external containers (at least one) must be empty.

If that is the case, I tried all possible solutions. One mitigation was to have a sleep https://github.com/metallb/metallb/pull/1101 before running the tests (at the time of the pr, we were creating the frr

[2022-01-29 13:58] manikanth04 commented on #1200
@fedepaol i am interested to work on this.

[2022-01-31 13:24] fedepaol commented on #1200
@manikanth04 cool!

Couple of things:
- I am working on making a go library out of a thing we did for this very specific purpouse (https://github.com/openshift-kni/k8sreporter). See the first open pr, I thing that will help in doing what's needed this (after that PR merges and we cut a tag).
- The right place were to hook into is https://github.com/metallb/metallb/blob/27fc90150c033e006dc5330bc427

[2022-01-31 18:23] zeeke commented on #1196
I managed to reproduce the problem using the `--ginkgo.seed` parameter and I found the problem comes out when running the spec `configure peers one by one and validate FRR paired with nodes` as a first is the BGP:FRR suite.

The [spec configures one FRR container at the time](https://github.com/metallb/metallb/blob/main/e2etest/bgptests/bgp.go#L824) in a non deterministic manner. The default confi

[2022-02-01 09:43] pperiyasamy commented on #1194
I'll work on it.

[2022-02-01 09:47] fedepaol commented on #1194
Thanks @pperiyasamy

[2022-02-01 15:47] #1162 closed

[2022-02-01 17:28] fedepaol opened #1206 "Add commit empty body rejection to CI"
Given we are asking to comply to https://chris.beams.io/posts/git-commit/ for commits, we should start rejecting emtpy commit bodies or bodies  that contain only the signature.

[2022-02-01 20:09] ikogan commented on #630
This may be a separate request but I feel like it's close. I have taken on the probably misguided adventure to deploy DNS inside of my Kubernetes cluster and use MetalLB to expose it. To make this maximum fun, this authoritative DNS server is _also_ the upstream DNS server for the cluster running it.

I was hoping I could expose this on two separate IPs so that, in case something wonky happens to

[2022-02-02 18:12] #1155 closed

[2022-02-02 19:39] arthurcgc commented on #253
I can confirm that this is still an issue on my Raspberry Pi 4 model B

[2022-02-03 06:13] koraykutanoglu commented on #334
ı am sorry, I didn't notice the date. I solved this problem by assigning IP to ingress.

[2022-02-03 09:29] pperiyasamy opened #1209 "E2E test flake: nexthop not set properly in the service route"
The e2e test `IPV6 - ExternalTrafficPolicyLocal `  fails with following error.

[code]
Here is the CI run: https://github.com/metallb/metallb/runs/5039200490?check_suite_focus=true

The frr dumps at the router(s) logged by [this](https://github.com/metallb/metallb/blob/main/e2etest/bgptests/bgp.go#L66) code doesn't have anything specific to service route.

frr dump from `ebgp-single-hop` router co

[2022-02-03 10:10] pperiyasamy commented on #1209
I notice neighbors `kind-worker` and `kind-worker2` are in Idle state on ` ibgp-multi-hop` router container. is this the root cause of this issue ? would this [PR](https://github.com/metallb/metallb/pull/1204) fix it ?

[code]

[code]

[code]

[2022-02-03 11:11] CoreTechnologyAG commented on #1178
It works.
Reconfigure the traefik-configuration and now I see the external IP.

Maybe you should mention this in the release notes of V.0.11.0. as well the part with the ExternalTrafficPolicy: local :-)

Thanks a lot.

[2022-02-03 11:42] fedepaol commented on #1178
Yeah will change that. It's a "secondary" effect of having the policy local, did not think it would have effects on applications.
Closing the issue, glad it helped.

[2022-02-03 11:42] #1178 closed

[2022-02-03 19:33] mateuszdrab commented on #996
Second that, loadBalancerClass is now in beta and I wanted to try that feature out

[2022-02-04 12:04] squeed opened #1211 "Enhancement: Option to announce node's PodCIDR (in BGP mode)"
This is a random idea. Feel free to reject it.

There are people who run their Kubernetes networks unencapsulated - that is to say, they do not use an overlay network and Pods are directly routed via their network. The usual way to do this is via BIRD and some duct-tape (see https://twitter.com/ProgrammerDude/status/1489343753563299842 for an example).

However, since MetalLB already has a daemon

[2022-02-05 08:42] svallala opened #1212 "Are IPV6 address pool advertisement supported using BGP"
K8s Version: v1.21.5
MetalLB Version: v0.11.0

configmap
------------
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: config
data:
  config: |
    peers:
    - peer-address: fdd2:337d:e558:13ca::1
      peer-asn: 63410
      my-asn: 63401
    address-pools:
    - name: default
      protocol: bgp
      addresses:
      - fdd2:337d:e558:13ca:10::020-fdd2:337d:e558:13ca:

[2022-02-05 09:35] virgil9306 commented on #253
I am encountering this issue as well on k3s nodes running on Proxmox.

Thus, I don't think this is a Pi-specific issue. I'm not using a Pi.

More, recent reports are available here: https://github.com/metallb/metallb/issues/284

The same issue happens for me. I am trying to test with the nodes' NICs to promiscuous to see if that will change anything.

---

If this is a known issue, even if it's ou

[2022-02-07 08:06] fedepaol commented on #1212
Hi @svallala , ipv6 is not currently supported in BGP.
The upcoming release (which is going to be released roughly this week) will ship an experimental FRR mode which will support it (and dual stack too).

[2022-02-07 08:06] #1212 closed

[2022-02-07 08:08] svallala commented on #1212
@fedepaol Thanks for the response.

[2022-02-07 08:28] pperiyasamy commented on #1209
is it also worth to log available routes from frr containers at [here](https://github.com/metallb/metallb/blob/main/e2etest/bgptests/bgp.go#L65) ? it may be useful to debug the above case.

[2022-02-08 00:08] dblviking opened #1213 "Metallb v0.11.0 + RHOS 4.8.22"
I'm having issue with connectivity with my ipv6 metallb addresses. The services are correctly pulling an ip from my declared layer2 ipv6 pool. Everything seems fine but I can't connect to them.

My metallb controller correctly setup an ipv4 and ipv6 client address but the speakers only show an ipv4 worker node ip, not a client address. I'm curious if this is the issue? I'm not sure how the speaker

[2022-02-08 08:09] fedepaol commented on #1213
Hi @dblviking , is this L2 or bgp mode?
Please note that ping won't work in either way, because no interface on the node is holding the vip.

[2022-02-08 11:13] #1196 closed

[2022-02-08 14:24] dblviking commented on #1213
It’s L2. Yes you’re right about ping. I started using nc to check for the open ports. I get “no route to hosts”

[2022-02-08 14:26] fedepaol commented on #1213
Is your service on the same subnet of the client? In L2 mode the client and the server are supposed to be on the same subnet, so routing should work out of the box.

[2022-02-08 17:49] dblviking commented on #1213
Yes I have a nmstate vlan on the worker interfaces and they can all ping6 each other and the gateway.  They’re all on the same subnet.
My ipv4 install worked fine but this is puzzling.
is there any internal metallb ingress routing I can check?

[2022-02-08 18:46] dblviking commented on #1213
It's of note that the metallb-controller has dual stack ipv4 and ipv6 address but the speaker pods are hard coded with worker node internal ipv4 addresses only (these ones: oc get nodes -o wide)

[2022-02-08 20:27] dblviking commented on #1213
oc describe pod controller-8fb84f97d-wvtzf -n metallb-system | grep IP
IP:           10.9.6.67
IPs:
  IP:           10.9.6.67
  IP:           fd01:0:0:6::1468

oc describe pod speaker-6blxw -n metallb-system | grep IP
IP:           <ipv4 worker0 node ip>   <--- shouldn't that be ipv6 or both?
IPs:
  IP:           <ipv4 worker0 node ip><--- shouldn't that be ipv6 or both?
      METALLB_HOST:

[2022-02-09 20:52] fedepaol commented on #1211
Sorry for the late reply. Despite I like the idea, and I see its value, it feels like it goes beyond the purpose of metallb which is narrowed to handling and announcing load balancer services.

What I think would make sense would be to see if we can rip the frr integration logic as a standalone component that could be reused by an had hoc controller for this, or even better having a single frr pod

[2022-02-09 21:04] dblviking commented on #1213
How do I force the speaker pods to use the ipv6 of the node, not the ipv4?

oc describe pod -n metallb-system speaker-6blxw
Name:         speaker-6blxw
Namespace:    metallb-system
Priority:     0
Node:         worker0/10.10.10.73
Start Time:   Tue, 08 Feb 2022 13:50:55 -0500
Labels:       app=metallb
              component=speaker
              controller-revision-hash=59cbb56d76
              p

[2022-02-09 21:38] roopakparikh opened #1215 "Metallb 0.9.6 - Alpine Security issues - rebuild, test and release 0.9.7"
* Version of MetalLB: v0.9.6
  * Version of Kubernetes: 1.20
  * Name and version of network addon: Calico
   * Whether you've configured kube-proxy for iptables or ipvs mode: ipvs

The current version on 0.9 release 0.9.6 is based on Alpine 3.13.2; there have been numerous fixes on Alpine since the 0.9.6 was released. The current patch release of Alpine 3.12 is 3.12.9. https://endoflife.date/alpi

[2022-02-09 21:59] russellb commented on #1215
v0.9.7 is released

[2022-02-09 21:59] #1215 closed

[2022-02-10 00:34] roopakparikh commented on #1215
Thanks @russellb looks good:
[code]

[2022-02-10 23:26] #152 closed

[2022-02-11 13:42] #1185 closed

[2022-02-11 17:18] fedepaol commented on #1154
For future reference (bis): this was not an issue and nothing was wrong. The only error was to try to reach the service from one of the nodes.

[2022-02-11 17:27] fedepaol commented on #1213
So, metallb does not do any routing. In l2 the only thing it does is to reply to your arp requests. All the rest is done by the cluster.
If you see arp requests coming to the node, metallb's job is done.

What version of ocp are you using? And also, is this the community metallb or the one shipped with openshift? If the latter, I think you can file a proper bug / incident request.

[2022-02-11 17:27] fedepaol commented on #1213
PS: The speaker pods are host-networked pods, so they take the same ip of the node. Not sure why it's rendering only the v4 one, but if your nodes are dual stack, so is the speaker pod.

[2022-02-13 13:19] nberlee opened #1216 "frr images on quay are not multiarch"
on an ARM platform metallb-frr.yaml fails because FRR containers output:
[code]
This is because the frr contrainer images on quay.io are not multiarch. Meaning they are only published for x86_64. Swapping the container registry for docker hub in the manifests actually works.

So please consider asking frr to publish the now old FRR 7.5 as an multi-arch manifest on quay, or change the container reg

[2022-02-14 08:27] fedepaol commented on #1059
best practices done, 100%

[2022-02-14 08:27] #1059 closed

[2022-02-14 10:54] #1046 closed

[2022-02-14 15:20] mzac opened #1217 "Set BGP origin code (igp)"
I've noticed that when looking at routes received by my router (pfSense FRR) the origin indicates a ? which means incomplete.  Could the origin flag be set?  For example, on a Cisco router you would setup a route-map and set origin to igp:

[code]

This is the bgp table from my router.  In my case, 192.168.13.0/24 is being advertised by metallb in my cluster and we see a ? at the end of each line.

[2022-02-15 15:41] neilcook opened #1219 "Release date for FRR?"
Hi there,

is there a release date for MetalLB containing FRR support (specifically looking for BGP announcing IPv6 addresses)?

I saw an estimated release date of last week, but clearly that didn't happen, so just wondering if something is still imminent?

[2022-02-15 15:44] fedepaol commented on #1219
Hi @neilcook , we are doing it between today and tomorrow.

[2022-02-15 15:44] #1219 closed

[2022-02-15 18:51] fedepaol commented on #1216
Filed https://github.com/FRRouting/frr/issues/10587

[2022-02-15 18:51] fedepaol commented on #1216
Thanks @nberlee for reporting this!

[2022-02-15 22:44] vchrisb opened #1221 "frr is enabled by default in chart 0.12.0"
The latest release of the metallb helm chart does add frr support.
`speaker.frr.enabled` is `true` by default which is challenging:
* frr is experimental
* updating the helm chart to `0.12.0` will switch existing installations to frr, potentially breaking things: for me it was #1216 but there are other limitations pointed out in the release notes.

please consider making `frr` disabled by default,

[2022-02-15 23:34] jhoos commented on #1221
In addition to it defaulting to true, explicitly setting it to false does not remove the frr-specific init containers from the daemonset; perhaps it should?

[2022-02-16 07:50] fedepaol commented on #1221
Thanks @vchrisb @jhoos , definitely.
We are gonna fix this.

[2022-02-16 10:00] sabinaaledort commented on #1221
@jhoos Hey, i just deployed MetalLB with the helm chart and set `speaker.frr.enabled` to `false`. I don't see the FRR init containers in the daemonset. Can you share more details on how you did the deployment?

[2022-02-16 11:17] fedepaol opened #1225 "Add CI for branches"
CI is currently running only against main, it is desirable to run it also against branches to make sure cherry picks won't break backports.

[2022-02-16 11:21] fedepaol opened #1226 "Custom local AS per peer basis with FRR"
We did not use it, but it's possible to specify a custom as per peer basis using [local-as](https://docs.frrouting.org/en/latest/bgp.html#clicmd-neighbor-PEER-local-as-AS-NUMBER-no-prepend-replace-as)

Currently, metallb rejects custom `localAs`s if they are not all equal. Using that option, we could match the native behaviour.

[2022-02-16 12:39] muhlba91 commented on #1155
with dual stack services support now released in `0.12.0`, is this also included?
are there docs or an example on how such setup (dual stack service + assigned ip addresses) can look?

[2022-02-16 12:48] fedepaol commented on #1155
@muhlba91 here: https://metallb.universe.tf/usage/#requesting-specific-ips

[2022-02-16 12:52] muhlba91 commented on #1155
thanks for the link! :)

hence, if i want to assign a specific ip address to my service in dual stack mode, i currently have to create a separate pool containing 1 IPv4 and 1 IPv6 address for the controller to assign those when selecting the pool.

is there any ETA available for this annotation to be released which will make such assignments and management easier?

[2022-02-16 13:07] fedepaol commented on #1155
It's already released

[2022-02-16 13:07] adamcharnock commented on #1155
I've also been following this and I'll try to deploy it this week. My interpretation of the above link is that we can now do this (untested):

[code]

[code]

Does that look about right to you @fedepaol?

[2022-02-16 13:08] fedepaol commented on #1155
Yep, looks good @adamcharnock

[2022-02-16 14:12] fedepaol commented on #1221
We just released 0.12.1. Will close this.
With the info provided by @jhoos we'll file a new one.
Thanks!

[2022-02-16 14:12] #1221 closed

[2022-02-18 06:02] manikanth04 commented on #1226
@fedepaol I will work on this issue.

/assign

[2022-02-18 07:26] SunnyDou opened #1231 "Using Metallb version 0.12.0+ is problematic when IPv4/IPv6 dual-stack networking is disabled"
# Version

MetalLB: 0.12.0+
Kubernetes: 1.19.16
network addon: flannel
kube-proxy: ipvs
mode: layer2

# Details

I found that when I was using metallb 0.12.0+, SVC could not be assigned to EXTERNAL-IP. The following error is reported in the controller log:
[code]

ClusterIP->ClusterIPs was modified from 0.12.0 in controller service.go.The reason is that dual-Stack is supported by a [new feature](h

[2022-02-18 10:24] cyclinder opened #1232 "fix todo: log or propagate errs in native.go"
When I looked at the source code of metallb, I found many `TODO` in https://github.com/metallb/metallb/blob/332b5283f707d653ab1d4e9e9c2cdc7982065561/internal/bgp/native/native.go#L423-L440
I want to fix it. and I have two ideas:
- Remove TODOs and Log all errors
- Remove TODOs and propagate the errs, Please refer to the following solutions:

1. add new field in struct of session to receive err:
[c

[2022-02-18 17:31] fedepaol commented on #1231
Hi @SunnyDou, 1.19 is not supported anymore, and MetalLB follows the same logic ensuring compatibility with supported k8s versions (and the last 3 are up to 1.21, see https://endoflife.date/kubernetes).
So, I am keen to say this is not supported, however I'll try to bring this up with the other maintainers to hear their opinion.
For now I'll leave this open.

[2022-02-19 15:52] bjornbouetsmith commented on #5
I have MetalLB deployed - thank god I found somthing like this, since it makes it so much more "HA" than having to have the load balancer outside of my cluster and pointing it to specific node ip's.

[2022-02-20 13:51] ivanov-slk opened #1233 "Charts.yaml is missing when installing from terraform helm provider in submodule"
terraform:
[code]

helm:
[code]

MetalLB:
downloading helm chart from `https://metallb.github.io/metallb`.

Running on Ubuntu 20.04.

____________________

I am having a problem when trying to install MetalLB with Terraform and Helm. The error I am getting is `Chart.yaml file is missing`.
I get this error when MetalLB configuration is in Terraform submodule. If I put the Terraform resources in the

[2022-02-20 18:02] DerRockWolf commented on #1050
@haslersn could you already test this?

[2022-02-21 01:41] SunnyDou commented on #1231
Hi @fedepaol, thank you for your reply. Now I know why. But I'm still looking forward to retaining support for older features or deprecating notifications.

[2022-02-21 07:31] pperiyasamy commented on #1225
@fedepaol I'll work on this.

[2022-02-21 07:59] sabinaaledort commented on #1221
Thanks for the update!

[2022-02-21 14:00] fedepaol commented on #1231
@SunnyDou we'll try to provide a fix for this.
Also, could you please elaborate, my understanding is that this is happening for 1.19 but you say it's happening also on 1.21+ with dual stack disabled. Can you confirm that?

[2022-02-22 09:44] SunnyDou commented on #1231
@fedepaol I have tested in 1.21 that whether or not dual-stack networking is enabled does not affect the use of metalb 0.12.0+. I checked the Kubernetes update log and found that in the [v1.20.0-alpha.3] (https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md#removed-22) API change it says:"Add dual-stack Services (alpha). This is a BREAKING CHANGE to an alpha API. It cha

[2022-02-22 09:44] SunnyDou commented on #1231
I have tested in 1.21 that whether or not dual-stack networking is enabled does not affect the use of metalb 0.12.0+. I checked the Kubernetes update log and found that in the [v1.20.0-alpha.3](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md#removed-22) API change it says:"Add dual-stack Services (alpha). This is a BREAKING CHANGE to an alpha API. It changes the du

[2022-02-22 10:46] pperiyasamy commented on #1217
@mzac does this happen only in your pfSense FRR router ? In my environment, service route on the FRR router container (created via dev-env script) contains path set to `igp` type (`i`).

[2022-02-22 10:53] fedepaol commented on #1231
Ok, that makes sense. We'll add a fix to restore the compatibility with 1.19, as sounds reasonable and won't require too much effort (I hope :P )

[2022-02-22 14:10] mzac commented on #1217
I have k3s with metallb setup in my lab at work and it is peering with a Cisco ASA.  I am seeing the same result:

[code]

[2022-02-23 02:52] SunnyDou commented on #1231
@fedepaol Thank you for taking my advice!

[2022-02-23 02:53] SunnyDou commented on #1231
@fedepaol Thank you very much!

[2022-02-23 03:39] pcgeek86 commented on #157
I really wish that Metal LB would "just work" on my home network, by requesting an IP address via DHCP for IPv4, and an IPv6 address via SLAAC. Remove the requirement to specify a pool of IP addresses, and add DHCP, and the experience would be practically seamless.

[2022-02-23 09:44] pperiyasamy commented on #1217
@mzac ok, what is the bgp type you use for metallb speaker pods ? is it in `native` mode ? I can repro the issue only in 'native' mode on the main branch.

[2022-02-23 14:59] fedepaol commented on #1233
Hey @ivanov-slk , sorry but I miss knowledge on the terraform side to understand what's missing.
As you describe, if metallb is not working as a submodule but another chart is, we are probably missing something (which is not the Chart.yaml, as it's there). Would it be possible to reach the terraform provider maintainers and get some insights on what we are doing wrong so we can fix?

Thanks

[2022-02-23 17:30] fedepaol commented on #7
Closing this as it was added in FRR mode!

[2022-02-23 17:30] #7 closed

[2022-02-23 17:33] fedepaol commented on #26
Closing this as we are switching to controller-runtime

[2022-02-23 17:33] #26 closed

[2022-02-23 17:38] #196 closed

[2022-02-23 17:39] fedepaol commented on #396
Closing this as it was added in FRR mode

[2022-02-23 17:39] #396 closed

[2022-02-23 19:22] howels commented on #7
FRR mode disabled by default and marked as experimental - any idea when FRR will be a stable feature?

[2022-02-23 23:18] beckyjmcdabq opened #1239 "IP Pool Advertise/Broadcast Causing Network Security Policy to Block Port"
We tried deploying MetalLB as our Kubernetes Baremetal load balancer.  Everything appears to work for a short period of time and then the cluster networking just completely stops working.

We have determined that the issue is caused by:
1) MetalLB is advertising/broadcasting the pool of IP addresses (needed to route the traffic)
2) The network security policy/networks witch sees this broadcast com

[2022-02-24 09:43] fedepaol commented on #7
That was more of a precaution since it's the first release shipping it.
- We have good test coverage
- There are already a good amount of users happy with it.
- The next openshift release, based on the FRR implementation will go out soon and it will be fully supported, which means that bugs will be fixed here too.

So I'd say try it and report issues, or just wait 3 / 4 months for it to settle. Ma

[2022-02-24 14:15] fedepaol commented on #1200
@manikanth04 just checking, are you still interested to work on this?
Thanks

[2022-02-24 14:37] beckyjmcdabq commented on #1239
Actually I was informed that we are not using BGP.

[2022-02-24 15:47] pperiyasamy commented on #1217
ok @mzac, thanks for confirming, I'll look into it.

[2022-02-24 21:44] manikanth04 commented on #1200
@fedepaol yes, I am working on that

[2022-02-25 10:39] rata commented on #1239
@beckyjmcdabq and are you REALLY sure that item 2 and 3 that you mentioned are the cause of the issue, and not something else? Can't that configuration be changed? Otherwise, if your router does that, it will never work. With metallb or probably any other alternative either in layer 2 mode.

If the router knows that one MAC has only one IP and blocks when it answers ARPs for others, then it will b

[2022-02-25 12:11] fedepaol commented on #1239
There could be anti mac-spoofing mechanisms in place, we hit them already (see for example https://github.com/metallb/metallb/issues/1147 , where the failover wasn't working more or less for the same reason).
If that's the case, there is not much we can do as broadcasting ips for macs we don't own is the base of how L2 works.

[2022-02-25 17:59] vosdev commented on #5
Been wanting to try out MetalLB since I started using K8s but with the lack of IPv6 support I never could. Am forced to using NodePort for all my services with an external LB..

Hope that soon I'll be able to say I am using MetalLB for my clusters! Watching releases for IPv6 support so I can try it out ASAP.

[2022-02-25 18:08] fedepaol commented on #5
@vosdev we have ipv6 support both for L2 mode, and if you switch to FRR mode also for BGP in the latest release.

[2022-02-26 14:15] anthr76 commented on #1216
Considering the dockerhub variant is multiarch should we consider switching to that for now?

[2022-02-27 00:54] nberlee opened #1241 "frr-reloader fails: vtysh (frr): line 4: % Command incomplete: domainname"
Using metallb 0.12.1, with kubernetes 1.23.3, using minimal changes to  `manifests/example-config.yaml` and `manifest/metallb-frr.yaml`, reloader fails:

[code]
to make a functional config I had to make a few changes: (just enumerating here for replication purposes)

`metallb-frr.yaml` changes: (for arm compatibilty and version pinning)
* `image: quay.io/frrouting/frr:stable_7.5` --> `image: frrou

[2022-02-27 01:23] nberlee commented on #1241
Hmm.. setting a domainname on the kubernetes host made it work.

[2022-02-27 08:31] fedepaol commented on #1241
So, the issue was the domain name only right? Not what you added in the first comment?

[2022-02-28 08:22] fedepaol commented on #1216
I wanted to give the frr folks some time to elaborate our issue, just to avoid doing another release for this, but that's the other only viable solution.

[2022-02-28 09:34] nberlee commented on #1241
Not having a domain name on the kubernetes node generates this unexpected error.

I am unsure where the empty `domainname` statement comes from. As it does not seems to be in `internals/bgp/frr` but once I set a domain name on the node, the `domainname localdomain` statement is there on line 4 looking at `/etc/frr/frr.conf` in the frr container.

[2022-02-28 09:48] fedepaol commented on #1241
Yes, must be something that frr defaults with the domainname if not provided from outside, likely easy to override with the node name.
We'll try to fix it.

[2022-02-28 12:01] mithlajkn commented on #673
This worked for me... thanks man

[2022-02-28 16:05] jreamy opened #1243 "Proposal: enable service / hostname resolution"
I've started using metallb in my homelab and it work's great for getting IP addresses with standard ports for services I'm developing. I'd really like to get some form of hostname resolution working as well either using avahi or directly responding to mdns hostname queries (or some other method I haven't tried). I'm hoping for something more plug & play than having to configure my router or anythi

[2022-03-01 14:22] fedepaol commented on #1239
I am gonna close this, feel free to reopen if things are not clear, but the arp mechanism is the base of L2 mode and we can't change that.

[2022-03-01 14:23] fedepaol commented on #1233
@ivanov-slk do you have any updates on this?

[2022-03-02 18:59] WinterSoilder opened #1244 "configure local networking with kind cluster and mettallb"
I wanted to know how can other machines on the same network(wifi router) can access the given loadbalancer ip address from metallb
specifically i have configured my metallb on kind clusters which use docker networking, so how to i expose it to anyone connected to my private network?

[2022-03-03 07:38] ivanov-slk commented on #1233
All right, I got this working by manually downloading and compiling the `main` branch of [the helm provider](https://github.com/hashicorp/terraform-provider-helm). I suspect that it has something to do with `helm` versions. For reference, here is [the issue](https://github.com/hashicorp/terraform-provider-helm/issues/831).

[2022-03-04 14:52] firefly-serenity commented on #439
Another solution would be, that Metallb implements the possibility of activating "static" IPs. The IPs would be started on one of the interfaces in the cluster even thought Metallb is not aware of a service that consumes it. The service can then activate `externalIPs` and make use of metallbs fail-over capabilities.

This could really make the life easier if you want to distribute your application

[2022-03-05 09:02] fedepaol commented on #1244
I am afraid you can't.
In BGP mode, metallb will advertise your "nodes" as next hops, and the router won't be aware of that unless you put dnat routes on your host.
In L2 mode, the arp requests won't make it to the "node" as they'll stop at your host level.

[2022-03-05 09:02] #1244 closed

[2022-03-06 12:56] Eagleman7 opened #1246 "metallb chart not available on metallb.github.io/metallb"
Page returns a 404, cannot use the metallb chart repository for installing metallb through Helm.

Or maybe documentation is wrong? https://metallb.universe.tf/installation/#installation-with-helm

[2022-03-06 13:14] WinterSoilder commented on #1244
@fedepaol Ok thanks for the info. correct me if i am wrong... doesnt this beat the purpose of having a baremetal loadbalancer? Or are u implying this limitation is if i am using kind cluster? if its a problem with kind what alternative can u suggest?

[2022-03-07 08:40] fedepaol commented on #1244
It is a limitation of using a kind cluster, and eventually running a cluster inside a host.
The baremetal loadbalancer (and I'd say kubernetes in general) is meant for cluster where nodes are exposed on the network, or you circumvent it with doing additional plumbing on your host so that the kind (or minikube, or whatever) cluster behaves as if it was.

[2022-03-07 15:17] Jean-Daniel opened #1247 "[documentation] Legacy note in "IPv6 And Dual Stack Services" section."
In the `usage` documentation, there is this note in `IPv6 And Dual Stack Services` section:

[code]

The last sentence is in contradiction with the statement in the `Requesting Specific IPs` section and should be updated:

[code]

[2022-03-07 15:18] fedepaol commented on #1247
Good catch, thanks @Jean-Daniel !

[2022-03-07 18:40] ipeacocks opened #1248 "How to find assigned IP in MetalLB?"
I've installed MetalLB and it's working fine in layer 2 mode. Official documentation says:
[code]
But I can't find MetalLB' IP on any k8s nodes. How to find it attached to network interface?

[2022-03-07 18:43] fedepaol commented on #1248
You won't.
MetalLB works by replying to arp requests with the mac address of the interface the arp requests came in, but the ip is not assigned to any interface.
See https://metallb.universe.tf/concepts/layer2/ for more details.

[2022-03-07 18:43] #1248 closed

[2022-03-07 18:48] ipeacocks commented on #1248
Thank you @fedepaol

[2022-03-07 21:13] rahulait opened #1249 "[documentation] traffic split behavior when externalTrafficPolicy=local is documented incorrectly"
Hi,

I am referring to this documentation: https://github.com/metallb/metallb/blob/main/website/content/usage/_index.md
[code]

It incorrectly states that the local traffic policy will send 50% of the service's traffic to each node. In case of externalTrafficPolicy=local, traffic is never sent outside of the node and all the traffic is sent to pods on the same node.

I have tested it and verified

[2022-03-07 21:45] rahulait commented on #1249
If this is with "BGP" mode only, then it makes sense as the router will load balance/split the traffic between the two nodes equally.

[2022-03-08 05:59] jokeyrhyme commented on #534
Howdie, thanks so much for sharing this project, it has been very useful to me <3

I have a similar problem (perhaps the same problem), although I don't have logs from when it was last in an unexpected state (sorry, I'll share such logs next time I can reproduce this issue)

One thing I've noticed is that the metallb helm chart sets the liveness and readiness checks to use the Prometheus (?) endpo

[2022-03-08 09:01] fedepaol commented on #1249
That is under the bgp section, so I think the documentation is not wrong.
See https://metallb.universe.tf/usage/#bgp

[2022-03-08 09:01] #1249 closed

[2022-03-08 10:15] fedepaol commented on #1202
Hi, sorry for the late reply. The biggest issue is the difference in accounts / label selectors, so I don't think there is a non disruptive upgrade path from one to another.

[2022-03-08 10:15] #1202 closed

[2022-03-08 10:18] fedepaol commented on #1182
Closing this, since https://github.com/metallb/metallb/pull/1174 is merged AND released.

[2022-03-08 10:18] #1182 closed

[2022-03-08 10:59] dcplaya opened #1251 "Feature: Support Unnumbered BGP Peers"
K8s Version: v1.23.3
MetalLB Version: v0.12.1
FRR Version: v8.1.0
Kube-Proxy Config: iptables
CNI: Flannel v0.3.1

I am trying to get unnumbered BGP peering working. Currently, MetalLB does not support this.
There was an old [bug/feature](https://github.com/metallb/metallb/issues/379) request for this, but it seems like its been closed.

FRR should support this, VyOS (which runs FRR) supports this

[2022-03-08 11:00] fedepaol commented on #1251
Thanks @dcplaya !

[2022-03-10 20:43] brokenjacobs opened #1255 "config-watcher Role/Rolebinding missing from kustomization manifests from version >=0.10"
Deployments fail using the kustomization manifests because the speaker and controller can't read the configmap in the metallb-system namespace. Here are the missing manifests:
[code]

[2022-03-10 22:05] brokenjacobs commented on #1255
Was using github refs incorrectly in my kustomization

[2022-03-10 22:05] #1255 closed

[2022-03-11 10:05] #1225 closed

[2022-03-11 12:54] #1217 closed

[2022-03-12 10:02] vorishirne opened #1256 "Metallb is no longer able to allocate IP on kind"
I am following this guide https://kind.sigs.k8s.io/docs/user/quick-start/

It uses metallb to allocate LoadBalancer's IP. But today suddeny it stopped being able to do so.

As soon as I created the loadbalancer.
Container Logs

[code]

Speaker Logs
[code]

[2022-03-12 10:06] vorishirne commented on #1256
I found images for Controller and speaker were pushed just yesterday

[2022-03-12 10:55] fedepaol opened #1257 "HEADS UP: Breaking changes in the MetalLB main branch"
We are in the process of implementing https://github.com/metallb/metallb/pull/942

The main branch is the development branch, and with merging [this PR](https://github.com/metallb/metallb/pull/1237) the configuration using the configmap was removed and the CRDs used currently in the metallb operator are the only way to configure metallb. This means that whoever is using metallb consuming main imag

[2022-03-12 10:56] fedepaol commented on #1256
@vorishirne , if you are deploying from main, you may be hitting this https://github.com/metallb/metallb/issues/1257

[2022-03-12 10:58] vorishirne commented on #1256
what should be the right image then

[2022-03-12 11:05] vorishirne commented on #1256
I wasted one whole day ;( ;-(
Finally, I used
[code]

[2022-03-12 11:05] #1256 closed

[2022-03-14 10:53] manikanth04 commented on #1247
@fedepaol raised PR https://github.com/metallb/metallb/pull/1259 , please review

[2022-03-15 08:34] schmitch opened #1261 "[cilium] metallb does not work in remote subnet"
hello, somehow I have this strange issue that metallb works on the same subnet but not on a different subnet. (but I'm not sure if thats because of cilium, because arping from a kubernetes node does not work, while `curl`-ing the service works)

currently my configuration is as follow:
- 3 bare metal linux nodes (mellanox connectx-5 network card)
- flatcar-linux 3033.2.3
- k3s  v1.23.4+k3s1
- cili

[2022-03-15 08:52] schmitch commented on #1261
I'm pretty sure this is a cilium issue and maybe just a documentation problem.

I figured out with `hubble` that I get strange package drops:
[code]

this looks like the `arp` package, thus I tried to use bpf.masquerade in cilum:
[code]
and somehow it started working

[2022-03-15 10:24] fedepaol opened #1262 "Add dependabot to the project"
Dependabot will update our go deps for us and avoid risking consuming vulnerabilities.

[2022-03-17 11:56] shygnome commented on #381
I have a similar case with 2 ethernet interfaces. Is this a confirmed solution? or any fix/workaround with this timeout issue?

Running k8s v1.21.9

[2022-03-17 21:11] SamDecrock commented on #609
This also happens to me even when the externalTrafficPolicy is set to its default value. If I install the nginx controller as a Deamonset, it's even more erratic: sometimes I connect, sometimes not.

[2022-03-18 08:11] Elettronik opened #1265 "Wrong image version for FRR manifests"
In the manifests relative to v0.12.1 (FRR release) the image used for metallb components, are tagged with main, not with version v01.12.1.

https://github.com/metallb/metallb/blob/v0.12.1/manifests/metallb-frr.yaml

[2022-03-18 08:23] fedepaol commented on #1265
Good catch, I guess we are gonna do another release soon. Sorry about that.
In the meanwhile, a workaround is either replacing the images manually or use helm.

[2022-03-20 01:19] tylerauerbeck commented on #1246
@Eagleman7 Was just checking this. After following the docs, I was able to see the chart without any issue:

[code]

[2022-03-20 08:56] #1262 closed

[2022-03-21 09:36] fedepaol commented on #609
please file a new issue with more details, like the metallb version, your configuration, the mode you are using metallb (l2 or frr) and try to do some troubleshooting as described in https://metallb.universe.tf/configuration/troubleshooting/

[2022-03-21 20:45] #1063 closed

[2022-03-22 09:16] johananl opened #1276 "GH Actions publish job broken on main"
Following https://github.com/metallb/metallb/pull/1137 it seems the CI is broken on `main` right now:

https://github.com/metallb/metallb/runs/5634442521?check_suite_focus=true#step:7:10

A Google search tells me this error can appear when the env vars for `docker login` aren't set. Looking at the repo's settings, it seems there are no secrets configured.

@fedepaol @tylerauerbeck

[2022-03-22 10:35] fedepaol opened #1278 "Image publishing with github actions"
https://github.com/metallb/metallb/pull/1137 was translating the current publishing mechanism in circleci to github actions.
However, while trying to add the secrets to make the action added there work, I realized that those would have been dumped as part of the lane run.

It probably makes sense to look for gh actions that do the publishing for us, instead of manually doing `docker login` as the

[2022-03-22 10:39] fedepaol commented on #1278
cc @tylerauerbeck , sorry for the change of mind. Please let me know if you have bandwidth / are willing to work on this (I can set the secrets), or I'll try.
https://github.com/marketplace/actions/push-to-registry and https://github.com/docker/build-push-action seem good candidates (maybe there are others, the latter seems only dockerhub oriented).

[2022-03-22 11:09] #1276 closed

[2022-03-22 15:17] tylerauerbeck commented on #1278
@fedepaol No problem. I'll see if I can get to this over the next day or so.

[2022-03-22 15:23] fedepaol commented on #1278
Thanks a lot!

[2022-03-23 22:37] amostech commented on #432
Were you guys able to figure out if MetalLB works with OVH using vRack? The idea is similar to what @yctn mentioned. With vRack the failover IPs can be ported over to any node within this vRack. Am I missing something here?

[2022-03-23 23:07] duhruh opened #1283 "Undocumented removal of config flag for speaker/controller"
It appears since https://github.com/metallb/metallb/commit/d58b0112df3174fd309bd1a850a90cdf2302adfb#diff-76095ee6d05db635f9e683b8573f1cefe9827338f87471a66afd29a8e9efe256L126 that the installation process documented at https://metallb.universe.tf/installation/ for metallb is now broken. It looks like this PR removed the config flag, and since it's still referenced in the provided metallb.yaml we ge

[2022-03-24 07:14] qingwusunny opened #1284 "When a controller's configuration reload fails, how do we know the error message, other than looking at the controller's pod logs?"
When a controller's configuration reload fails, how do we know the error message, other than looking at the controller's pod logs? Can be informed by events or status

[2022-03-24 08:38] fedepaol commented on #1284
Hi @qingwusunny , there's a config_stale_bool metric that should tell you if a config reload failed.
Also, now that we are transitioning to crds, a next step is to enhance them with a status field that is more explicit, plus some validation webhooks that would block syntactically wrong configurations.

[2022-03-24 08:38] #1284 closed

[2022-03-24 08:42] fedepaol commented on #1283
@duhruh the config flag was remove on the main branch, which happens to be the development branch. The docs will align when a formal release is finalized, and we will provide a way to migrate from the existing configmap to the new crds.

Also, you mention metallb.yaml, but https://github.com/metallb/metallb/blob/v0.12.1/manifests/metallb.yaml contains it (because that version still handles the con

[2022-03-24 08:42] #1283 closed

[2022-03-24 14:16] Adphi commented on #1243
Have you looked at [the k8s external core dns plugin](https://coredns.io/plugins/k8s_external/) ?

[2022-03-25 08:26] wiljay commented on #5
I use metallb in my environment, it is easy and funny, but encounter some issue ,IP still in the ipvsadm, when i delete svc ,i will manually delete the ip forward.

[2022-03-25 09:45] fauh45 commented on #5
Hi! I'm part of infrastructure team in my university server for a class. We need to make kubernetes in bare metal, and metallb surely is the easiest way to do load balancing with our cluster! We got no issues, with just little change in the default configuration it works out of the box!

[2022-03-26 13:22] fedepaol commented on #777
Closing this, as both frr and bfd support are available (although marked experimental)

[2022-03-26 13:22] #777 closed

[2022-03-26 13:27] fedepaol commented on #656
Closing this as it's pretty old, and we did not have any other reports. Feel free to reopen in case you are still hitting it.

[2022-03-26 13:27] #656 closed

[2022-03-29 12:44] pantxisto opened #1292 "FRR mode not restarting BGP when a node becomes unready"
- The bug itself, as detailed as you can.

This issue was first discussed on [slack thread](https://kubernetes.slack.com/archives/C8FSTGU56/p1648159283964359?thread_ts=1646918233.167649&cid=C8FSTGU56). I have a kubernetes cluster with 2 worker nodes and 1 master node. Metallb is installed from FRR yaml but with speaker image tag changed from "main" to "v0.12.1" since with "main" tag containers whe

[2022-03-30 04:48] chaoshwu commented on #1231
Hi Experts ,

i also meet this issue.

Version

MetalLB: 0.12.0+
Kubernetes: 1.15.1
network addon: calico
kube-proxy: ipvs
mode: layer2

Details

{"caller":"level.go:63","event":"clearAssignment","level":"info","msg":"No ClusterIPs","reason":"noClusterIPs","service":"default/nginx","ts":"2022-03-30T04:39:27.831539648Z"}

how to fix this?

Thanks.

[2022-03-30 05:10] chaoshwu commented on #1231
Hi,

after using metallb 0.11.0, issue fixed,  thanks.

[2022-03-30 13:26] fedepaol opened #1296 "Upgrade ginkgo to 2.x"
From our CI:

You're using deprecated Ginkgo functionality:
=============================================
Ginkgo 2.0 is under active development and will introduce several new features, improvements, and a small handful of breaking changes.
A release candidate for 2.0 is now available and 2.0 should GA in Fall 2021.  Please give the RC a try and send us feedback!
  - To learn more, view the migrat

[2022-03-30 19:05] ivansharamok opened #1298 "Leverage Calico only BGP speaker with MetalLB"
This is a suggestion for another solution to [issues with Calico](https://metallb.universe.tf/configuration/calico/) article.

Existing suggested solutions in the article outline ways to configure both Calico BGP and MetalLB BGP speakers to peer with network infrastructure. There is another way to configure service LoadBalancer route distribution using just the Calico BGP speaker. This simplifies

[2022-03-31 06:41] qingwusunny opened #1299 "speaker will announce service LB IP from every nic of node, can it choose only one nic to broadcast arp?"
speaker will announce service LB IP from every nic of node, can it choose only one nic to broadcast arp?

[2022-03-31 07:13] fedepaol commented on #1299
It's currently not possible. Closing this as duplicate of https://github.com/metallb/metallb/issues/277

[2022-03-31 07:13] #1299 closed

[2022-03-31 07:14] fedepaol commented on #1298
Hi @ivansharamok , with the new configuration layout described in https://github.com/metallb/metallb/blob/main/design/pool-configuration.md , it will be possible to define only the ip assignement part without the need of removing the speakers.

So there will no need to remove the speakers (apart from resource consumption).

Also, there's an open pr to extend the docs about calico (https://github.c

[2022-03-31 09:51] qingwusunny commented on #277
Any plan about resolving this issue?

Maybe I can have a proposal in future week.

[2022-03-31 11:15] fedepaol commented on #277
Just to set the right expectations, I don't see this happening in short term.
We need somebody to work on a design proposal first, and to do the implementation later, and there's a lot of effort in landing https://github.com/metallb/metallb/blob/main/design/pool-configuration.md

[2022-03-31 11:39] qingwusunny commented on #277
Alright, thanks for the information.
Can I provide the feature that specifies the interface list to announcers based on configmap first. And I can migrate it to CRD later.

[2022-03-31 11:42] fedepaol commented on #277
The configmap has been removed from the current development branch, so this is not an option. And also, we need to discuss a proper design first, so I suggest filing a design proposal if you are interested, considering the fact that I have limited bandwith to review it for the time being.

[2022-03-31 12:34] qingwusunny commented on #277
OK

[2022-04-02 16:15] giatule commented on #888
I Solved it by manually creating the correct secret key name `memberlist` instead of `metallb-memberlist` as follow:
kubectl create secret generic -n metallb-system memberlist --from-literal=secretkey="$(openssl rand -base64 128)"

[2022-04-04 07:57] fedepaol opened #1303 "Remove the dependency from cert-manager when using the webhooks"
We are moving the logic from the operator to metallb, where we were declaring cert-manager as a pre-requisite to use the operator with webhooks.
As pointed out by @gclawes , we should a look at how the prometheus operator deploys a job to patch the webhooks [by deploying a standalone component](https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack/templates/pro

[2022-04-04 08:00] fedepaol opened #1304 "Update the documentation with CRDs"
We must upgrade the docs to reflect the new way of configuring metallb, eventual impacts in upgrading, how to migrate.

[2022-04-04 08:01] fedepaol opened #1305 "Configmap to CRDs converter"
As agreed in the design proposal, we must provide a tool that convert the current configmap to the corresponding crds.
Ideally, it can be a cli tool that parses the manifest and produces another set of manifests.

[2022-04-04 08:04] fedepaol opened #1306 "Rename IPPool to IPAddressPool"
We initially wanted to rename AddressPool to IPPool, to be able to provide backward compatibility.
However, that would be an issue for users consuming MetalLB with Calico, so we agreed to rename IPPool to IPAddressPool.

[2022-04-05 09:54] fedepaol opened #1307 "tasks.py - deploy all the needed dependencies"
Now that we have extra deps, such as controller-gen and kustomize, we should be able to deploy them automatically from tasks.py

[2022-04-05 11:54] fedepaol opened #1308 "Update the inv-dev env manifests with crds yaml"
We need to update the pool definition / manifests for running a preconfigured dev-env with the crds.

[2022-04-06 20:42] deba10106 commented on #486
could anyone guide me on this issue? We have a requirement to urgently solve this. I'm kind of stuck here.

[2022-04-07 02:29] BloodyIron commented on #196
@fedepaol maybe time to update this doc page? : https://metallb.universe.tf/faq/

[2022-04-07 02:34] BloodyIron opened #1309 "X-Forwarded-For IP, equivalent, when using kube-proxy?"
Hey so nginx and other httpd's have the ability to forward the source IP when proxying connections (reverse-proxy, or otherwise). And I believe in some configurations MetalLB strips the source IP and replaces it with the kube-proxy IP (or something along those lines, I'm still learning).

Any chance we can get some sort of equivalent going on for X-Forwarded-For to pass along original source IPs?

[2022-04-07 07:23] fedepaol commented on #196
@BloodyIron the release is not out yet, when metallb with crds will released we will update the docs

[2022-04-07 07:25] fedepaol commented on #1309
@BloodyIron that's not metallb.
It's the SDN of your choice, when you use external traffic policy = cluster and the traffic gets redirected to another node, there's nothing metallb can do in that regard. MetalLB "only" makes it possible for the traffic to reach the node, all the rest is done by the primary CNI.

[2022-04-07 07:25] #1309 closed

[2022-04-07 18:19] BloodyIron commented on #196
Oh I thought I read that this was merged into master a while ago, and I came across the doc page pointing here... but sounds like you're on top of it, just wanted to help :P

[2022-04-07 18:20] BloodyIron commented on #1309
Okay well the reason I thought that it was a MetalLB aspect was because the MetalLB documentation said this is the behaviour. Perhaps that aspect of the documentation should be adjusted to be more accurate and clear.

So, if I am using Calico, is it possible to do x-forwarded-for, for IP addresses, in "traffic policy = cluster" mode?

[2022-04-07 20:04] fedepaol commented on #196
Sure, and thanks for that!

[2022-04-07 20:10] fedepaol commented on #1309
Yep, metallb describes the behaviour implemented by kube-proxy (I think), and it's not wrong about that.
The thing is, metallb's responsability is to drive the traffic to the node, the last mile of the path is handled by the cni of your choice, including the snat when the destination pod is on another node. I am not a calico expert (actually, I am expert of nothing :P ), but I'd try to ask them th

[2022-04-08 06:34] ckyoog opened #1311 "Is it intended to always retry in servicereload_controller.go?"
Hello,

I've been reading the code. Looks like a new controller framework and a bunch of new CRDs were added in lately. I am so excited, I can't wait for a new release. And also, some code confused me, like the following.

It doesn't look right, since the `retry` is always `true`. It will always retry even though the callback `Handler` returns <code>SyncStateError**NoRetry**</code>. If always `ret

[2022-04-08 08:08] fedepaol commented on #1311
Good catch, thanks a lot! I'll file a PR for that.
If you have other parts of the codebase that do not look clear, please let us know. We already had a discussion about the controller glue not being covered by tests (and the fact that e2e is not enough in this case, because it may work but also do unnecessary loops as in this case), and we'll cover this part too.

[2022-04-08 15:01] fedepaol opened #1315 "Native mode: can't have multiple bgp advertisements on the same prefix"
Here https://github.com/metallb/metallb/blob/008687a350bed11e39f8a123c6bb0c038d2b739f/internal/bgp/native/native.go#L469 we squash newAdvs by prefix, and `s.new` becomes the map that gets iterated to announce.

This means that if we have multiple advertisements for the same prefix, only one is applied.

[2022-04-11 08:55] #1311 closed

[2022-04-11 13:59] fedepaol opened #1320 "Use ginkgo instead of go test in CI"
Ginkgo fails if some focused test is left in the codebase (FIt, FEntry, etc), avoiding the risk of committing code with focused tests in code that may let us think the CI is good while it's running a subset of tests.

[2022-04-12 17:55] dimm0 commented on #1283
The manifest for frr mode uses the main tag, which crashloops for this reason. It still has the config option.

[2022-04-12 17:56] fedepaol commented on #1283
@dimm0 we have https://github.com/metallb/metallb/issues/1265 to track that

[2022-04-12 18:21] dimm0 commented on #1265
Use helm from where? I'm trying to deploy FRR with IPV6 in some variant, and recent helm is still deploying 0.12.1 images with no IPV6 support...

[2022-04-12 18:25] fedepaol commented on #1265
@dimm0 0.12.1 already has frr support and ipv6 (I hope)

[2022-04-12 18:26] fedepaol commented on #1265
And this https://github.com/metallb/metallb/blob/v0.12.1/charts/metallb/values.yaml#L233 is the value to enable frr

[2022-04-13 17:22] bbockelm commented on #253
@virgil9306 - we tripped over this locally as well.  Here's the most succinct description of the problem I can come up with:

Reported workarounds:
- Set `bridge-nf-call-iptables` to zero (as reported in https://github.com/metallb/metallb/issues/535; haven't verified myself).
- Set the bridge device to promiscuous mode (verified locally).

I believe this was recently re-triggered by https://github

[2022-04-16 06:09] Expro commented on #1243
[k8s gateway](https://github.com/ori-edge/k8s_gateway) is superior.

[2022-04-18 15:27] liornoy opened #1324 "Improve the logger output"
In the speaker and controller, we use a logger (from go-kit/kit/log) to log events for debugging
and solving issues.

2 issues about the logger:
1. Currently, the logger timestamp includes the nanoseconds and it's making it harder to read
and distinguish between the second's digits.
2. The logger always marks the caller as "level.go:63" where we have the log level logic,
and this hides the real lo

[2022-04-18 15:36] liornoy opened #1325 "Delete previous images in dev-env script"
When developing and testing code for MetalLB, the dev-env is a tool
to create a development environment based on Kind, loaded with the new images,
which are built from the source code.
Developing, sometimes, requires running the dev-env script number of times,
resulting in leftover docker images that the user needs to delete manually.
It could help to have the dev-env script delete the old image b

[2022-04-19 06:53] fedepaol commented on #1243
If the integration with the two aforementioned projects is good, I'd convert this to documenting the usage somehow.

[2022-04-19 08:45] liornoy opened #1326 "Unit tests flake: internal/bgp/frr TestSingleAdvertisementChange"
Flake appeared [here](https://github.com/metallb/metallb/actions/runs/2188285176):
[code]

[2022-04-19 11:41] lazywhite commented on #1231
I'm using k8s v1.16.15, same problem, solved  by this way too

[2022-04-19 14:19] liornoy opened #1330 "Bug: controller assigns IP without existing CRs"
To reproduce:
create an ipaddresspool.
delete the ipaddresspool.
create a service.
on the deletion, the pool_controller will invoke the handler: SetPools,
as there are no more pools, it will hit the if statement: if len(pools)==0, and
exit. so it doesn't reach the line c.pools=pools, meaning that
if we create an LB service next, it will allocate, even without any existing CRs.

This behavior exist

[2022-04-20 11:18] #1330 closed

[2022-04-20 16:36] #1247 closed

[2022-04-20 16:42] fedepaol commented on #511
Closed by https://github.com/metallb/metallb/pull/1302

[2022-04-20 16:42] #511 closed

[2022-04-20 16:43] fedepaol commented on #630
Closing this by https://github.com/metallb/metallb/pull/1302

[2022-04-20 16:43] #630 closed

[2022-04-20 16:44] fedepaol commented on #521
Closed by https://github.com/metallb/metallb/pull/1171

[2022-04-20 16:44] #521 closed

[2022-04-21 10:29] #980 closed

[2022-04-21 12:18] fedepaol commented on #1200
@manikanth04 re-assigned this to me as this is becoming urgent and we need this.

[2022-04-21 12:21] fedepaol commented on #1213
Closing this as there was no feedback on the questions, feel free to reopen if you want to provide the missing information.

[2022-04-21 12:24] fedepaol commented on #1209
Closing this, the flake is not happening anymore

[2022-04-21 12:24] #1209 closed

[2022-04-21 12:24] fedepaol commented on #1197
Closing this, we are not seeing this flake anymore

[2022-04-21 12:24] #1197 closed

[2022-04-21 12:24] fedepaol commented on #1195
Closing this, we are not seeing the flake anymore

[2022-04-21 12:24] #1195 closed

[2022-04-21 12:24] fedepaol commented on #1194
Closing this, we are not seeing the flake anymore

[2022-04-21 12:24] #1194 closed

[2022-04-21 12:26] fedepaol commented on #1029
Sorry for the late feedback, this does not look like a metallb issue as the high load is happening on a cilium component.
Also, native mode does not even support ipv6.

[2022-04-21 12:26] #1029 closed

[2022-04-21 12:26] fedepaol commented on #1306
Fixed by https://github.com/metallb/metallb/pull/1319

[2022-04-21 12:26] #1306 closed

[2022-04-21 12:28] fedepaol commented on #1298
Closing this, feel free to reopen if I am missing something

[2022-04-21 12:28] #1298 closed

[2022-04-21 12:28] fedepaol commented on #1261
Closing this as it doesn't seem a metallb issue.

[2022-04-21 12:28] #1261 closed

[2022-04-21 12:29] fedepaol commented on #1199
Closing this as it doesn't seem a metallb issue

[2022-04-21 12:29] #1199 closed

[2022-04-21 12:31] fedepaol commented on #986
Closing this, the doc was updated (will go out with hte next release)

[2022-04-21 12:31] #986 closed

[2022-04-22 20:39] BhasherBEL opened #1335 "Allow preferences for node announcement"
I'm running MetalLB on a small k3s cluster with one master and two workers. I'm trying to make some critics {critical?} HA pods. They are running on every node for redundancy and use a load-balancing service to send traffic to the pods.

My problem is that announcement is always done by the master, which that makes the service not HA.
If a worker become unavailable, everything continues to works w

[2022-04-23 19:07] fedepaol commented on #1335
Hi @BhasherBEL , among other things (such as being able to configure metallb via CRDs), we will ship a node selector for announcements. You can check the feature here https://github.com/metallb/metallb/blob/main/design/pool-configuration.md , and probably the main repository is starting to be stable enough to be usable.

[2022-04-23 19:07] #1335 closed

[2022-04-24 04:02] jjjan opened #1336 "Access to pod service from public ip address"
Hello, recently i run Kind, Cilium, MetalLB without kube-proxy on my machine that have public ip address like 89.x.x.x.
my cluster network have ip address of 10.x.x.x and for configInline:
  address-pools:
  - name: default
    protocol: layer2       # use layer2 protocol
    addresses:
    - 172.18.x.x-172.18.x.x ====> this is my docker ip address renge that work like charm and my external ip set

[2022-04-24 06:57] BhasherBEL commented on #1335
Thank you a lot for your answer !

Is there any plan to implement NodeAffinity for L2Advertisement/BGPAdvertisement in addition of NodeSelector ?

[2022-04-24 12:30] fedepaol commented on #1336
Did you check https://metallb.org/configuration/troubleshooting/ ?

[2022-04-24 12:31] fedepaol commented on #1335
Not really. What would be the use case?

[2022-04-25 09:47] BhasherBEL commented on #1335
Back to my small cluster with one master and three workers, I would set a `NodeAffinity` on the workers (to be able to continue working if the master fail) and if any of the workers are available, the master do the announcement. With `NodeSelector`, if no workers are available, the announcement will just not be done.

[2022-04-25 22:49] johanfleury opened #1339 "metallb controller fails to allocate IP address to dual stack services if only IPv4 is available"
## Description

Hi

With metallb versions 0.12.0 and higher, the controller fails to allocate IP address to a dual stack service if only IPv4 addresses is available, **breaking backward compatibility**.

The controller prints the following log messages:

[code]

Here is metallb configuration:

[code]

And here is the service:

[code]

Because the service is dual stack, but metallb has no IPv6 conf

[2022-04-26 07:30] fedepaol commented on #1339
I agree, would make the logs more explicit about the failure, but I think the behaviour is the right one, preventing from mis configurations and making users think that the service is dual stack while it's not.

[2022-04-26 08:35] sebihiy opened #1342 "metric does not updated when service is deleted"
**Problem description**
metallb still  shows metric when  services type LoadBlancer are deleted ( no assigned External IPs).

**Installation steps**
[code]
**Steps to reproduce**
Configmap (metallb.yaml) and service manifests (service1.yaml and service2.yaml) in bleow :

Configmap :
[code]

The service1.yaml and service2.yaml typically have the same manifeste , only the name of the app that change

[2022-04-26 08:41] fedepaol commented on #1342
Thanks @sebihiy , we'll have a look!

[2022-04-26 09:53] fedepaol commented on #1278
Hi @tylerauerbeck just checking back to this, mostly because circle lint lane is giving us headaches and I'd prefer to put energy in this instead.
Thanks!

[2022-04-26 13:11] johanfleury commented on #1339
I disagree, I feel like a good log message and event/status would be better than just failing and breaking connectivity to the service.

I added a mention in the issue that this breaks backward compatibility.

[2022-04-26 13:47] fedepaol commented on #1339
I (now) understand it. The thing is, before we did not support dual stack and we were treating dual stack services as single stack ones. We then added support, putting the constraint of the need of both ips to come from the same addresspool.

I need to think how big is the impact to remove this constraint, especially considering all the extra configuration degrees we are putting into the advertise

[2022-04-27 08:47] fedepaol opened #1344 "Document available metrics"
We should document the metrics on the official doc

[2022-04-27 20:00] gclawes opened #1346 "Use helm crds/ directory to manage CRDS"
Currently CRDs are templated: https://github.com/metallb/metallb/blob/main/charts/metallb/templates/crds.yaml

The [primary method](https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#method-1-let-helm-do-it-for-you) recommended in the helm documentation formally recommends using the `crds/` directory to managed CRDs, which get applied at the beginning of the `helm install` life

[2022-04-29 01:02] abessifi commented on #5
Nice project !
Running it with OpenShift.

[2022-04-29 07:21] fedepaol commented on #5
@magnezone150 I guess you are talking about L2. I can add an issue to document how the election works.

[2022-04-29 07:22] fedepaol opened #1348 "Document how L2 election works for each VIP"
This is to add a small section in the docs to record how we elect the leader node for each ip.

[2022-04-29 12:14] magnezone150 commented on #5
Yes Exactly, Thank you.
Appreciate it, I'll describe my issue there.

[2022-04-29 23:15] anavarro10 commented on #1348
Yes, Please.
I have a Canary Environment and two Production Environments using Platform9's Managed Kubernetes and we were performing upgrades to v1.21 from v.1.20.5

Pre-upgrade version of Metallb v0.9.6
Three Master Nodes and Two Worker Nodes with v1.20.5 K8s
The three Masters are VMs and the Two Workers are beefy BareMetal Servers.
We also run jcmoraisjr/haproxy-ingress v0.10 for Layer 7.
We had

[2022-05-02 08:00] smanikkara commented on #5
Using metallbon Openshift 4.9 4.10 clusters (on VMware)
In version 4.6 load balancer is not getting ip from pool (pending state)

[2022-05-02 09:48] #1200 closed

[2022-05-03 10:59] gfppower commented on #1151
我也遇到这个问题，大佬怎么解决的？

[2022-05-03 21:45] xhejtman opened #1354 "metallb + frr stops sending bgp updates after node reboot"
Hello,

MetalLB version: 0.12.1
Kubernetes: 1.21.11 (rke2 branding)
Calico. Dual-stack
Kube-proxy with iptables

I tried to use MetalLB with FRR enabled to support dualstack which seems to be not possible without FRR. It works, but if I reboot some (1-2) nodes in 4 nodes cluster, usually 2 nodes continue sending BGP keep alive messages, but other 2 nodes stop to send anything to the configured pee

[2022-05-04 09:47] fedepaol commented on #1354
Looks like a duplicate of https://github.com/metallb/metallb/issues/1292, closing this (and we'll have a look at it)

[2022-05-04 18:28] #1324 closed

[2022-05-06 04:55] Slyke opened #1357 "Services randomly being assigned Ingress Controller's IP address"
I'm not sure if this is a bug with Metal-LB, ingress-nginx or my setup. I've posted it on the ingress-nginx github here: https://github.com/kubernetes/ingress-nginx/issues/8539 but I'll post the details that are relevant to Metal-LB here.

Cluster has been running fine for the last 6~ months. I have a cronjob that restarts my nodes at the start of the month and my nginx proxies and ingress control

[2022-05-06 07:41] fedepaol commented on #1357
So, if I get it right,
[code]
is an issue because this is supposed to be translated to the service's cluster ip and not the lb ip, which makes sense (I mean, that being the issue) but metallb is not interacting in any way with the dns.

[2022-05-06 07:49] qingwusunny opened #1358 "Feature proposal: Announcing IP from specified interfaces for layer2"
## Summary

Following [this issue](https://github.com/metallb/metallb/issues/277) to enhanced MetalLB. For layer2, create announcers bind to interface list, and only announce IP from these interfaces.

## Motivation

The system divides network planes based on functions. The flow of LB Service is belongs to service network rather than management Network. We need to separate the above two flows by d

[2022-05-06 08:44] fedepaol commented on #1358
Hi @qingwusunny , the proposal makes sense (and I _think_ with the node selector added to the L2 Advertisement, we'd get for free the complex scenario described in https://github.com/metallb/metallb/issues/277#issuecomment-559599874 ), but I'd try to state explicitly that we want to cover it.

Would you mind filing a PR with a proposal under https://github.com/metallb/metallb/tree/main/design so w

[2022-05-06 09:51] qingwusunny commented on #1358
ok, I will submit a PR. Do You want me to modify the file that design/pool-configuration.md or add a new file?

[2022-05-06 10:06] fedepaol commented on #1358
I'd do it in a new file, as the pool-configuration is already big enough.
You can reference what's described in that / assume L2Advertisement is done (because it really is :-) ).
And thanks!

[2022-05-08 14:36] xhejtman commented on #1292
Is there any progress?

[2022-05-09 07:32] fedepaol commented on #1292
Hi @xhejtman , we are giving this priority, however we are struggling in reproducing it.
If this is happening often on your cluster, would you mind setting the log level to debug and attaching the logs of the frr container and of the speaker here?

[2022-05-09 08:44] xhejtman commented on #1292
[metallb.zip](https://github.com/metallb/metallb/files/8649926/metallb.zip)
debug logs.

I rebooted node 4. nginx has been restarted on node 1. (loadbalancer ip 10.16.48.119). I forced nginx to be moved back to node 4.

nodes 1, 3, 4 stopped sending bgp updates to peer, only node 2 continued to send updates.

I double checked this with the following:
1. node reboot itself is not a problem.
2. if n

[2022-05-09 08:46] fedepaol commented on #1292
Thanks! Just one question: what you mean by "force service move" ? Normally the lb service is advertised from all the nodes.

[2022-05-09 08:47] xhejtman commented on #1292
`kubectl cordon node 1`
`kubectl delete pod -n kube-system rke2-ingress-nginx-controller-6b45cb6ddc-cdw26`. this forces start on another node than 1.

[2022-05-09 08:48] xhejtman commented on #1292
oh, and maybe related thing. ingress loadbalancer service uses `externaltrafficpolicy: Local`

[2022-05-09 08:48] fedepaol commented on #1292
I was about to ask that :-)

[2022-05-09 08:50] xhejtman commented on #1292
yes, that is the way I noticed that it stopped working, as the service is actually not announced on all nodes ;)

[2022-05-09 08:51] fedepaol commented on #1292
would you mind jumping on the metallb slack on the kubernetes workspace so we don't pollute the issue?

[2022-05-09 10:50] fedepaol commented on #1354
Reopening, as it seems to be a different thing.
Collecting all the info here

[2022-05-09 10:51] fedepaol commented on #1354
The logs https://github.com/metallb/metallb/files/8649926/metallb.zip

[2022-05-09 10:51] fedepaol commented on #1354
Show running-config:
[code]

[2022-05-09 15:59] sabinaaledort commented on #1303
I created two patch jobs to create a secret and patch the webhook using https://github.com/jet/kube-webhook-certgen/:
https://github.com/metallb/metallb/pull/1360

The only thing not supported in this project is patching the CRD webhook caBundle which we set [here](https://github.com/metallb/metallb/blob/7d8f69e37ca149e96eceed1dbd8794abb8f6ee24/charts/metallb/templates/crds.yaml#L29) for conversio

[2022-05-10 10:08] fedepaol commented on #1303
I don't see many other options.
- we say that as of today backward compatibility with the old operator works only if cert-manager is deployed
- in the meanwhile we try to have the feature in the webhook-cert-gen

A note about webhook-cert-gen:
Although it's used (at least by) prometheus operator, it looks like:
- the original repo is not supported anymore (see https://github.com/jet/kube-webhook-c

[2022-05-10 10:34] fedepaol commented on #1342
Not yet. @pperiyasamy do you have some bandwith? Otherwise I'll look into this

[2022-05-10 20:33] dansomething commented on #531
I'm having a similar problem to this where multiple interfaces are active, but only one has an address assigned yet two mac addresses are being reported by ARP. Has anybody else seen this? What's the expected behavior for this scenario?

[2022-05-10 20:38] fedepaol commented on #531
Hi @dansomething , we are going to support this scenario in th next release. See https://github.com/metallb/metallb/pull/1347

[2022-05-10 20:42] dansomething commented on #531
@fedepaol I'll take a look. Thanks for the quick response!

[2022-05-11 14:10] gclawes commented on #1303
If we can't get the CRD webhook feature added to the webhook-cert-gen, then maybe it's better just to use cert-manager for everything and use a consistent method for webhook management.  I think this would mean that cert-manager effectively becomes a mandatory dependency, but I see that as better than using 2 different methods for effectively the same job.  This doesn't appear to be an issue in in

[2022-05-11 14:53] fedepaol commented on #1303
How about having it as an optional dependency, and provide a toggle to enable / disable the webhooks (which is pretty much what main is today)?
Users would have the option to give up on validation of CRs when deploying without webhooks (which is what we are offering today with the operator). Not sure having it as part of helm (and having the operator deplyoing it) adds much value than providing in

[2022-05-11 15:10] fedepaol commented on #1303
And it seems to support conversion webhooks: https://github.com/open-policy-agent/cert-controller/blob/master/pkg/rotator/rotator.go#L293

[2022-05-11 17:19] fedepaol commented on #1303
Oh, I misunderstood your comment. OPA Gatekeeper is still using it (https://github.com/open-policy-agent/gatekeeper/blob/b6ea208bf31a8acfbdd60b7909af1a6b396c30f1/main.go#L188), reading that comment the support was originally embedded in controller-runtime but then removed.

I think it's worth exploring.

[2022-05-12 12:21] fedepaol commented on #1342
Trying to start the discussion here. I am not a prometheus expert, but those metrics are of type counter, which by definition only increase unless we have a restart.
See https://prometheus.io/docs/concepts/metric_types/

So, I think the current behaviour is correct. We want to measure in total those values for a given ip. If the ip is assigned back, the counters will continue increasing.

[2022-05-12 12:46] oribon commented on #1342
I think it doesn't make sense having these metrics after the service is gone, and since from what you linked (not a prometheus expert as well) there isn't a more reasonable type to use I think it's fair to delete them. If it matters we do the same for bgp sessions, deleting their `updatesSent` (which is a counter) once the session is gone iiuc.

[2022-05-12 12:52] fedepaol commented on #1342
The thing is, they are tied to an IP and not to a service .
So for example, if the IP is recycled, we are changing the semantics from what it was before (total # of requests per IP) vs what it's now if we reset (the focus is the service). Also, what happens if the service is recreated with the same IP? Is it fair to restart from 0?
What I linked explicitly states that the metrics either grow (beca

[2022-05-12 12:57] oribon commented on #1342
I see, I was confused by the `metallb_speaker_announced` that shouldn't have been there? I thought we have an e2e to cover that.
For the counters I think what you're saying is right and we shouldn't change it.

[2022-05-12 13:49] pperiyasamy commented on #1342
yes, I'm too confused about having  `metallb_speaker_announced` metric which either set with 1 or this metric get deleted, should this be a generic counter metric which should count all announced services from a node ?
I agree with L2 metric which just based on IP address which should not get deleted when service is gone, but proposed fix is done based the metric cleanup done for BGP peer [code](h

[2022-05-13 09:38] pperiyasamy commented on #1342
ok @sebihiy , updated #1363 to fix only speaker_announced metric now.

[2022-05-13 12:57] fedepaol commented on #1357
Closing this as I don't think it's a metallb issue. Feel free to reopen if you find more information.

[2022-05-13 12:57] #1357 closed

[2022-05-13 12:58] fedepaol commented on #1358
Closing the issue as the discussion is being carried over https://github.com/metallb/metallb/pull/1359

[2022-05-13 12:58] #1358 closed

[2022-05-13 13:39] fedepaol commented on #1342
Ok now I got it, looking at the pr I thought it was related to all the metrics.
This particular one is a gauge, which makes sense and I agree with the fix

[2022-05-14 21:04] jtcarnes opened #1368 "Helm Chart Runtime class for controller and documentation for Runtimeclass for speaker and controller"
Two small issues:

1. Runtimeclass is an accepted parameter for the speaker but it isn't documented in the readme.
1. the controller has no way to set runtime class.

[2022-05-16 11:55] fedepaol opened #1373 "Automate Helm readme generation"
We should generate the helm readme automatically, and we should enforce it via CI.

[2022-05-16 12:46] fedepaol commented on #1246
Cloising this, feel free to reopen in case something is missing

[2022-05-16 12:46] #1246 closed

[2022-05-17 06:45] liornoy opened #1377 "Typo on addresspool deprecationWarning message"
"**metallbio.io** v1alpha1 AddressPool is deprecated"

[2022-05-17 07:36] fedepaol commented on #1377
Let me fix it in the outsanding doc PR, thanks!

[2022-05-17 15:08] #1308 closed

[2022-05-18 09:56] #1377 closed

[2022-05-19 07:30] fedepaol opened #1380 "Helm: charts from main branch pull images with tag 0.0.0"
We should allow users to consume charts from main, even for testing purpouses.

[2022-05-19 09:05] duylong opened #1382 "BGP remote-as internal/external"
Hi,

I wanted to personalize my remote-as to internal, but impossible to do so via the my-asn option. I have an error that requires that the value must absolutely be an integer:
[code]
The option exists in the frr configuration:

http://docs.frrouting.org/en/latest/bgp.html#clicmd-neighbor-PEER-remote-as-internal
http://docs.frrouting.org/en/latest/bgp.html#clicmd-neighbor-PEER-remote-as-external

[2022-05-19 13:44] sathieu commented on #1257
What is the ETA of this new version?

[2022-05-19 14:07] fedepaol commented on #1257
@sathieu we are finishing the last details, doc is already up.
I'd say a couple of weeks at most

[2022-05-19 14:07] fedepaol commented on #1257
Also, if you want to have a look, the main branch is quite stable now.

[2022-05-22 18:29] Skaronator commented on #168
FYI, just found this small tool that provides a HA control plane LoadBalancer: https://github.com/kube-vip/kube-vip

I am not sure how it exactly works. Just found that tool and this issue here via google.

[2022-05-24 02:29] jtcarnes commented on #1373
Quick question: there are two ci systems (circle and GitHub). Is there a preferred solution?

[2022-05-24 13:13] oribon opened #1386 "Debug tool"
When there's a new issue we usually ask for different logs to understand the cause: controller/speaker pod logs, custom resources (replaces the configmap), and when FRR is involved we also need its configuration from each speaker pod: `show running-config`, `show bgp neighbor` ...
The idea is to have a cli tool that gathers everything we need for debugging into some zip a user can attach with his

[2022-05-24 15:47] fedepaol commented on #1336
Closing this, feel free to reopen in case you can add more information.

[2022-05-24 15:49] #1026 closed

[2022-05-24 15:52] fedepaol commented on #1382
Hi @duylong , currently is not possible to set such values to asns, you need to explicitly set the asn.

[2022-05-24 15:54] fedepaol commented on #1326
Closing this as I did not see it happen again. Will reopen if frequency increases.

[2022-05-24 15:54] #1326 closed

[2022-05-24 23:58] gclawes commented on #1373
@fedepaol should we resolve this before merging the 2 chart changes #1340  #1369 ?

[2022-05-25 07:26] fedepaol commented on #1373
@gclawes I agree.

@jtcarnes we are migrating away from circleci, the last bits are the image publication steps that are being addressed in https://github.com/metallb/metallb/pull/1374

@jtcarnes what I'd suggest to do is to follow the same approach that we take with other code generation steps, where we provide an action to update and we enforce the generated to be in sync in CI.

Here is the CI

[2022-05-25 07:27] fedepaol commented on #1373
@jtcarnes assigned the issue to you, let us know if you have any issues. You can also find us in the #metallb-dev channel of the kubernetes slack.
Thanks!

[2022-05-25 11:57] jtcarnes commented on #1373
Absolutely. Question for you, do you want GH to be the one that updates the docs, or to fail if the docs are not what it expects? (generation vs a check).

[2022-05-25 12:09] fedepaol commented on #1373
I'd say check, as we do with the others so we have more control on what gets committed. And thanks again!

[2022-05-25 13:18] duylong opened #1388 "BGP metric"
Hi,

Can we have the possibility to put a metric value with FRR? This value is always 0 on routers and I would like the route managed by metallb are not always priority.

So far it doesn't work with this example:
[code]
[code]

Version of MetalLB : 0.0.12.1

[2022-05-25 14:03] jtcarnes opened #1391 "Suggestion: Docker images based on Distroless Static"
The current images are based on Alpine. While this is fine for being small, it is larger and has a larger attack surface than needed.

Metallb is static go binaries. The controller at least does not need any shell. The attack surface and image size can be decreased by moving to something that does not have an underlying OS, such as Distroless from Google. In fact, distroless has an image specifica

[2022-05-25 14:07] jtcarnes opened #1392 "Suggestion: OCI predefined image labels"
The Open Container Initiative (OCI) has a number of predefined image labels that are commonly used in automation to better understand the published image, outlined [here](https://github.com/opencontainers/image-spec/blob/main/annotations.md).

Adding these annotations to the images before they're published helps users (especially those who use automation) better consume these images. Its a small c

[2022-05-25 14:10] duylong commented on #1388
This is useful for example during migrations when you want to run 2 systems in parallel, one system still in VMs and the other in containers, the time to validate the correct operation of the services. It also allows you to create backup environments by playing on the metrics of the routes.

It is obvious that if we have only one cluster to manage, the interest is null.

[2022-05-25 17:23] jtcarnes commented on #1391
I see that this was visited in #676 . It's been 2 years since then and Ephemeral containers are beta in Kubernetes 1.23. Is this something that we still want to hold on?

[2022-05-26 06:19] dblviking opened #1395 "Metallb not fowarding traffic"
metallb v0.9.5
Client Version: 4.7.13
Server Version: 4.8.29
Kubernetes Version: v1.21.6+bb8d50a

- Whether you've configured kube-proxy for iptables or ipvs mode  - How do I confirm?

I've seen this behaviour on >4.7. Normally I have to install 4.7.X to get this working again. I'm now on 4.8.29 but I need to have this functional. I've tried metallb v10 and v11. Same behaviour.

I have a namespace

[2022-05-26 08:27] oribon commented on #1395
Hi, can you please share your full speakers logs and the service's (10.10.10.160) spec?
Have you tried using arping/tcpdump as described in https://metallb.universe.tf/configuration/troubleshooting/?

[2022-05-26 08:59] JaminCui opened #1397 "when i install metallb and distribution the ip ，i can not contact the node whit ssh"
Kubernetes version： 1.21.5
metallb：0.9.6/0.12.1 （both tried）
network :Calico
kube-proxy : iptables
### my kubernetes cluster :
  * master1:192.168.1.1
  * master2:192.168.1.2
  * work1: 192.168.1.3
  * work2: 192.168.1.4
  * work3: 192.168.1.5
### metallb config map：
[code]
after install and config metallb，i deploy a service and it worked, using "kubectl get svc" can see "EXTERNAL-IP" is "192.168.

[2022-05-26 09:09] JaminCui commented on #1397
ssh root@192.168.1.3

kex_exchange_identification: read: Connection reset by peer

[2022-05-26 09:10] fedepaol commented on #1397
You should not use node ips in the pool. That's not how l2 mode works.

What can happen is that another node replies to the arp request and the traffic get directed to that one.
Try to use something like 1.6-1.10
Also, read how l2 works in the official docs: https://metallb.universe.tf/concepts/layer2/

[2022-05-26 09:10] #1397 closed

[2022-05-26 09:11] fedepaol commented on #1397
Closed this, feel free to reopen if it doesn't work after the suggestion.

[2022-05-26 09:15] fedepaol commented on #1395
Also, try to change the loglevel parameter to debug before sending the logs.

[2022-05-26 09:34] fedepaol commented on #1388
Would the localPreference parameter help in that regard? Or are you dealing with ebgp?

[2022-05-26 13:46] sabinaaledort opened #1399 "Config manifests: `creationTimestamp: null`"
The webhooks and CRDs manifests are generated with `creationTimestamp: null`.
https://github.com/metallb/metallb/blob/fc3a0f40571c85a7faeaaa332af46f9b2367f0de/config/crd/bases/metallb.io_ipaddresspools.yaml#L8
https://github.com/metallb/metallb/blob/fc3a0f40571c85a7faeaaa332af46f9b2367f0de/config/webhook/manifests.yaml#L6

[2022-05-26 14:28] dblviking commented on #1395
sorry 4.7 is the oc binary. I have copied over the 4.8.29 binary since.

This is interesting though. On a 4.7.42 cluster with metallb working, I'm getting a single mac of what I assume is the client pod.
For 4.8.29, I'm getting the mac response of all the nodes in my cluster.

4.7
[code]

4.8
[code]
Here's my specs:
[code]

Here's the speaker logs when I ran that arp ping from my helper node

[cod

[2022-05-26 15:05] #1395 closed

[2022-05-26 15:05] oribon commented on #1395
Closed this, feel free to reopen if it doesn't work after upgrading.

[2022-05-27 18:08] oomichi opened #1401 "Deployment manifest contains the deprecated PodSecurityPolicy"
**The bug itself, as detailed as you can.**:

https://metallb.universe.tf/installation/#installation-by-manifest shows how to install metallb with manifest like
[code]
The metallb.yaml contains PodSecurityPolicy which has been deprecated since Kubernetes v1.21 and will be removed Kubernetes v1.25 as https://kubernetes.io/docs/concepts/security/pod-security-policy/

I cannot find manifests/ directo

[2022-05-28 17:53] nberlee opened #1402 "MP BGP (ipv6) is broken in main with crds"
Using 0.12 i was able to do MP-BGP with an ipv4 bgp peer (advertising also ipv6). However, when running latest main with crds, I am unable to get MP-BGP working.

The controller says in events it will advertise the ipv6 service on two nodes. But when doing in the corresponded speaker pod frr:
[code]
It is missing a `address-family ipv6 unicast` section and `ipv6 prefix-list 100-v6localpref-prefixe

[2022-05-29 07:05] oribon commented on #1402
Hi :smiley:, can you please share the speakers and controller logs (setting the loglevel parameter to debug before sending the logs if possible), CRs, the services spec when it is not working + the configmap that works when you're using this in 0.12?

[2022-05-29 18:21] nberlee commented on #1402
I runned the speaker in debug and saw noting suspicious. But I already spotted the bug in the code:
https://github.com/metallb/metallb/commit/0f33257c2b1533d211e82746fd5189c292052c95#diff-799fb51a85bb84147c1487eb5d728663c098fffce7f326c412fac1f619860516R272

I am build now a version without the:
[code]
To confirm that this is the problem. If this fixes it, I will create a pull request. If not, i wi

[2022-05-30 07:35] fedepaol commented on #1401
The manifest folder was moved under `config/manifests` to keep `config` as the only entry point for the various configurations.

Manifests are still maintained, and we are now also exposing a kustomize friendly layout.

Regarding the PSP issue, the problem is, we are trying to offer compatibility with the current supported kubernetes versions, and my understanding is:

Pod security admission is be

[2022-05-30 11:24] DerEnderKeks commented on #996
`loadBalancerClass` is now stable in K8s 1.24. According to the docs the current behivior of MetalLB is basically a bug:

MetalLB should at least ignore any services with that field set and maybe eventually support having a custom class specified that it uses itself.

[2022-05-30 11:26] fedepaol commented on #996
I have a branch with the feature ready, we'll try to release it within the next release.

[2022-05-30 12:23] fedepaol opened #1405 "Flake: BGP A service of protocol load balancer should work with two protocols [It] IPV6"
Example here:

https://github.com/metallb/metallb/runs/6653309634?check_suite_focus=true

[2022-05-30 13:07] mateuszdrab commented on #5
Same here, metallb on K3s on a mix of VMware VMs and Raspberry Pis. Using BGP mode due to need to support multiple subnets.

[2022-05-30 19:49] #1373 closed

[2022-05-31 09:41] fedepaol opened #1408 "Build directly in dockerfiles"
We currently build the images using inv and then we copy the binaries inside the container with a COPY instruction.
It'd be better to have the build process as part of the dockerfile itself. That will allow us to get rid of inv when publishing images and delegate everything to GH actions (which can be a follow up of https://github.com/metallb/metallb/pull/1374 )

[2022-05-31 11:48] jtcarnes commented on #1408
I'm working on it and will have an Mr out soon. Do you want me to refactor the ci after the docker file is ready?

[2022-05-31 11:50] fedepaol commented on #1408
That'd be great. I'd merge https://github.com/metallb/metallb/pull/1374 once it's ready and have your on top of it.

[2022-05-31 12:06] ebkde opened #1409 "Support for IPv6 Prefix delegation"
using 0.12.1 I was able to setup a dual stack k3s Cluster in my private network. Due to the common usage of NAT for IPv4 in most internet Routers it is quite simple to access services within that cluster from the internet.
Since NAT66 is quite uncommon and most ISPs only provide dynamic IPv6 prefixes to their customers achieving the same via IPv6 is (at least for me) impossible.
This is not metall

[2022-05-31 12:14] fedepaol commented on #1409
I think this is a dupe of what's being discussed in https://github.com/metallb/metallb/issues/157

[2022-05-31 12:40] ebkde commented on #1409
You're right, this is somehow a duplicate of https://github.com/metallb/metallb/issues/157.
Sorry I didn't recognized the term IPAM. Now I know.

[2022-05-31 12:40] #1409 closed

[2022-05-31 12:41] fedepaol commented on #1409
NP at all! I wasn't totally sure either :P

[2022-05-31 13:00] fedepaol opened #1410 "Bump to go 1.18.3"
This is to track bumping everything to the latest go

[2022-05-31 13:11] pperiyasamy opened #1411 "CI: avoid code duplication in gh workflow actions"
some steps like checkout, install dependencies, lint etc. in the gh workflow jobs are so common, hence it would be appropriate if these are moved into a common place (example: having local actions) and make workflows to consume it.

https://github.com/metallb/metallb/blob/main/.github/workflows/ci.yaml#L22-L41
https://github.com/metallb/metallb/blob/main/.github/workflows/ci.yaml#L133-L153
https:/

[2022-05-31 13:58] changzhi1990 opened #1412 "Layer2 mode failover mechanism in the same network"
Hi,

I'm testing MetalLB functionality and I have a question about the failover mechanism.

For example, I have two IP address pools (192.168.10.10-192.168.10.11, 192.168.20.10-192.168.20.11) in the configmap of MetalLB. One IP address pool for the external network and the second one for the internal network. And each IP address pool have two loadbalancers. Like this:

[code]

If the node1 is the

[2022-05-31 16:22] oomichi commented on #1401
@fedepaol Thank you so much for your answer.
That is perfect, I will follow the metallb changes on the Kubernetes deployment tool project(Kubespray).

[2022-05-31 16:37] fedepaol commented on #1401
nice, thanks!

[2022-06-01 10:33] fedepaol commented on #1412
Hi @changzhi1990 , looks like you want to have different nodes on different networks.
If that is the case, we are implementing node selector in the next release, I'd suggest giving a look at https://github.com/metallb/metallb/blob/main/design/pool-configuration.md#announcing-the-ip-from-a-subset-of-nodes-1

Closing this issue, feel free to reopen if you need to expand or if I missed anything. Than

[2022-06-01 10:33] #1412 closed

[2022-06-01 12:29] #1278 closed

[2022-06-01 18:29] jtcarnes opened #1415 "CI: Suggestion: use helm actions (kind and test) instead of custom scripts"
Currently, the CI uses the custom inv commands, which are less optimized then the github helm actions.

By switching to the helm actions, the CI becomes much easier to understand and is better optimized for testing.

[2022-06-03 06:05] craigcabrey commented on #788
sorry for resurrecting this old thread, but I've hit this issue as well. from what I can tell, my configuration looks fine:

[code]

but I get the mysterious "can't change sharing key" error:
[code]

any insights? thanks!

[2022-06-07 08:26] fedepaol commented on #1388
@duylong ping?

[2022-06-07 09:07] duylong commented on #1388
Sorry for the late reply, I was on vacation, came back today.

Indeed the local preference makes it possible to define weights for the routing.

We favored the metric attribute on our VMs because we can define the weight of an IP with the ip command:
[code]
FRR then dynamically retrieves this metric and our routes are thus prioritized according to the choice of this metric. That's why I wanted to

[2022-06-07 09:12] fedepaol commented on #1388
If I understand correctly, you would apply the weight on the host where metallb is running to have it exposed outside.
I am not particularly fond of having something external to frr (and metallb) interact / drive the route publishing logic, as opposed to having it exposed by metallb configuration (as local pref is).

[2022-06-07 09:19] duylong commented on #1388
Not at all, we currently have FRR daemon on our VMs, independently of MetalLB.

As part of my tests with MetalLB, I would like to have a use similar to what I have on our VMs. I use the configuration of MetalLB, however we cannot yet interact with the metric. As stated previously, I would like to run the 2 systems in parallel.

[2022-06-07 09:21] fedepaol commented on #1388
Ok, now I understand, thanks.
Lets this settle a bit, and see if there's common need for the feature.

[2022-06-07 09:37] fedepaol commented on #1304
Closed by https://github.com/metallb/metallb/pull/1356

[2022-06-07 09:37] #1304 closed

[2022-06-07 09:38] fedepaol commented on #996
Set the target milestone to 0.13

[2022-06-08 14:27] pablopardod opened #1422 "Limit the address pool/ips that each namespace can receive from the LB"
After two weeks of searching I can't find a way to limit a namespace of my Kubernetes platform to only receive ip's from a certain range, either automatically or with the annotation:
`metallb.universe.tf/address-pool: <address_pool_name>`

Context:
My Kubernetes cluster is accessible by different users, which only have access to certain namespaces.
I have configured the address pools in the metall

[2022-06-08 14:31] #1422 closed

[2022-06-08 19:31] jtcarnes opened #1423 "Suggestion: Sign published images with Sigstore/Cosign"
Kubernetes is moving forward with artifact attestation and it's most recent release is signed with the open-source cosign tool from sigstore/linux foundation.

With the refactored CI, it is relatively trivial to add an additional step to sign the artifacts using cosign. Cosign has integration with GH, so the job can authenticate  with it's job credentials to Fulcio.

This process is now in githubs

[2022-06-09 12:51] fedepaol opened #1426 "Add one of those "obsoleter" bots"
We should have one of those bots that close stale issues / prs.

[2022-06-10 12:01] #685 closed

[2022-06-10 12:02] fedepaol commented on #996
closed by https://github.com/metallb/metallb/pull/1417

[2022-06-10 12:02] #996 closed

[2022-06-13 18:57] jtcarnes opened #1428 "Migrate frr components to their own containers"
Currently both frr metrics and reloader are being carried inside of speaker and copied over to other containers during
the init process. This breaks container packaging, requires additional startup time during spinning up and forces speaker
to have a shell, which it doesn't need.

Instead, two separate containers should be created to better package the frr components, frr-reloader and frr-metrics.

[2022-06-14 18:05] penguineer opened #1431 "Existing services with more than two external IPs prevent MetalLB from completing setup"
Following initial situation:
* k3s (1.24.1+k3s1) cluster with three worker nodes
* ingress-nginx running, which got an external IP for each of the worker nodes

I decided to add MetalLB as load balancer, mostly to have a fixed IP for firewall and DNS handling. Setup via Helm chart went well so far, but I got this weird error message:

reason: "nolbIPsIPFamily"
message: "Failed to retrieve lbIPs fa

[2022-06-15 08:00] stefancoetzee-xneelo opened #1432 "Speaker fails to start if port 8080 in use"
With the switch to controller-runtime the speakers are now unable to start up if another process is bound to port 8080.

[2022-06-15 08:25] fedepaol opened #1434 "Controller-runtime metrics"
The controller runtime exposes metrics that could be useful. We are disabling them in https://github.com/metallb/metallb/pull/1433 , as we don't have any prometheus configuration in place to expose them, but it may make sense to expose (and make them configurable) and configure the servicemonitors accordingly.

[2022-06-16 03:08] godzilla-s commented on #248
I have the same issue, you said you dsiable ip6 to fix it, it had any other problem?

[2022-06-16 05:51] tonytjo commented on #248
Yes I just disabled ipv6 in the worker nodes (i.e. the Linux OS level), then the problem has gone.

Hope you could also fix it by this method.

[2022-06-16 11:32] jtcarnes commented on #1434
@fedepaol do you mean servicemonitors or podmonitors? Currently metallb only has podmonitors and no services for controller (only service is for webhook)

[2022-06-16 12:34] #1392 closed

[2022-06-16 21:28] Jean-Daniel commented on #1402
Isn't it the main purpose of MP-BGP. Being able to advertise IPv6 prefixes on a v4 peers ? I'm using it too because having to create 2 sessions per peer would create too much sessions on my router.

Moreover, I have devices where configuring BGP session using link-local addresses is more complex than it should be (and poorly supported),  so it would requires to create IPv6 networks only used to pa

[2022-06-17 09:35] fedepaol commented on #1434
@jtcarnes I meant servicemonitors, you are right

[2022-06-17 10:22] fedepaol commented on #1408
Closing this as the related PR was merged

[2022-06-17 10:22] #1408 closed

[2022-06-18 14:49] fedepaol commented on #1402
@nberlee any news about this?

@nberlee any news about this?

[2022-06-19 02:00] ie-junky opened #1442 "BGP Alternative setup"
I noticed that your BGP setup for calico etc was very complicated. I get around this by using BGP route servers. All BGP speakers talk to the route servers (route reflectors) and the route server just hands out the next-hop address. IGP handles the rest.

[2022-06-19 02:03] ie-junky commented on #1442
Example config:

peers:
- peer-address: 10.0.0.1
  peer-asn: 65535
  my-asn: 65535
- peer-address: 10.0.0.2
  peer-asn: 65535
  my-asn: 65535
address-pools:
- name: prod
  protocol: bgp
  addresses:
  - 192.168.100.0/24
  bgp-advertisements:
  - aggregation-length: 32
    localpref: 100
    communities:
    - prod
- name: dev
  protocol: bgp
  addresses:
  - 100.64.28.0/23
  bgp-advertisements:

[2022-06-19 18:43] nvzard commented on #1320
Hey @fedepaol, I am new here and would like to contribute. Can you please assign this to me?

[2022-06-20 06:59] thetredev commented on #5
Using MetalLB on a k0s cluster running on Arch Linux VMs. All smooth :)

[2022-06-20 07:46] nberlee commented on #1402
Yes, its more broken than only this line.

I have tested setting up v6 neigbors with v4 neigbors, and that works.

This question worries me, configuring MP-BGP makes things easier on all side, as it reduces the amount of config on the router and in K8s..I totally agree with @Jean-Daniel .

And a lot of people want MP-BGP considering the effort in the rejected implementation:
* https://github.com/m

[2022-06-20 08:04] fedepaol commented on #1402
My request was mostly about what you said about filing a PR with the fix.
If not, we're gonna work on it, hopefully before the next release.

[2022-06-20 08:15] #1432 closed

[2022-06-20 15:52] #1410 closed

[2022-06-22 08:25] #1402 closed

[2022-06-22 20:20] fedepaol opened #1447 "L2: annotate a given service with the node it's being advertised from"
It would be helpful for users to be able to understand at a glance which node is advertising the IP.
I think kube-vip is already doing this.

[2022-06-22 20:21] fedepaol opened #1448 "Annotate a service with the pool used to provide its IP"
Especially now that we have multiple configurations tied to the ipaddresspool, it'd be useful to see which pool was used to assign the ip to a given service. It can be done contextually to the ip assignement.

[2022-06-23 12:38] nvzard commented on #1320
Hey @fedepaol ,

I just wanted to clarify that the changes for this PR will involve:

- Replacing all the existing tests which are using `func TestX(t *testing.T) {}` with the Ginkgo and Gomega DSLs.
- Changes in tasks.py to use `ginkgo` and `ginkgo -race` CLI to invoke the tests in CI instead of `go test` and `go test -race`.

Please, correct me if I am wrong or missing something.

[2022-06-23 12:40] fedepaol commented on #1320
The scope of this is only the latter.
It's totally fine (and I like) having plain go test for unit tests and ginkgo tests for e2e. The issue is, when we run ginkgo via go test it doesn't fail if we forget a focused entry, while ginkgo does. That's why I'd like to replace the execution from tasks (which, in turn, is executed in our CI)

[2022-06-23 12:43] nvzard commented on #1320
That makes sense, thanks for clarifying!

[2022-06-24 12:34] mdbooth commented on #168
This is a feature we're interested in for OpenShift, and as we're separately considering integrating MetalLB it might be something we can work on.

As mentioned in an earlier comment, I think static pods could form a key part of the solution here, specifically static speakers co-located with the api servers. The high level outline would be:

* Add the concept of 'local' configuration which does no

[2022-06-24 18:41] jayunit100 opened #1455 "add antrea to validated CNIs"
We have used metallb on antrea in the past, but never formally update it in the docs here https://metallb.universe.tf/installation/network-addons/.

Lets do a quick validation w/ antrea on metallb so we can update the docs.

[2022-06-24 20:05] fedepaol commented on #1455
That'd be great, thanks!

[2022-06-28 00:55] lrosenman opened #1457 "talos v1.1/Kubernetes v.1.24.2/MetalLB gets all kinds of pod security issues, and speaker will NOT run."
Kubernetes: v1.24.2
base OS: Talos V1.1.0
MetalLB: 0.12.1
Warning; I'm just starting with k8s.
When I deploy the manifests from the install doc, the speaker gets:
[code]

I'm not sure what needs fixed here, but it prevents use of MetalLB on this cluster.
kube-proxy in iptables mode (default from talos install)

What can I supply to help here?

[2022-06-28 09:22] fedepaol commented on #1455
Closing this as docs were updated

[2022-06-28 09:22] #1455 closed

[2022-06-28 12:00] fedepaol commented on #1457
I guess it's the new pod security admission.
It's weird because we use pod security policy that I think is still supported in 1.24 (and we have also CI confirming that).
Can you add the following labels to the metallb namespace:

[code]

and retry?

[2022-06-28 12:25] oribon opened #1459 "Extend crds with additionalPrinterColumns"
With the new crds it would be useful to have a bit more info when using `kubectl get`, for example:
[code]
Should be a matter of adding (and thinking about) the relevant `+kubebuilder:printcolumn` markers and re-generating the crds.
https://book.kubebuilder.io/reference/generating-crd.html#additional-printer-columns
https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resourc

[2022-06-28 15:40] #873 closed

[2022-06-28 15:53] lrosenman commented on #1457
and I've removed the exemption after setting the labels as requested above.

[2022-06-28 18:33] fedepaol commented on #1457
And what k8s distribution are you using? I wonder why it's passing CI (and we had to change the test pods to make them compatible with PSA)

[2022-06-28 18:40] fedepaol commented on #1342
pr is merged, closing the issue

[2022-06-28 18:41] fedepaol commented on #1303
Cert-controller is in, closing the issue

[2022-06-28 18:41] #1303 closed

[2022-06-28 19:43] kfox1111 commented on #168
wouldn't just deleting the file work?

Yeah, I guess if it could do a static dir as well as a socket, that would work too.

[2022-06-28 20:55] lrosenman commented on #1457
Talos V1.1.0 K8S 1.24.1

as I said in the initial comment

[2022-06-29 07:24] fedepaol opened #1462 "FRR interaction race condition"
As per https://kubernetes.slack.com/archives/C8FSTGU56/p1656390088462949 , there's a race when:
- the metallb configuration is already in place
- the speaker pod is not started yet
- the speaker container is faster than the reloader to come up (then, the pid file is not avaliable and signaling fails)

[code]

[2022-06-30 09:08] fedepaol opened #1465 "E2E: deploy prometheus and check the metrics collected by prometheus"
Right now, we are checking that the pods are exposing the metrics, but we are not sure all the integration with prometheus works.
In other words, if our podmonitor configuration is broken, CI won't tell us.

What we should do is:
- Deploy the prometheus operator as part of our inv dev-env deployment (potentially, under a parameter)
- Checks the metrics are collected and exposed by prometheus (iirc

[2022-06-30 11:26] fedepaol commented on #168
Tried to wrap my head a bit around this. My take is, the feature is interesting (but I'd like to hear also @gclawes and / or @oribon 's opinion)

As you said, a lot of details are still blurry. Couple of comments that comes into my mind right now:

- MetalLB's job is to drive the traffic to the node. The path between the node and the pods is not covered by MetalLB, so this last mile must be covere

[2022-06-30 12:20] #1462 closed

[2022-07-01 11:25] javydekoning commented on #1050
This was moved to beta in 1.24

Any plans for MetalLB to support this?

[2022-07-03 00:14] jr0dd commented on #1257
Pull that trigger 😬

[2022-07-04 13:34] fedepaol commented on #1118
Had a look at the frr docs, and I think what we are looking for is more related to http://docs.frrouting.org/en/latest/routemap.html#clicmd-set-ip-next-hop-IPV4_ADDRESS and it's corresponding ipv6 address than the sourceip, which is related only to the way we establish the bgp session.

[2022-07-04 20:00] fedepaol commented on #1346
Closed by https://github.com/metallb/metallb/pull/1420

[2022-07-04 20:00] #1346 closed

[2022-07-05 03:15] Davincible commented on #1457
Talos [docs](https://www.talos.dev/v1.1/kubernetes-guides/configuration/pod-security/) by default enforce the baseline policy, and according to the k8s [docs](https://kubernetes.io/docs/concepts/security/pod-security-standards/), baseline doesn't allow the `NET_RAW` policy. CI then probably didn't enforce baseline. Either labeling the namespace or adding it to the Talos exemptions should work, as

[2022-07-05 04:37] protoz commented on #1431
I am having a similar issue but, I am not trying to use multiple external IPs, but something keeps assigning the host ips as well as the specified load balancer port.  I'm at a loss as to what is going on as I can hit those host addresses and get to my resources but that defeats the purpose of a load balancer.

[2022-07-05 07:28] wibed opened #1468 "flag provided but not defined: -cert-service-name"
set up metallb:
1. install manifests -> this works fine
[code]

1.1 install manifests using helm -> this does not work fine
[code]

2. add metallb-system namespace to exemptions
[code]

google point to the only reference i could find https://github.com/metallb/metallb/blob/main/controller/main.go
i tried reinstalling, several times.
helm is inflated using kustomize helm inflator
`kustomize build .

[2022-07-05 09:46] fedepaol commented on #1457
@Davincible right, my explanation to working CI was that the pod security policies we had were enough (as they are not being deprecated yet), but that's clearly not the case (or, it is for kind but not for talos).
In any case, I filed https://github.com/metallb/metallb/pull/1467 which should fix the issue, I plan to get it in before the next release which is gonna happen in these days.

[2022-07-05 14:25] fedepaol commented on #1468
Can you give us the output of the controller pod's yaml?

k get pod -o yaml?

Also, where are you running kustomize from? Which branch?

[2022-07-05 17:59] maxgio92 commented on #5
I'm using MetalLB L2-mode on my home lab of 3-node Rpi k3s cluster.
It works like a charm, from time :-)

[2022-07-06 13:20] VeetiPoutsalo opened #1471 "New Helm chart released before publishing container images"
As of writing this issue, there has been a period of almost an hour where attempting to install the latest Helm release of MetalLB results in an error due to it referring to an unpublished version of the container images.

The v0.13.0 release updated the MetalLB Helm chart (https://artifacthub.io/packages/helm/metallb/metallb) before the v0.13.0 containers had been pushed to quay.io (https://quay.

[2022-07-06 13:21] fedepaol commented on #1471
Apologies, we have some unexpected issues with the changes in our publishing process.
We are removing the release and try to fix it smoothly

[2022-07-06 13:31] fedepaol commented on #1471
Update: now the release is reverted, as the changes to the chart (not sure if artifacthub will reflect that, but we have no control).
We'll make sure the pipeline is working and retry.

[2022-07-06 14:53] fedepaol opened #1473 "Heads up: breaking changes in 0.13.x"
The latest metallb version is now configurable only via CRs.
Please refer to the documentation on how to use the configmap to CR converter (doc here https://metallb.universe.tf/#backward-compatibility)

[2022-07-06 14:54] fedepaol commented on #1257
Done :o

[2022-07-06 14:54] #1257 closed

[2022-07-06 14:58] fedepaol commented on #1471
The new 0.13.2 release is out, hopefully works as expected.
I am gonna keep this issue open to track the fact that we want to have dependencies between the image publishing job and teh helm release job.

Also, if you are automatically upgrading metallb, please be aware of the fact that the configmap won't work anymore: https://github.com/metallb/metallb/issues/1473

[2022-07-06 15:29] PSSGCSim opened #1474 "Image tag on quay.io differs from the one specified in manifest v0.13.2"
Manifest references different tag than is available on quay.io

The manifest contains v0.13.2
https://raw.githubusercontent.com/metallb/metallb/v0.13.2/config/manifests/metallb-native.yaml

but quay.io contains 0.13.2 (without the leading v)
https://quay.io/repository/metallb/controller?tab=tags&tag=latest
https://quay.io/repository/metallb/speaker?tab=tags&tag=latest

This results in failure to p

[2022-07-06 15:32] fedepaol commented on #1474
Ugh, this is another side effect of our latest ci changes.
Will fix it immediately

[2022-07-06 15:45] PSSGCSim commented on #1474
Can confirm upgrading using the manifest now works as expected, thank you

[2022-07-06 16:25] fedepaol opened #1475 "Making the release process testable"
Due to a serie of changes, the 0.13.2 release wasn't as smooth as before.
See https://github.com/metallb/metallb/issues/1474 and https://github.com/metallb/metallb/issues/1471

It must be possible from our CI to test the release process from a fork, eventually changing the repository the images are published to to do a full cycle.

[2022-07-06 16:25] fedepaol commented on #1457
Closing this, the release is out

[2022-07-06 16:25] #1457 closed

[2022-07-06 16:34] gclawes commented on #1475
We should probably allow forks to publish to `ghcr.io`, or just parallel publish there by default

[2022-07-06 16:37] fedepaol commented on #1475
Yep, either that or being able to override the repo

[2022-07-06 16:43] gclawes opened #1476 "0.13.2: multi-arch images broken"
It looks like multi-arch images are broken in 0.13.2:
[code]